params {
    // snippy_core
    snippy_core_mask = null
    snippy_core_mask_char = "X"
    snippy_core_maxhap = 100
    snippy_core_opts = null
}

process {
    withName: 'SNIPPY_CORE' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = params.run_name
        ext.logs_subdir = ""
        ext.logs_use_prefix = true
        ext.process_name = "snippy-core"

        // Tool arguments
        ext.args = [
            "--maxhap ${params.snippy_core_maxhap}",
            "--mask-char ${params.snippy_core_mask_char}",
            params.snippy_core_opts ? "${params.snippy_core_opts}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::bactopia-variants=1.0.4".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-variants:1.0.4--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-variants:1.0.4--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.skip_compression = params.skip_compression
    }
}
