/*
This file includes default process values for snippy-core.
*/

process {
    withName: 'SNIPPY_CORE' {
        // Optional arguments
        ext.args = [
            "--maxhap ${params.snippy_core_maxhap}",
            "--mask-char ${params.snippy_core_mask_char}",
            params.snippy_core_opts ? "${params.snippy_core_opts}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::bactopia-variants=1.0.2".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/bactopia-variants:1.0.2--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/bactopia-variants:1.0.2--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = params.run_name
        ext.logs_subdir = ""
        ext.logs_use_prefix = true
        ext.process_name = "snippy-core"

        // WF specific parameters
        ext.skip_compression = params.skip_compression
    }
}
