// Minimal config for subworkflow-level testing of GTDB
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "gtdb"
        logo_name = "bactopia-tools"
        description = "GTDB-Tk classification of bacterial genomes"
        ext = "fna"
    }
    wf = params.workflow.name
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/gtdbtk/download/module.config"
includeConfig "../../../modules/gtdbtk/classifywf/module.config"
includeConfig "../../../modules/csvtk/concat/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
