// Minimal config for module-level testing of STXTYPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "stxtyper"
        logo_name = "bactopia-tools"
        description = "Identify and type Stx operons from assembled genomic sequences"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
