// Minimal config for module-level testing of EMMTYPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "emmtyper"
        logo_name = "bactopia-tools"
        description = "emm-typing of Streptococcus pyogenes (Group A Strep) assemblies"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
