params {
    // pirate
    pirate_features = 'CDS' //	choose features to use for pangenome construction. Multiple may be entered, separated by a comma
    pirate_pan_opt = '' // Allows the params below to be given as a string
    pirate_para_off = false // switch off paralog identification [default: off]
    pirate_steps = '50,60,70,80,90,95,98'	// % identity thresholds to use for pangenome construction
    pirate_z = false // retain all intermediate files
    use_pirate = false
}

process {
    withName: 'PIRATE' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "pirate"

        // Tool arguments
        ext.args = [
            params.pirate_para_off ? "--para-off" : "",
            params.pirate_pan_opt ? "--pan-opt '${params.pirate_pan_opt}'" : "",
            params.pirate_z ? "-z 2" : "",
            "--steps ${params.pirate_steps}",
            "--features ${params.pirate_features}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::pirate=1.0.5 bioconda::perl-bioperl=1.7.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/pirate:1.0.5--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/pirate%3A1.0.5--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
