/*
This file includes default process values for pirate.
*/

process {
    withName: 'PIRATE' {
        // Optional arguments
        ext.args = [
            "--steps ${params.steps}",
            "--features ${params.features}",
            params.para_off ? "--para-off" : "",
            params.z ? "-z" : "",
            params.pan_opt
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::pirate=1.0.5 bioconda::perl-bioperl=1.7.2".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/pirate:1.0.5--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/pirate%3A1.0.5--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "pirate"
    }
}
