// Minimal config for module-level testing of NGMASTER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "ngmaster"
        logo_name = "bactopia-tools"
        description = "Serotyping and Multi-Antigen Sequence Typing (MAST) of Neisseria gonorrhoeae"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
