params {
    // btyper3
    btyper3_coverage = 70
    btyper3_identity = 50
    btyper3_opts = ""
    btyper3_overlap = 0.7
    btyper3_virulence_coverage = 80
    btyper3_virulence_identity = 70
}

process {
    withName: 'BTYPER3' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "btyper3"

        // Tool arguments
        ext.args = [
            params.btyper3_opts ? "${params.btyper3_opts}" : "",
            "--virulence_identity ${params.btyper3_virulence_identity}",
            "--virulence_coverage ${params.btyper3_virulence_coverage}",
            "--bt_identity ${params.btyper3_identity}",
            "--bt_coverage ${params.btyper3_coverage}",
            "--bt_overlap ${params.btyper3_overlap}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::btyper3=3.4.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/btyper3:3.4.0--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/btyper3:3.4.0--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
