params {
    // BTyper3
    bt_virulence_identity = 70
    bt_virulence_coverage = 80
    bt_identity = 50
    bt_coverage = 70
    bt_overlap = 0.7
    bt_opts = ""
}

process {
    withName: 'BTYPER3' {
        // Optional arguments
        ext.args = [
            params.bt_opts ? "${params.bt_opts}" : "",
            "--virulence_identity ${params.bt_virulence_identity}",
            "--virulence_coverage ${params.bt_virulence_coverage}",
            "--bt_identity ${params.bt_identity}",
            "--bt_coverage ${params.bt_coverage}",
            "--bt_overlap ${params.bt_overlap}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::btyper3=3.4.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/btyper3:3.4.0--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/btyper3:3.4.0--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "btyper3"
    }
}
