/*
This file includes default process values for btyper3.
*/

process {
    withName: 'BTYPER3' {
        // Optional arguments
        ext.args = [
            params.bt_opts ? "${params.bt_opts}" : "",
            "--virulence_identity ${params.bt_virulence_identity}",
            "--virulence_coverage ${params.bt_virulence_coverage}",
            "--bt_identity ${params.bt_identity}",
            "--bt_coverage ${params.bt_coverage}",
            "--bt_overlap ${params.bt_overlap}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::btyper3=3.4.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/btyper3:3.4.0--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/btyper3:3.4.0--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "btyper3"
    }
}
