/*
This file includes default process values for btyper3.
*/

process {
    withName: 'BTYPER3' {
        // Optional arguments
        ext.args = [
            "--virulence_identity ${params.bt_virulence_identity}",
            "--virulence_coverage ${params.bt_virulence_coverage}",
            "--identity ${params.bt_identity}",
            "--coverage ${params.bt_coverage}",
            "--overlap ${params.bt_overlap}",
            params.bt_opts ? "${params.bt_opts}" : ""
        ].join(' ')

        // Environment information
        ext.env = [
            toolName: "bioconda::btyper3=3.4.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/btyper3:3.4.0--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/btyper3:3.4.0--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "btyper3"
    }
}
