/*
This file includes default process values for mobsuite.
*/

process {
    withName: 'MOBSUITE_RECON' {
        // Optional arguments
        ext.args = [
            "--max_contig_size ${params.mb_max_contig_size}",
            "--min_length ${params.mb_min_contig_size}",
            "--max_plasmid_size ${params.mb_max_plasmid_size}",
            "${params.mobsuite_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::mob_suite=3.1.9".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/mob_suite:3.1.9--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/mob_suite:3.1.9--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mobsuite"
    }
}
