/*
This file includes default values for shared parameters.
*/

params {
    // Annotate Genome Parameters
    compliant = false
    centre = 'Bactopia'
    addmrna = false
    rawproduct = null
    cdsrnaolap = null
    prokka_evalue = '1e-09'
    prokka_coverage = 80
    nogenes = false
    norrna = null
    notrna = null
    rnammer = null
    rfam = null
    skip_prodigal_tf = false
}
