/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // TBProfiler
    tb_call_whole_genome = false
    tb_mapper = "bwa"
    tb_caller = "freebayes"
    tb_calling_params = ""
    tb_suspect = false
    tb_no_flagstat = false
    tb_no_delly = false
    tb_opts = ""
}

process {
    withName: 'TBPROFILER_PROFILE' {
        // Optional arguments
        ext.args = [
            params.tb_call_whole_genome ? "--call_whole_genome" : "",
            params.tb_calling_params ? "--calling_params ${params.tb_calling_params}" : "",
            params.tb_suspect ? "--suspect" : "",
            params.tb_no_flagstat ? "--no_flagstat" : "",
            params.tb_no_delly ? "--no_delly" : "",
            "--mapper ${params.tb_mapper}",
            "--caller ${params.tb_caller}",
            params.tb_opts ? "${params.tb_opts}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::tb-profiler=6.6.5".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/tb-profiler:6.6.5--pyhdfd78af_1"
        ext.image = "https://depot.galaxyproject.org/singularity/tb-profiler:6.6.5--pyhdfd78af_1"
        ext.condaDir = "${params.condadir}"

        // Additional parameters
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tbprofiler"
    }
}
