params {
    // tbprofiler_profile
    tbprofiler_call_whole_genome = false
    tbprofiler_caller = "freebayes"
    tbprofiler_calling_params = ""
    tbprofiler_mapper = "bwa"
    tbprofiler_no_delly = false
    tbprofiler_no_flagstat = false
    tbprofiler_opts = ""
    tbprofiler_suspect = false
}

process {
    withName: 'TBPROFILER_PROFILE' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tbprofiler"

        // Tool arguments
        ext.args = [
            params.tbprofiler_call_whole_genome ? "--call_whole_genome" : "",
            params.tbprofiler_calling_params ? "--calling_params ${params.tbprofiler_calling_params}" : "",
            params.tbprofiler_suspect ? "--suspect" : "",
            params.tbprofiler_no_flagstat ? "--no_flagstat" : "",
            params.tbprofiler_no_delly ? "--no_delly" : "",
            "--mapper ${params.tbprofiler_mapper}",
            "--caller ${params.tbprofiler_caller}",
            params.tbprofiler_opts ? "${params.tbprofiler_opts}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::tb-profiler=6.7.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/tb-profiler:6.7.0--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/tb-profiler:6.7.0--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
