/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'TBPROFILER_PROFILE' {
        ext {
            /* --------------------------------
               Optional arguments
            -------------------------------- */
            args = [
                params.call_whole_genome ? "--call_whole_genome" : "",
                "--mapper ${params.mapper}",
                "--caller ${params.caller}",
                params.calling_params ? "--calling_params '${params.calling_params}'" : "",
                params.suspect ? "--suspect" : "",
                params.no_flagstat ? "--no_flagstat" : "",
                params.no_delly ? "--no_delly" : "",
                params.tbprofiler_opts
            ].join(' ').trim()

            /* --------------------------------
               Environment information
            -------------------------------- */
            conda_tools = "bioconda::tb-profiler=6.6.3"
            conda_name = conda_tools.replace("=", "-").replace(":", "-").replace(" ", "-")
            conda_env = file("${params.condadir}/${conda_name}").exists() ? "${params.condadir}/${conda_name}" : conda_tools

            /* --------------------------------
               Additional parameters
            -------------------------------- */
            prefix = "${meta.id}.${params.wf}"
            rundir = "${task.ext.prefix}.${task.ext.process_name}"
            subdir = ""
            logs_subdir = ""
            process_name = "tbprofiler"
        }
    }
}
