params {
    // scoary
    scoary_correction = "I"
    scoary_p_value_cutoff = 0.05
    scoary_permute = 0
    scoary_start_col = 15
    scoary_traits = null
}

process {
    withName: 'SCOARY' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "scoary"

        // Tool arguments
        ext.args = [
            params.scoary_permute > 0 ? "--permute ${params.scoary_permute}" : "",
            "--p_value_cutoff ${params.scoary_p_value_cutoff}",
            "--correction ${params.scoary_correction}",
            "--start_col ${params.scoary_start_col}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::scoary=1.6.16".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/scoary:1.6.16--py_2"
        ext.image = "https://depot.galaxyproject.org/singularity/scoary:1.6.16--py_2"
        ext.condaDir = "${params.condadir}"
    }
}
