/*
This file includes default process values for scoary.
*/

process {
    withName: 'SCOARY' {
        // Optional arguments
        ext.args = [
            "--p_value_cutoff ${params.p_value_cutoff}",
            "--correction ${params.correction}",
            params.permute > 0 ? "--permute ${params.permute}" : "",
            "--start_col ${params.start_col}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::scoary=1.6.16".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/scoary:1.6.16--py_2",
            image: "https://depot.galaxyproject.org/singularity/scoary:1.6.16--py_2",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "scoary"
    }
}
