// Minimal config for module-level testing of BTYPER3
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "btyper3"
        logo_name = "bactopia-tools"
        description = "In silico typing and characterization of Bacillus cereus group genomes"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
