/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'SRAHUMANSCRUBBER_INITDB' {
        ext {
            /* --------------------------------
               Optional arguments
            -------------------------------- */
            args = ""

            /* --------------------------------
               Environment information
            -------------------------------- */
            conda_tools = "bioconda::sra-human-scrubber=2.2.1"
            conda_name = conda_tools.replace("=", "-").replace(":", "-").replace(" ", "-")
            conda_env = file("${params.condadir}/${conda_name}").exists() ? "${params.condadir}/${conda_name}" : conda_tools

            /* --------------------------------
               Additional parameters
            -------------------------------- */
            prefix = "${params.wf}.${task.ext.process_name}"
            rundir = "${task.ext.prefix}.${task.ext.process_name}"
            subdir = ""
            logs_subdir = ""
            process_name = "sra-human-scrubber-initdb"
        }
    }
}
