/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'SRAHUMANSCRUBBER_INITDB' {
        storeDir = params.datasets_cache

        // Optional arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::sra-human-scrubber=2.2.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/sra-human-scrubber:2.2.1--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/sra-human-scrubber:2.2.1--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Additional parameters
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sra-human-scrubber"
    }
}
