params {
    // checkm2_predict
    checkm2_allmodels = null
    checkm2_general = null
    checkm2_genes = null
    checkm2_lowmem = null
    checkm2_opts = ""
    checkm2_specific = null
}

process {
    withName: 'CHECKM2_PREDICT' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "checkm2"

        // Tool arguments
        ext.args = [
            params.checkm2_general ? "--general" : "",
            params.checkm2_specific ? "--specific" : "",
            params.checkm2_allmodels ? "--allmodels" : "",
            params.checkm2_genes ? "--genes" : "",
            "${params.checkm2_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::checkm2=1.1.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/checkm2:1.1.0--pyh7e72e81_1"
        ext.image = "https://depot.galaxyproject.org/singularity/checkm2:1.1.0--pyh7e72e81_1"
        ext.condaDir = "${params.condadir}"
    }
}
