/*
This file includes default parameter values.
*/

params {
    // kleborate
    skip_resistance = false
    skip_kaptive = false
    min_identity = 90.0
    kleborate_min_coverage = 80.0
    min_spurious_identity = 80.0
    min_spurious_coverage = 40.0
    min_kaptive_confidence = 'Good'
    force_index = false
}
