/*
This file includes default parameter values.
*/

params {
    // sylph
    slyph_db = null
    // sketching
    sylph_k = 31
    sylph_min_spacing = 30
    sylph_subsample_rate = 200
    // profiling
    sylph_min_ani = 95
    sylph_min_kmers = 50
    sylph_min_correct = 3
    sylph_estimate_unknown = false
    sylph_opts = ""
}
