params {
    // mykrobe_predict
    mykrobe_kmer = 21
    mykrobe_min_depth = 1
    mykrobe_model = "kmer_count"
    mykrobe_opts = ""
    mykrobe_report_all_calls = false
    mykrobe_species = ""
}

process {
    withName: 'MYKROBE_PREDICT' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mykrobe"

        // Tool arguments
        ext.args = [
            params.mykrobe_report_all_calls ? "--report_all_calls" : "",
            "--kmer ${params.mykrobe_kmer}",
            "--min_depth ${params.mykrobe_min_depth}",
            "--model ${params.mykrobe_model}",
            "${params.mykrobe_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::mykrobe=0.13.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/mykrobe:0.13.0--py312h20b014d_5"
        ext.image = "https://depot.galaxyproject.org/singularity/mykrobe:0.13.0--py312h20b014d_5"
        ext.condaDir = "${params.condadir}"
    }
}
