process {
    withName: 'MYKROBE_PREDICT' {
        // Optional arguments
        ext.args = {[
            "--kmer ${params.kmer}",
            "--min_depth ${params.min_depth}",
            "--model ${params.model}",
            params.report_all_calls ? "--report_all_calls" : "",
            params.mykrobe_opts
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::mykrobe=0.13.0"
        ext.singularity = "https://depot.galaxyproject.org/singularity/mykrobe:0.13.0--py38h2214202_0"
        ext.docker = "quay.io/biocontainers/mykrobe:0.13.0--py38h2214202_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
