/*
This file includes default process values for mykrobe.
*/

process {
    withName: 'MYKROBE_PREDICT' {
        // Optional arguments
        ext.args = [
            params.report_all_calls ? "--report_all_calls" : "",
            "--kmer ${params.kmer}",
            "--min_depth ${params.min_depth}",
            "--model ${params.model}",
            "${params.mykrobe_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::mykrobe=0.13.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/mykrobe:0.13.0--py38h2214202_0",
            image: "https://depot.galaxyproject.org/singularity/mykrobe:0.13.0--py38h2214202_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mykrobe"
    }
}
