/*
This file includes default values for shared parameters.
*/

params {
    // BLAST Parameters
    blastx_query = null
    blastx_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    blastx_opts = ""
    blastx_qcov_hsp_perc = 50
    blastx_max_target_seqs = 2000
}
