params {
    // Bactopia
    bactopia = null
    prefix = "bactopia"
    max_time = 120
    max_memory = 32
    cpus = 4
    outdir = './'
    compress = false
    keep_all_files = false
    help = null
    help_all = null
    version = null
    nfdir = false
    force = false
    sleep_time = 5
    publish_mode = "copy"
    verbose = false
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    cleanup_workdir = false
    registry = "dockerhub"
    singularity_cache = "$HOME/.bactopia/singularity"
    queue = 'general'
    disable_scratch = false

    // AWS Batch
    aws_region = 'us-east-1'
    aws_volumes = '/opt/conda:/mnt/conda'
    aws_cli_path = '/home/ec2-user/conda/bin/aws'
    aws_upload_storage_class = 'STANDARD'
    aws_max_parallel_transfers = 8
    aws_delay_between_attempts = 15
    aws_max_transfer_attempts = 3
    aws_max_retry = 4
    aws_ecr_registry = null
    
    // bactopia tools helper
    force_rebuild = null
    skip_conda = null
    verbose = null
    silent = null

    // Summary
    gold_coverage = 100
    gold_quality = 30
    gold_read_length = 95
    gold_contigs = 100
    silver_coverage = 50
    silver_quality = 20
    silver_read_length = 75
    silver_contigs = 200
    min_coverage = 20
    min_quality = 12
    min_read_length = 49 
    max_contigs = 500
    min_genome_size = null
    max_genome_size = null

    // Ariba Summary
    all_hits = false

    //AMRFinder+ Summary
    subclass = false

}
