params {
    // Bactopia
    bactopia = null
    prefix = "bactopia"
    max_time = 120
    max_memory = 32
    cpus = 4
    outdir = './'
    compress = false
    keep_all_files = false
    help = null
    help_all = null
    version = null
    nfdir = false
    force = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    publish_mode = "copy"
    verbose = false
    nfconfig = null

    // Summary
    gold_coverage = 100
    gold_quality = 30
    gold_read_length = 95
    gold_contigs = 100
    silver_coverage = 50
    silver_quality = 20
    silver_read_length = 75
    silver_contigs = 200
    min_coverage = 20
    min_quality = 12
    min_read_length = 49 
    max_contigs = 500
    min_genome_size = null
    max_genome_size = null

    // Ariba Summary
    all_hits = false

    //AMRFinder+ Summary
    subclass = false

}
