/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // legsta
    legsta_noheader = false
}

process {
    withName: 'LEGSTA' {
        // Optional arguments
        ext.args = [
            params.legsta_noheader ? "--noheader" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::legsta=0.5.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/legsta:0.5.1--hdfd78af_2"
        ext.image = "https://depot.galaxyproject.org/singularity/legsta:0.5.1--hdfd78af_2"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "legsta"
    }
}
