/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // ECTyper
    ectyper_opid = 90
    ectyper_hpid = 95
    ectyper_opcov = 90
    ectyper_hpcov = 50
    ectyper_verify = false
    ectyper_print_alleles = false
}

process {
    withName: 'ECTYPER' {
        // Optional arguments
        ext.args = [
            params.ectyper_verify ? "--verify" : "",
            params.ectyper_print_alleles  ? "-s" : "",
            "-opid ${params.ectyper_opid}",
            "-opcov ${params.ectyper_opcov}",
            "-hpid ${params.ectyper_hpid}",
            "-hpcov ${params.ectyper_hpcov}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::ectyper=2.0.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ectyper:2.0.0--pyhdfd78af_4"
        ext.image = "https://depot.galaxyproject.org/singularity/ectyper:2.0.0--pyhdfd78af_4"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ectyper"
    }
}
