/*
This file includes default process values for ectyper.
*/

process {
    withName: 'ECTYPER' {
        // Optional arguments
        ext.args = [
            "-opid ${params.opid}",
            "-hpid ${params.hpid}",
            "-opcov ${params.opcov}",
            "-hpcov ${params.hpcov}",
            params.verify ? "--verify" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::ectyper=1.0.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/ectyper:1.0.0--pyhdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/ectyper:1.0.0--pyhdfd78af_1",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ectyper"
    }
}
