params {
    // LisSero
    lissero_min_id = 95.0
    lissero_min_cov = 95.0
}

process {
    withName: 'LISSERO' {
        // Optional arguments
        ext.args = [
            "--min_id ${params.lissero_min_id}",
            "--min_cov ${params.lissero_min_cov}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::lissero=0.4.9 conda-forge::python=3.9.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/lissero:0.4.9--py_0"
        ext.image = "https://depot.galaxyproject.org/singularity/lissero:0.4.9--py_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "lissero"
    }
}
