process {
    withName: 'LISSERO' {
        // Optional arguments
        ext.args = {[
            "--min_id ${params.min_id}",
            "--min_cov ${params.min_cov}"
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::lissero=0.4.9 conda-forge::python=3.9.2"
        ext.singularity = "https://depot.galaxyproject.org/singularity/lissero:0.4.9--py_0"
        ext.docker = "quay.io/biocontainers/lissero:0.4.9--py_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
