/*
This file includes default parameter values for busco.
*/

params {
    // BUSCO
    busco_lineage = "bacteria_odb10"
    busco_evalue = "1e-03"
    busco_limit = 3
    busco_metaeuk_parameters = ""
    busco_metaeuk_rerun_parameters = ""
    busco_use_augustus = false
    busco_augustus_parameters = ""
    busco_augustus_species = ""
    busco_augustus_long = false
    run_name = "${params.workflow.name}-${params.busco_lineage}"
}
