/*
This file includes default process values for busco.
*/

process {
    withName: 'BUSCO' {
        // Optional arguments
        ext.args = [
            params.busco_metaeuk_parameters ? "--metaeuk_parameters '${params.busco_metaeuk_parameters}'" : "",
            params.busco_metaeuk_rerun_parameters ? "--metaeuk_rerun_parameters '${params.busco_metaeuk_rerun_parameters}'" : "",
            params.busco_use_augustus ? "--augustus" : "",
            params.busco_augustus_parameters ? "--augustus_parameters '${params.busco_augustus_parameters}'" : "",
            params.busco_augustus_species ? "--augustus_species '${params.busco_augustus_species}'" : "",
            params.busco_augustus_long ? "--long" : "",
            "--evalue ${params.busco_evalue}",
            "--limit ${params.busco_limit}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::busco=6.0.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/busco:6.0.0--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/busco:6.0.0--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = params.busco_lineage
        ext.logs_subdir = ""
        ext.logs_use_prefix = true
        ext.process_name = "busco"

        // WF specific parameters
        ext.busco_lineage = params.busco_lineage
    }
}
