/*
This file includes default process values for rgi/heatmap.
*/

process {
    withName: 'RGI_HEATMAP' {
        // Optional arguments
        ext.args = [
            params.rgi_frequency ? "--frequency" : "",
            params.rgi_category ? "--category ${params.rgi_category}" : "",
            params.rgi_cluster ? "--cluster ${params.rgi_cluster}" : "",
            "--display ${params.rgi_display}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        
        // Environment information
        ext.env = [
            toolName: "bioconda::rgi=6.0.3".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/rgi:6.0.3--pyha8f3691_0",
            image: "https://depot.galaxyproject.org/singularity/rgi:6.0.3--pyha8f3691_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = "rgi-heatmap"
        ext.process_name = "rgi_heatmap"
    }
}
