/*
This file includes default process values for rgi/heatmap.
*/

process {
    withName: 'RGI_HEATMAP' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.env = [
            toolName: "bioconda::rgi=6.0.3".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/rgi:6.0.3--pyha8f3691_0",
            image: "https://depot.galaxyproject.org/singularity/rgi:6.0.3--pyha8f3691_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "rgi_heatmap"
    }
}
