// Minimal config for module-level testing of SSUISSERO
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "ssuissero"
        logo_name = "bactopia-tools"
        description = "Serotype prediction of Streptococcus suis assemblies"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
