params {
    // sistr
    sistr_full_cgmlst = false
}

process {
    withName: 'SISTR' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sistr"

        // Tool arguments
        ext.args = [
            params.sistr_full_cgmlst ? "--use-full-cgmlst-db" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::sistr_cmd=1.1.3".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/sistr_cmd:1.1.3--pyhdc42f0e_2"
        ext.image = "https://depot.galaxyproject.org/singularity/sistr_cmd:1.1.3--pyhdc42f0e_2"
        ext.condaDir = "${params.condadir}"
    }
}
