/*
This file includes default process configurations
*/

process {
    withName: 'SISTR' {
        // Optional arguments
        ext.args = {[
            params.full_cgmlst ? "--use-full-cgmlst-db" : ""
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "${moduleDir}/environment.yml"
        ext.singularity = 'https://depot.galaxyproject.org/singularity/sistr_cmd:1.1.3-pyhdc42f0e_0'
        ext.docker = 'quay.io/biocontainers/sistr_cmd:1.1.3--pyhdc42f0e_0'

        // Misc
        ext.prefix = { "${meta.id}" }
        ext.rundir = "${task.process}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = { "${task.process}".replace(":", "_") }
    }
}
