// Minimal config for module-level testing of DEFENSEFINDER_UPDATE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "defensefinder"
        logo_name = "bactopia-tools"
        description = "Download and package the DefenseFinder and CasFinder model databases"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
