// Minimal config for module-level testing of PIRATE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "pirate"
        logo_name = "bactopia-tools"
        description = "Pangenome Identification and Reconciliation Analysis Tool for Epidemiology"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
