params {
    // traitar_download
    download_traitar = false
    traitar_db = ""
}

process {
    withName: 'TRAITAR_DOWNLOAD' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "traitar_download"
        publishDir = [[
            path: params.traitar_db,
            mode: params.publish_dir_mode,
            overwrite: true
        ]]

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::traitar=3.0.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/traitar:3.0.1--pyhdfd78af_1"
        ext.image = "https://depot.galaxyproject.org/singularity/traitar:3.0.1--pyhdfd78af_1"
        ext.condaDir = "${params.condadir}"
    }
}
