/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // RGI
    rgi_use_diamond = false
    rgi_include_loose = false
    rgi_exclude_nudge = false
    rgi_category = ""
    rgi_frequency = false
    rgi_cluster = ""
    rgi_display = "plain"
}

process {
    withName: 'RGI_MAIN' {
        // Optional arguments
        ext.args = [
            params.rgi_use_diamond ? "--alignment_tool DIAMOND" : "--alignment_tool BLAST",
            params.rgi_include_loose ? "--include_loose" : "",
            params.rgi_exclude_nudge ? "--exclude_nudge" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::rgi=6.0.5".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/rgi:6.0.5--pyh05cac1d_0"
        ext.image = "https://depot.galaxyproject.org/singularity/rgi:6.0.5--pyh05cac1d_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "rgi_main"
    }
}
