params {
    // clonalframeml
    clonalframeml_emsim = 100
    clonalframeml_opts = ""
    skip_recombination = false
}

process {
    withName: 'CLONALFRAMEML' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "clonalframeml"

        // Tool arguments
        ext.args = [
            "-emsim ${params.clonalframeml_emsim}",
            "${params.clonalframeml_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::clonalframeml=1.12 bioconda::maskrc-svg=0.5".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/mulled-v2-f5c68f1508671d5744655da9b0e8b609098f4138:7e089189af7822a6a18245830639dbfe11a4c277-0"
        ext.image = "https://depot.galaxyproject.org/singularity/mulled-v2-f5c68f1508671d5744655da9b0e8b609098f4138:7e089189af7822a6a18245830639dbfe11a4c277-0"
        ext.condaDir = "${params.condadir}"
    }
}
