/*
This file includes default process values for clonalframeml.
*/

process {
    withName: 'CLONALFRAMEML' {
        // Optional arguments
        ext.args = [
            "-emsim ${params.emsim}", 
            "${params.clonal_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::clonalframeml=1.12-bioconda::maskrc-svg=0.5".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/mulled-v2-f5c68f1508671d5744655da9b0e8b609098f4138:7e089189af7822a6a18245830639dbfe11a4c277-0",
            image: "https://depot.galaxyproject.org/singularity/mulled-v2-f5c68f1508671d5744655da9b0e8b609098f4138:7e089189af7822a6a18245830639dbfe11a4c277-0",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "clonalframeml"
    }
}
