/*
This file includes default process values for bracken.
*/

process {
    withName: 'BRACKEN' {
        // Optional arguments
        ext.args = [
            params.kraken2_quick_mode ? "--quick" : "",
            params.kraken2_use_mpa_style ? "--use-mpa-style" : "",
            params.kraken2_report_zero_counts ? "--report-zero-counts" : "",
            params.kraken2_report_minimizer_data ? "--report-minimizer-data" : "",
            params.kraken2_use_names ? "--use-names" : "",
            params.kraken2_memory_mapping ? "--memory-mapping" : "",
            "--confidence ${params.kraken2_confidence}",
            "--minimum-hit-groups ${params.kraken2_minimum_hit_groups}",
            "--minimum-base-quality ${params.kraken2_minimum_base_quality}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        ext.args2 = [
            "-l ${params.bracken_level}",
            "-t ${params.bracken_threshold}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::bactopia-teton=1.1.1".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/bactopia-teton:1.1.1--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.1--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "bracken"

        // Params in the modules
        ext.bracken_read_length = params.bracken_read_length
        ext.kraken2_keep_raw_output = params.kraken2_keep_raw_output
        ext.kraken2_keep_filtered_reads = params.kraken2_keep_filtered_reads
        ext.skip_krona = params.bracken_skip_krona
        ext.bracken_max_secondary_percent = params.bracken_max_secondary_percent
    }
}
