// Minimal config for module-level testing of QUAST
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "quast"
        logo_name = "bactopia-tools"
        description = "Quality Assessment Tool for Genome Assemblies"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
