// main script name
manifest {
    author = 'Robert A. Petit III'
    name = 'Bactopia'
    homePage = 'https://github.com/staphopia/bactopia-ap'
    description = 'A generic pipeline for bacterial genomics.'
    mainScript = 'bactopia.nf'
    version = '0.0.3'
    nextflowVersion = '>=19'
}




// Reporting configuration
timeline.enabled = true
report.enabled = true
trace {
    enabled = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem'
}

// Process configuration
process.ext.template = {"${task.process}.sh"}

// Conda configuration
conda.cacheDir = "${baseDir}/conda/cache/envs"

// Includes
includeConfig "${baseDir}/configs/params.config"
includeConfig "${baseDir}/configs/profiles.config"
