appdirs==1.4.3
beautifulsoup4==4.7.1
biopython==1.73
chardet==3.0.4
coloredlogs==10.0
executor==21.3
fasteners==0.14.1
humanfriendly==4.18
idna==2.8
lxml==4.3.3
monotonic==1.5
ncbi-genome-download==0.2.9
property-manager==2.3.1
requests==2.21.0
urllib3>=1.24.2
verboselogs==1.7
