/*
This file includes default parameter values.
*/

params {
    // Prokka
    prokka_prodigal_tf = null
    prokka_proteins = "${baseDir}/data/proteins.faa"
    prokka_compliant = false
    prokka_centre = 'Bactopia'
    prokka_evalue = "1e-09"
    prokka_coverage = 80
    prokka_opts = ""
    prokka_debug = false
}
