/*
This file includes default process values for prokka.
*/

process {
    withName: 'PROKKA' {
        // Optional arguments
        ext.args = [
            "--evalue ${params.prokka_evalue}",
            "--coverage ${params.prokka_coverage}",
            "--centre ${params.prokka_centre}",
            "${params.prokka_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::prokka=1.14.6".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/prokka:1.14.6--pl5321hdfd78af_5"
        ext.image = "https://depot.galaxyproject.org/singularity/prokka:1.14.6--pl5321hdfd78af_5"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample" 
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "prokka"

        // WF specific parameters
        ext.compliant = params.prokka_compliant
        ext.centre = params.prokka_centre
        ext.prokka_debug = params.prokka_debug
        ext.skip_compression = params.skip_compression
    }
}
