/*
This file includes default values for shared parameters.
*/

params {
    // Assemble Genome Parameters
    shovill_assembler = 'skesa'
    dragonflye_assembler = 'flye'
    use_unicycler = false
    min_contig_len = 500
    min_contig_cov = 2
    contig_namefmt = null
    shovill_opts = null
    shovill_kmers = null
    trim = null
    no_stitch = null
    no_corr = null
    unicycler_mode = 'normal'
    min_polish_size = 10000
    min_component_size = 1000
    min_dead_end_size = 1000
    no_miniasm = false
    no_polish = false
    no_rotate = false
    racon_steps = 1
    medaka_steps = 0
    medaka_model = ''
}
