process {
    // Defaults
    cpus = {check_max(1, 'cpus' )}
    memory = {check_max( 1.GB * task.attempt, 'memory' )}
    time = {check_max( 30.m * task.attempt, 'time' )}
    errorStrategy = 'retry'
    maxRetries = 1

    withName: 'reconstruct_16s' {
        cpus = {check_max(Math.min(4, params.cpus), 'cpus')}
    }

    withName: 'align_16s,create_phylogeny' {
        cpus = {check_max(params.cpus, 'cpus')}
    }
}
