params {
    // Bactopia
    bactopia = null
    prefix = "phyloflash"
    max_time = 1440
    max_memory = 32
    cpus = 4
    outdir = './'
    compress = false
    keep_all_files = false
    help = null
    version = null
    publish_mode = 'copy'
    force = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    skip_phylogeny = false
    exclude = null
    include = null
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    cleanup_workdir = false

    // phyloFlash
    phyloflash = null
    taxlevel = 6 // genus
    phyloflash_opts = ""
    allow_multiple_16s = false

    // MAFFT
    align_all = false
    mafft_opts = ""

    // IQ-TREE
    m = "MFP" // automatically determines best-fit model for your data
    bb = 1000 // Ultrafast bootstrap replicates
    alrt = 1000 // SH-like approximate likelihood ratio test (SH-aLRT) replicates
    asr = false // Ancestral state reconstruction by empirical Bayes
    iqtree_opts = ""
}
