// bactopia-lint: ignore MC009,JS004
params {
    // ncbigenomedownload
    accession = null
    accessions = null
    assembly_level = "complete"
    format = "fasta"
    keep_downloads = false
    kingdom = "bacteria"
    limit = null
    max_retry = 10
    section = "refseq"
    species = null
}

process {
    withName: 'NCBIGENOMEDOWNLOAD' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ncbigenomedownload"

        // Tool arguments
        ext.args = [
            params.kingdom,
            "--section ${params.section}",
            "--formats ${params.format}",
            "--assembly-levels ${params.assembly_level}",
            "--verbose",
            params.enable_conda ? "" : "--no-cache"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::ncbi-genome-download=0.3.3".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ncbi-genome-download:0.3.3--pyh7cba7a3_0"
        ext.image = "https://depot.galaxyproject.org/singularity/ncbi-genome-download:0.3.3--pyh7cba7a3_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.max_retry = params.max_retry
        ext.meta_id = "ncbigenomedownload"
        ext.meta_limit = params.limit
        ext.meta_accession = params.accession
        ext.meta_species = params.species
    }
}
