process {
    withName: 'NCBIGENOMEDOWNLOAD' {
        // Optional arguments
        ext.args = {[
            "--format ${params.format}",
            "--section ${params.section}",
            "--assembly-level ${params.assembly_level}",
            "--kingdom ${params.kingdom}"
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::ncbi-genome-download=0.3.3"
        ext.singularity = "https://depot.galaxyproject.org/singularity/ncbi-genome-download:0.3.3--pyh7cba7a3_0"
        ext.docker = "quay.io/biocontainers/ncbi-genome-download:0.3.3--pyh7cba7a3_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
