// Minimal config for module-level testing of PHISPY
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "phispy"
        logo_name = "bactopia-tools"
        description = "Predict prophage regions integrated into bacterial genomes"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
