<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">Bactopia</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#">Summary</a>
            <a class="navbar-item" href="#plots">Plots</a>
            <a class="navbar-item" href="#exclusions">Exclusions</a>
        </div>
    </div>
</nav>