<section class="section">
    <div class="container">
        <h1 id="plots" class="title is-spaced">Bactopia Summary</h1>
        <h2 class="subtitle">
            Total Samples: {{data.counts.total}}
        </h2>
        <div class="columns justify-content-around">
            <div class="column is-narrow countBox" style="background-color: #D3B616;">
                {{data.counts.gold}}
            </div>
            <div class="column is-narrow countBox" style="background-color: #A6A6A6;">
                {{data.counts.silver}}
            </div>
            <div class="column is-narrow countBox" style="background-color: #E09A5E;">
                {{data.counts.bronze}}
            </div>
            <div class="column is-narrow countBox" style="background-color: #dc3545;">
                {{data.counts.exclude}}
            </div>
        </div>
    </div>
</div>
