<section class="section">
    <div class="container">
        <h1 id="plots" class="title is-spaced">Plots</h1>
        <h2 class="subtitle">
            These plots give an overview of sequencing and assembly quality for each group.
        </h2>

        <h4 class="title is-4 is-spaced">Estimated Coverage</h4>
        <p>Coverage was estimated by dividing the total number of basepairs by the genome size (either given or estimated).</p>
        <div id='plot-coverage'></div>

        <h4 class="title is-4 is-spaced">Contig Count</h4>
        <div id='plot-contigs'></div>

        <h4 class="title is-4 is-spaced">N50 Contig Size</h4>
        <div id='plot-n50'></div>
    </div>
</section>