process {
    withName: 'MCRONI' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.conda = "bioconda::mcroni=1.0.4"
        ext.singularity = "https://depot.galaxyproject.org/singularity/mcroni:1.0.4--pyh5e36f6f_0"
        ext.docker = "quay.io/biocontainers/mcroni:1.0.4--pyh5e36f6f_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
