manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing Illumina sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '1.6.0'
    nextflowVersion = '>=19'
}


profiles {

    conda {
        process {
            withName: call_variants {
                    conda = "${baseDir}/../../../conda/envs/call_variants-1.7.x"}
                }
          }

    docker {
            process {
            withName: call_variants {
                    container = "ghcr.io/bactopia/call_variants:1.6.0"}

                    }
            }
    test {
        process {
            withName: call_variants {
                cpus = 2
                memory = "10 GB"
                queue = 'long'
            }

            }
        env {
            REFERENCES = ["reference"]
            VERSION = "1.6.0"
            snippy_ram = 2
            outdir = "test_output"
            sample = "TEST_SAMPLE"
            final_sample_type = "paired-end"
            single_end = "test"
            run_type = "fastqs"
        }

    }
}
