/*
This file includes default values for shared parameters.
*/

params {
    // QC Reads Parameters
    // Illumina Reads
    skip_qc = false
    skip_qc_plots = false
    skip_error_correction = false
    adapters = "${baseDir}/data/EMPTY_ADAPTERS"
    adapter_k = 23
    phix = "${baseDir}/data/EMPTY_PHIX"
    phix_k = 31
    ktrim = 'r'
    mink = 11
    hdist = 1
    tpe = 't'
    tbo = 't'
    qtrim = 'rl'
    trimq = 6
    maq = 10
    minlength = 35
    ftm = 5
    tossjunk = 't'
    qout = '33'
    maxcor = 1
    sampleseed = 42
    ain = 'f'
    bbduk_opts = ""

    // ONT Reads
    ont_minqual = 0
    ont_minlength = 1000
    porechop_opts = ""
    nanoplot_opts = ""

    // fastp
    use_fastp = false
    fastp_opts = ''
}
