/*
This file includes default parameter values.
*/

params {
    // STECFinder
    stecfinder_use_reads = false
    stecfinder_hits = false
    stecfinder_cutoff = 10.0
    stecfinder_length = 50.0
    stecfinder_ipah_length = 10.0
    stecfinder_ipah_depth = 1.0
    stecfinder_stx_length = 10.0
    stecfinder_stx_depth = 1.0
    stecfinder_o_length = 60.0
    stecfinder_o_depth = 1.0
    stecfinder_h_length = 60.0
    stecfinder_h_depth = 1.0
}
