/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // Quast
    quast_contig_thresholds = '0,1000,10000,100000,250000,1000000'
    quast_plots_format = 'pdf'
}

process {
    withName: 'QUAST' {
        // Optional arguments
        ext.args = [
            "--contig-thresholds '${params.quast_contig_thresholds}'",
            "--plots-format ${params.quast_plots_format}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::quast=5.3.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/quast:5.3.0--py313pl5321h5ca1c30_2"
        ext.image = "https://depot.galaxyproject.org/singularity/quast:5.3.0--py313pl5321h5ca1c30_2"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "quast"
    }
}
