/*
This file includes default process values for quast.
*/

process {
    withName: 'QUAST' {
        // Optional arguments
        ext.args = [
            "--plots-format ${params.plots_format}",
            "--contig-thresholds ${params.contig_thresholds}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::quast=5.3.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/quast:5.3.0--py39pl5321heaaa4ec_0",
            image: "https://depot.galaxyproject.org/singularity/quast:5.3.0--py39pl5321heaaa4ec_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "quast"
    }
}
