/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // sccmec
    sccmec_min_targets_pident = 90
    sccmec_min_targets_coverage = 80
    sccmec_min_regions_pident = 85
    sccmec_min_regions_coverage = 93
}

process {
    withName: 'SCCMEC' {
        // Optional arguments
        ext.args = [
            "--min-targets-pident ${params.sccmec_min_targets_pident}",
            "--min-targets-coverage ${params.sccmec_min_targets_coverage}",
            "--min-regions-pident ${params.sccmec_min_regions_pident}",
            "--min-regions-coverage ${params.sccmec_min_regions_coverage}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::sccmec=1.2.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/sccmec:1.2.0--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/sccmec:1.2.0--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sccmec"
    }
}
