/*
This file includes default process values for sccmec.
*/

process {
    withName: 'SCCMEC' {
        // Optional arguments
        ext.args = [
            "--min-targets-pident ${params.sccmec_min_targets_pident}",
            "--min-targets-coverage ${params.sccmec_min_targets_coverage}",
            "--min-regions-pident ${params.sccmec_min_regions_pident}",
            "--min-regions-coverage ${params.sccmec_min_regions_coverage}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::sccmec=1.2.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/sccmec:1.2.0--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/sccmec:1.2.0--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sccmec"
    }
}
