process {
    // Defaults
    cpus = {check_max(1, 'cpus' )}
    memory = {check_max(1.GB * task.attempt, 'memory' )}
    time = {check_max( (params.min_time).m * task.attempt, 'time' )}
    errorStrategy = 'retry'
    maxRetries = 1

    withName: 'build_tree' {
        cpus = {check_max(params.cpus, 'cpus')}
        memory = {check_max(4.GB * task.attempt, 'memory' )}
        errorStrategy = 'retry'
        maxRetries = 2
    }
}
