params {
    // roary
    roary_ap = false
    roary_cd = 99
    roary_g = 50000
    roary_i = 95
    roary_iv = 1.5
    roary_s = false
    roary_use_prank = false
    use_roary = false
}

process {
    withName: 'ROARY' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "roary"

        // Tool arguments
        ext.args = [
            params.roary_use_prank  ? "-e" : "-e -n",
            params.roary_s ? "-s" : "",
            params.roary_ap ? "-ap" : "",
            "-g ${params.roary_g}",
            "-i ${params.roary_i}",
            "-cd ${params.roary_cd}",
            "-iv ${params.roary_iv}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::roary=3.13.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/roary:3.13.0--pl526h516909a_0"
        ext.image = "https://depot.galaxyproject.org/singularity/roary:3.13.0--pl526h516909a_0"
        ext.condaDir = "${params.condadir}"
    }
}
