/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // Roary
    roary_use_prank = false // Use PRANK instead of MAFFT for core-genome alignment
    roary_i = 95 // minimum percentage identity for blastp [95]
    roary_cd = 99 // percentage of isolates a gene must be in to be core [99]
    roary_g = 50000 // maximum number of clusters [50000]
    roary_s = false // dont split paralogs
    roary_ap = false // allow paralogs in core alignment
    roary_iv = 1.5
    use_roary = false
}

process {
    withName: 'ROARY' {
        // Optional arguments
        ext.args = [
            params.roary_use_prank  ? "-e" : "-e -n",
            params.roary_s ? "-s" : "",
            params.roary_ap ? "-ap" : "",
            "-g ${params.roary_g}",
            "-i ${params.roary_i}",
            "-cd ${params.roary_cd}",
            "-iv ${params.roary_iv}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::roary=3.13.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/roary:3.13.0--pl526h516909a_0"
        ext.image = "https://depot.galaxyproject.org/singularity/roary:3.13.0--pl526h516909a_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "roary"
    }
}
