/*
This file includes default parameter values.
*/

params {
    // Roary
    roary_use_prank = false // Use PRANK instead of MAFFT for core-genome alignment
    roary_i = 95 // minimum percentage identity for blastp [95]
    roary_cd = 99 // percentage of isolates a gene must be in to be core [99]
    roary_g = 50000 // maximum number of clusters [50000]
    roary_s = false // dont split paralogs
    roary_ap = false // allow paralogs in core alignment
    roary_iv = 1.5
    use_roary = false
}
