/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // Mykrobe (via GenoTyphi)
    genotyphi_kmer = 21
    genotyphi_min_depth = 1
    genotyphi_model = "kmer_count"
    genotyphi_report_all_calls = false
    genotyphi_mykrobe_opts = ""
}

process {
    withName: 'GENOTYPHI_PARSE' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::genotyphi=2.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/genotyphi:2.0--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/genotyphi:2.0--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = "genotyphi"
        ext.process_name = "genotyphi"
    }

    withName: 'MYKROBE_PREDICT' {
        // Optional arguments
        ext.args = [
            params.genotyphi_report_all_calls ? "--report_all_calls" : "",
            "--kmer ${params.genotyphi_kmer}",
            "--min_depth ${params.genotyphi_min_depth}",
            "--model ${params.genotyphi_model}",
            "${params.genotyphi_mykrobe_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::mykrobe=0.13.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/mykrobe:0.13.0--py38h2214202_0"
        ext.image = "https://depot.galaxyproject.org/singularity/mykrobe:0.13.0--py38h2214202_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = "mykrobe"
        ext.process_name = "genotyphi"
    }
}
