/*
This file includes default process values for genotyphi.
*/

process {
    withName: 'GENOTYPHI_PARSE' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.env = [
            toolName: "bioconda::genotyphi=2.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/genotyphi:2.0--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/genotyphi:2.0--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = "genotyphi"
        ext.process_name = "genotyphi"
    }

    withName: 'MYKROBE_PREDICT' {
        // Optional arguments
        ext.args = [
            params.genotyphi_report_all_calls ? "--report_all_calls" : "",
            "--kmer ${params.genotyphi_kmer}",
            "--min_depth ${params.genotyphi_min_depth}",
            "--model ${params.genotyphi_model}",
            "${params.genotyphi_mykrobe_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::mykrobe=0.13.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/mykrobe:0.13.0--py38h2214202_0",
            image: "https://depot.galaxyproject.org/singularity/mykrobe:0.13.0--py38h2214202_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = "mykrobe"
        ext.process_name = "genotyphi"
    }
}
