process {
    withName: 'GENOTYPHI_PARSE' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.conda = "bioconda::genotyphi=2.0"
        ext.singularity = "https://depot.galaxyproject.org/singularity/genotyphi:2.0--hdfd78af_0"
        ext.docker = "quay.io/biocontainers/genotyphi:2.0--hdfd78af_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
