/*
This file includes default values for shared parameters.
*/

params {
    // BLAST Parameters
    tblastx_query = null
    tblastx_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    tblastx_opts = ""
    tblastx_qcov_hsp_perc = 50
    tblastx_max_target_seqs = 2000
    tblastx_use_genes = false
}
