params {
    // No parameters
}

process {
    withName: 'ABRICATE_SUMMARY' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.logs_subdir = "abricate-concat"
        ext.prefix = "abricate-${params.abricate_db}"
        ext.process_name = params.merge_folder
        ext.subdir = params.abricate_db

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::abricate=1.2.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/abricate:1.2.0--h05cac1d_0"
        ext.image = "https://depot.galaxyproject.org/singularity/abricate:1.2.0--h05cac1d_0"
        ext.condaDir = "${params.condadir}"
    }
}
