/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // No parameters for this module
}

process {
    withName: 'ABRICATE_SUMMARY' {
        // Optional arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::abricate=1.2.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/abricate:1.2.0--h05cac1d_0"
        ext.image = "https://depot.galaxyproject.org/singularity/abricate:1.2.0--h05cac1d_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "run"
        ext.logs_subdir = "abricate-concat"
        ext.prefix = "abricate-${params.abricate_db}"
        ext.process_name = params.merge_folder
        ext.subdir = params.abricate_db
    }
}
