params {
    // deacon_fetch
    deacon_index_name = "panhuman-1"
    deacon_db = null
    download_deacon = false
    use_deacon = false
}

process {
    withName: 'DEACON_FETCH' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "deacon_fetch"
        storeDir = params.datasets_cache

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::bactopia-teton=1.1.4".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-teton:1.1.4--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.4--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.deacon_index_name = params.deacon_index_name
    }
}
