// Minimal config for module-level testing of EGGNOG_MAPPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "eggnog"
        logo_name = "bactopia-tools"
        description = "Functional annotation of proteins using eggNOG orthology data"
        ext = "fna"
    }

    wf = params.workflow.name

    // Max Job Request Parameters
    max_cpus = 12
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
