params {
    // SpaTyper
    //spatyper_repeats = null       // TODO: Remove when Path? is fixed
    //spatyper_repeat_order = null  // TODO: Remove when Path? is fixed
    spatyper_do_enrich = false
}

process {
    withName: 'SPATYPER' {
        // Optional arguments
        ext.args = [
            params.spatyper_do_enrich ? "--do_enrich" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::spatyper=0.3.3".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/spatyper:0.3.3--pyhdfd78af_3"
        ext.image = "https://depot.galaxyproject.org/singularity/spatyper:0.3.3--pyhdfd78af_3"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "spatyper"
    }
}
