/*
This file includes default process configurations
*/

process {
    withName: 'SPATYPER' {
        // Optional arguments
        ext.args = {[
            params.do_enrich ? "--do_enrich" : ""
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "${moduleDir}/environment.yml"
        ext.singularity = 'https://depot.galaxyproject.org/singularity/spatyper:0.3.3--pyhdfd78af_3'
        ext.docker = 'quay.io/biocontainers/spatyper:0.3.3--pyhdfd78af_3'

        // Misc
        ext.prefix = { "${meta.id}" }
        ext.rundir = "${task.process}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = { "${task.process}".replace(":", "_") }
    }
}
