params {
    // pbptyper
    pbptyper_min_pident = 95
    pbptyper_min_coverage = 95
}

process {
    withName: 'PBPTYPER' {
        // Optional arguments
        ext.args = [
            "--min-pident ${params.pbptyper_min_pident}",
            "--min-coverage ${params.pbptyper_min_coverage}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::pbptyper=2.0.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/pbptyper:2.0.0--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/pbptyper:2.0.0--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "pbptyper"
    }
}
