// Minimal config for module-level testing of QC
nextflow.preview.types = true
nextflow.enable.strict = true

params {
    workflow {
        name = "qc"
        logo_name = "bactopia-tools"
        description = "Automated quality control, error correction, and read subsampling"
        ext = "fna"
    }

    bactopia_version = '4.0.0'
    bactopia_cache = System.getenv("BACTOPIA_CACHEDIR") ?: "${System.getenv('HOME')}/.bactopia"
    condadir = "${params.bactopia_cache}/conda"
    wf = params.workflow.name
    merge_folder = "merged-results"
    test_data_dir = System.getenv("BACTOPIA_TESTS") ?: ""
    is_ci = true

    // Max Job Request Parameters
    max_retry = 1
    max_time = 2.h
    max_memory = 8.GB
    max_cpus = 2

    // Nextflow Profile Parameters
    registry = "quay.io"
    singularity_cache = "${params.bactopia_cache}/singularity"
    singularity_pull_docker_container = false
    container_opts = ""

    // Module-specific defaults
    coverage = 0
    skip_compression = false
    keep_all_files = false
    skip_fastq_check = false
    min_basepairs = 2241820
    min_reads = 7472
    min_coverage = 10
    min_proportion = 0.5
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
