// Minimal config for module-level testing of QC
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "qc"
        logo_name = "bactopia-tools"
        description = "Automated quality control, error correction, and read subsampling"
        ext = "fna"
    }

    wf = params.workflow.name

    // Module-specific defaults
    coverage = 0
    skip_compression = false
    keep_all_files = false
    skip_fastq_check = false
    min_basepairs = 2241820
    min_reads = 7472
    min_coverage = 10
    min_proportion = 0.5
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
