// Minimal config for module-level testing of STAPHSCAN
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "staphscan"
        logo_name = "bactopia-tools"
        description = "Genome-based surveillance analysis of Staphylococcus aureus"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
