/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.

TODO: Add GroovyDoc, this should be a no-test
*/

params {
    no_check_certificate = false
    wget_opts = ""
}
process {
    withName: 'WGET' {
        storeDir = params.datasets_cache

        // Optional arguments
        ext.args = [
            params.no_check_certificate ? "--no-check-certificate" : "",
            "${params.wget_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::gnu-wget=1.18".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/gnu-wget:1.18--hb829ee6_10"
        ext.image = "https://depot.galaxyproject.org/singularity/gnu-wget:1.18--hb829ee6_10"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "wget"
    }
}
