manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing Illumina sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '1.6.0'
    nextflowVersion = '>=19'
}


profiles {

    conda {
        process {
            withName: estimate_genome_size {
                    conda = "${baseDir}/../../../conda/envs/minmers-1.7.x"}
                }
          }

    docker {
            process {
            withName: estimate_genome_size {
                    container = "ghcr.io/bactopia/minmers:1.6.0"}

                    }
            }

    test {
        process {
            echo = true
    withName: estimate_genome_size {
        cpus = 2
        queue = 'long'
    				}
                
        		}
        env {
        SPECIES_GENOME_SIZE = "null"
        VERSION = "1.6.0"
    	outdir = "test_output"
    	sample = "TEST_SAMPLE"
  		final_sample_type = "paired-end" 
   	 	single_end = "test"
    	run_type = "fastqs"
        }

    }
}