params {
    // Bactopia
    bactopia = null
    prefix = "ismapper"
    max_time = 120
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    force = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    exclude = null
    include = null
    publish_mode = 'copy'
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    overwrite = false

    // Inputs
    reference = null
    accession = null
    insertions = null

    // ISMapper
    min_clip = 10
    max_clip = 30
    cutoff = 6
    novel_gap_size = 15
    min_range = 0.9
    max_range = 1.1
    merging = 100
    ismap_all = null
    ismap_minqual = 30
}
