params {
    // Bactopia
    bactopia = null
    prefix = "ismapper"
    min_time = 60
    max_time = 120
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    force = false
    sleep_time = 5
    exclude = null
    include = null
    publish_mode = 'copy'
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    overwrite = false
    cleanup_workdir = false
    registry = "dockerhub"
    singularity_cache = "$HOME/.bactopia/singularity"
    queue = 'general'
    disable_scratch = false

    // AWS Batch
    aws_region = 'us-east-1'
    aws_volumes = '/opt/conda:/mnt/conda'
    aws_cli_path = '/home/ec2-user/conda/bin/aws'
    aws_upload_storage_class = 'STANDARD'
    aws_max_parallel_transfers = 8
    aws_delay_between_attempts = 15
    aws_max_transfer_attempts = 3
    aws_max_retry = 4
    aws_ecr_registry = null

    // bactopia tools helper
    force_rebuild = null
    skip_conda = null
    verbose = null
    silent = null

    // Inputs
    reference = null
    accession = null
    insertions = null

    // ISMapper
    min_clip = 10
    max_clip = 30
    cutoff = 6
    novel_gap_size = 15
    min_range = 0.9
    max_range = 1.1
    merging = 100
    ismap_all = null
    ismap_minqual = 30
}
