// Minimal config for module-level testing of MYKROBE_PREDICT
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "mykrobe"
        logo_name = "bactopia-tools"
        description = "Predict Antimicrobial Resistance (AMR) for supported bacterial species"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
