// Minimal config for module-level testing of CHECKM2_PREDICT
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "checkm2"
        logo_name = "bactopia-tools"
        description = "Assess genome quality using machine learning"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
