<section class="section">
    <div class="container">
        <h1 id="exclusions" class="title">Excluded Samples</h1>
        <h2 class="subtitle">
            The following an overview of which samples were excluded and the reasoning for why.
        </h2>

        {% for key,val in data.failed.items() %}
        <p>{{key}}: {{ val|length }}</p>
        {% endfor %}
    </div>
</section>