// main script name
manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '4.0.0'
    nextflowVersion = '>=25.10.0'
}

params {
    workflow {
        name = "merlin"
        logo_name = "bactopia-tools"
        description = "MinmER assisted species-specific bactopia tool seLectIoN"
        ext = "fna_fastq"
    }
}

// Feature Flags
nextflow.enable.strict = true

// Version
params.bactopia_version = '4.0.0'
manifest.version = "${params.bactopia_version}"

// Includes
params.bactopia_cache = env("BACTOPIA_CACHEDIR") ? "${env('BACTOPIA_CACHEDIR')}" : "${env('HOME')}/.bactopia"
includeConfig "../../../conf/params.config"
includeConfig "../../../conf/params/bactopia-tools.config"

// Module specific params.config
includeConfig "../../../modules/csvtk/concat/params.config"
includeConfig "../../../modules/mash/dist/params.config"
includeConfig "../../../modules/agrvate/params.config"
includeConfig "../../../modules/clermontyping/params.config"
includeConfig "../../../modules/ectyper/params.config"
includeConfig "../../../modules/emmtyper/params.config"
includeConfig "../../../modules/genotyphi/parse/params.config"
includeConfig "../../../modules/hicap/params.config"
includeConfig "../../../modules/hpsuissero/params.config"
includeConfig "../../../modules/kleborate/params.config"
includeConfig "../../../modules/legsta/params.config"
includeConfig "../../../modules/lissero/params.config"
includeConfig "../../../modules/meningotype/params.config"
includeConfig "../../../modules/ngmaster/params.config"
includeConfig "../../../modules/pasty/params.config"
includeConfig "../../../modules/pbptyper/params.config"
includeConfig "../../../modules/seqsero2/params.config"
includeConfig "../../../modules/seroba/run/params.config"
includeConfig "../../../modules/shigapass/params.config"
includeConfig "../../../modules/shigatyper/params.config"
includeConfig "../../../modules/shigeifinder/params.config"
includeConfig "../../../modules/sistr/params.config"
includeConfig "../../../modules/spatyper/params.config"
includeConfig "../../../modules/ssuissero/params.config"
includeConfig "../../../modules/sccmec/params.config"
includeConfig "../../../modules/stecfinder/params.config"
includeConfig "../../../modules/tbprofiler/profile/params.config"
includeConfig "../../../modules/tbprofiler/collate/params.config"
includeConfig "../../../modules/bactopia/datasets/params.config"

// Set output directory
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode
workflow.output.overwrite = params.force

// Set up run directory
params.singularity_cache = env("NXF_SINGULARITY_CACHEDIR") ? "${env('NXF_SINGULARITY_CACHEDIR')}" : "${params.singularity_cache}"
params.run_timestamp = new java.util.Date().format('yyyyMMdd-HHmmss')
params.rundir = params.is_ci ? "bactopia-runs/${params.run_name}" : "bactopia-runs/${params.run_name}-${params.run_timestamp}"
params.infodir = "${params.outdir}/${params.rundir}/nf-reports"

// Module specific process.config
includeConfig "../../../modules/csvtk/concat/process.config"
includeConfig "../../../modules/mash/dist/process.config"
includeConfig "../../../modules/agrvate/process.config"
includeConfig "../../../modules/clermontyping/process.config"
includeConfig "../../../modules/ectyper/process.config"
includeConfig "../../../modules/emmtyper/process.config"
includeConfig "../../../modules/genotyphi/parse/process.config"
includeConfig "../../../modules/hicap/process.config"
includeConfig "../../../modules/hpsuissero/process.config"
includeConfig "../../../modules/kleborate/process.config"
includeConfig "../../../modules/legsta/process.config"
includeConfig "../../../modules/lissero/process.config"
includeConfig "../../../modules/meningotype/process.config"
includeConfig "../../../modules/ngmaster/process.config"
includeConfig "../../../modules/pasty/process.config"
includeConfig "../../../modules/pbptyper/process.config"
includeConfig "../../../modules/seqsero2/process.config"
includeConfig "../../../modules/seroba/run/process.config"
includeConfig "../../../modules/shigapass/process.config"
includeConfig "../../../modules/shigatyper/process.config"
includeConfig "../../../modules/shigeifinder/process.config"
includeConfig "../../../modules/sistr/process.config"
includeConfig "../../../modules/spatyper/process.config"
includeConfig "../../../modules/ssuissero/process.config"
includeConfig "../../../modules/sccmec/process.config"
includeConfig "../../../modules/stecfinder/process.config"
includeConfig "../../../modules/tbprofiler/profile/process.config"
includeConfig "../../../modules/tbprofiler/collate/process.config"
includeConfig "../../../modules/bactopia/datasets/process.config"

// Load nf-core custom profiles from different Institutions
includeConfig !env('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load Bactopia custom profiles from different institutions.
// Uncomment in the event a bactopia specific profile is added
//includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/bactopia.config" : "/dev/null"

// Base Config
includeConfig "../../../conf/base.config"

// Profiles
includeConfig "../../../conf/profiles.config"

// Reporting configuration
timeline {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem'
}

dag {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-dag.svg"
}

// Plugins
plugins {
    id 'nf-bactopia@1.0.2'
}

bactopia {
    parametersSchema = "${projectDir}/nextflow_schema.json"
}
