/*
This file includes default values for shared parameters.
*/

params {
    // BLAST Parameters
    blastp_query = null
    blastp_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    blastp_opts = ""
    blastp_qcov_hsp_perc = 50
    blastp_max_target_seqs = 2000
}
