/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // Bakta
    download_bakta = false
    //bakta_db = null // TODO: Remove when Path? is fixed
    bakta_db_type = "full"
    bakta_save_as_tarball = false
}

process {
    withName: 'BAKTA_DOWNLOAD' {
        publishDir = [[
            path: params.bakta_db,
            mode: params.publish_dir_mode,
            overwrite: true
        ]]

        // Optional arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::bakta=1.12.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bakta:1.12.0--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bakta:1.12.0--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "bakta_download"
        ext.bakta_save_as_tarball = params.bakta_save_as_tarball
        ext.bakta_db_type = params.bakta_db_type
    }
}
