/*
This file includes default process values for bakta download.
*/

process {
    withName: 'BAKTA_DOWNLOAD' {
        publishDir = [[
            path: params.bakta_db,
            mode: params.publish_dir_mode,
            overwrite: true
        ]]

        // Optional arguments
        ext.args = ""

        // Environment information
        ext.env = [
            toolName: "bioconda::bakta=1.11.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/bakta:1.11.0--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/bakta:1.11.0--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "bakta_download"
        ext.bakta_save_as_tarball = params.bakta_save_as_tarball
        ext.bakta_db_type = params.bakta_db_type
    }
}
