/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // No parameters for this module
}

process {
    withName: 'AMRFINDERPLUS_UPDATE' {
        storeDir = params.datasets_cache

        // Environment information
        ext.toolName = "bioconda::ncbi-amrfinderplus=4.2.7".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ncbi-amrfinderplus:4.2.7--hdd39a0d_0"
        ext.image = "https://depot.galaxyproject.org/singularity/ncbi-amrfinderplus:4.2.7--hdd39a0d_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "amrfinderplus_update"
    }
}
