// Minimal config for subworkflow-level testing of TBLASTX
nextflow.enable.types = true
nextflow.enable.strict = true

params {
    workflow {
        name = "tblastx"
        logo_name = "bactopia-tools"
        description = "BLAST tblastx search"
        ext = "fna"
    }
    bactopia_version = '4.0.0'
    bactopia_cache = System.getenv("BACTOPIA_CACHEDIR") ?: "${System.getenv('HOME')}/.bactopia"
    condadir = "${params.bactopia_cache}/conda"
    wf = params.workflow.name
    merge_folder = "merged-results"
    test_data_dir = System.getenv("BACTOPIA_TESTS") ?: ""
    is_ci = true
    max_retry = 1
    max_time = 2.h
    max_memory = 8.GB
    max_cpus = 2
    registry = "quay.io"
    singularity_cache = "${params.bactopia_cache}/singularity"
    singularity_pull_docker_container = false
    container_opts = ""
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/blast/tblastx/module.config"
includeConfig "../../../modules/csvtk/concat/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"

// Plugin
plugins {
    id 'nf-bactopia@2.1.4'
}
