// Minimal config for subworkflow-level testing of GAMMA
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "gamma"
        logo_name = "bactopia-tools"
        description = "Gene Allele Mutation Microbial Assessment"
        ext = "fna"
    }
    wf = params.workflow.name
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/gamma/module.config"
includeConfig "../../../modules/csvtk/concat/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
