params {
    // meningotype
    meningotype_all = false
    meningotype_bast = false
    meningotype_finetype = false
    meningotype_mlst = false
    meningotype_porB = false
}

process {
    withName: 'MENINGOTYPE' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "meningotype"

        // Tool arguments
        ext.args = [
            params.meningotype_finetype ? "--finetype" : "",
            params.meningotype_porB ? "--porB" : "",
            params.meningotype_bast ? "--bast" : "",
            params.meningotype_mlst ? "--mlst" : "",
            params.meningotype_all ? "--all" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::meningotype=0.8.6b".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/meningotype:0.8.6b--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/meningotype:0.8.6b--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
