process {
    withName: 'MENINGOTYPE' {
        // Optional arguments
        ext.args = {[
            params.finetype ? "--finetype" : "",
            params.porB ? "--porB" : "",
            params.bast ? "--bast" : "",
            params.mlst ? "--mlst" : "",
            params.all ? "--all" : ""
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::meningotype=0.8.5"
        ext.singularity = "https://depot.galaxyproject.org/singularity/meningotype:0.8.5--pyhdfd78af_0"
        ext.docker = "quay.io/biocontainers/meningotype:0.8.5--pyhdfd78af_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
