/*
This file includes default process values for meningotype.
*/

process {
    withName: 'MENINGOTYPE' {
        // Optional arguments
        ext.args = [
            params.finetype ? "--finetype" : "",
            params.porB ? "--porB" : "",
            params.bast ? "--bast" : "",
            params.mlst ? "--mlst" : "",
            params.all ? "--all" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::meningotype=0.8.5".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/meningotype:0.8.5--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/meningotype:0.8.5--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "meningotype"
    }
}
