process {
    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        ext.tool = 'dumpsoftwareversions'
        ext.process_name = 'software-versions'
        ext.subdir = ''
        ext.logs_subdir = ''
        ext.args   = ''
        ext.env    = { task.ext.tools.multiqc }
        ext.prefix = { "" }
    }
}
