/*
This file includes default process values for teton.
*/

process {
    withName: 'BACTOPIA_SAMPLESHEET' {
        // Optional arguments
        ext.args = ""
        ext.args2 = ""
        ext.args3 = ""

        // Environment information
        ext.env = [
            toolName: "bioconda::bactopia-teton=1.1.1".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/bactopia-teton:1.1.1--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.1--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.prefix = { "" }
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "teton-prepare"
    }
}
