// Minimal config for module-level testing of HPSUISSERO
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "hpsuissero"
        logo_name = "bactopia-tools"
        description = "Predict Haemophilus parasuis serotype"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
