/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // BLAST Parameters
    blastx_query = null
    blastx_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    blastx_opts = ""
    blastx_qcov_hsp_perc = 50
    blastx_max_target_seqs = 2000
}

process {
    withName: 'BLAST_BLASTX' {
        // Optional arguments
        ext.args = [
            "-outfmt '6 ${params.blastx_outfmt}'",
            "-qcov_hsp_perc ${params.blastx_qcov_hsp_perc}",
            "-max_target_seqs ${params.blastx_max_target_seqs}",
            params.blastx_opts
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::blast=2.17.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/blast:2.17.0--h66d330f_0"
        ext.image = "https://depot.galaxyproject.org/singularity/blast:2.17.0--h66d330f_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "blastx"
        ext.outfmt = params.blastx_outfmt
    }
}
