// Minimal config for subworkflow-level testing of EGGNOG
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "eggnog"
        logo_name = "bactopia-tools"
        description = "Functional annotation of proteins"
        ext = "faa"
    }
    wf = params.workflow.name
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/eggnog/download/module.config"
includeConfig "../../../modules/eggnog/mapper/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
