// Minimal config for module-level testing of DEACON_FILTER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "deacon"
        logo_name = "bactopia-tools"
        description = "Filter host reads from sequencing data"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
