params {
    // bactopia_assembler
    contig_namefmt = null
    dragonflye_assembler = 'flye'
    dragonflye_opts = null
    medaka_model = ''
    medaka_rounds = 0
    min_component_size = 1000
    min_contig_cov = 2
    min_contig_len = 500
    min_dead_end_size = 1000
    nanohq = false
    no_corr = null
    no_miniasm = false
    no_polish = false
    no_rotate = false
    no_stitch = null
    pilon_rounds = 0
    polypolish_rounds = 1
    racon_rounds = 1
    reassemble = false
    shovill_assembler = 'skesa'
    shovill_kmers = null
    shovill_opts = null
    trim = null
    unicycler_mode = 'normal'
    use_unicycler = false
}

process {
    withName: 'ASSEMBLER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "assembler"

        // Tool arguments
        ext.args = [
            "--assembler ${params.shovill_assembler}",
            params.shovill_opts  ? "--opts '${params.shovill_opts}'" : "",
            params.shovill_kmers ? "--kmers '${params.shovill_kmers}'" : "",
            params.no_stitch ? "--nostitch" : "",
            params.no_corr ? "--nocorr" : "",
            "--minlen ${params.min_contig_len}",
            "--mincov ${params.min_contig_cov}",
            "--force",
            "--keepfiles",
            "--depth 0",
            "--noreadcorr"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        ext.args2 = [
            "--assembler ${params.dragonflye_assembler}",
            params.dragonflye_opts  ? "${params.dragonflye_opts}" : "",
            params.no_polish ? "--nopolish" : "",
            params.medaka_model ? "--model ${params.medaka_model}" : "",
            params.pilon_rounds ? "--pilon ${params.pilon_rounds}" : "",
            params.polypolish_rounds ? "--polypolish ${params.polypolish_rounds}" : "",
            params.nanohq ? "--nanohq" : "",
            "--minlen ${params.min_contig_len}",
            "--mincov ${params.min_contig_cov}",
            "--force",
            "--keepfiles",
            "--depth 0",
            "--minreadlen 0",
            "--minquality 0",
            "--racon ${params.racon_rounds}",
            "--medaka ${params.medaka_rounds}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        ext.args3 = [
            params.no_miniasm ? "--no_miniasm" : "",
            params.no_rotate ? "--no_rotate" : "",
            params.keep_all_files ? "--keep 3" : "--keep 1",
            "--min_fasta_length ${params.min_contig_len}",
            "--mode ${params.unicycler_mode}",
            "--min_component_size ${params.min_component_size}",
            "--min_dead_end_size ${params.min_dead_end_size}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::bactopia-assembler=1.0.5".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-assembler:1.0.5--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-assembler:1.0.5--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.contig_namefmt = params.contig_namefmt
        ext.keep_all_files = params.keep_all_files
        ext.min_genome_size = params.min_genome_size
        ext.reassemble = params.reassemble
        ext.shovill_assembler = params.shovill_assembler
        ext.skip_compression = params.skip_compression
        ext.use_unicycler = params.use_unicycler
    }
}
