/*
This file includes default process values for assembler.
*/

process {
    withName: 'ASSEMBLER' {
        // Optional arguments
        ext.args = [
            params.shovill_kmers ? "--kmers ${params.shovill_kmers}" : "",
            params.shovill_opts ? params.shovill_opts : "",
            params.trim ? "--trim" : "",
            params.no_stitch ? "--nostitch" : "",
            params.no_corr == true || (params.shovill_assembler && params.shovill_assembler == 'velvet') ? "--nocorr" : "",
            params.min_contig_len ? "--minlen ${params.min_contig_len}" : "",
            params.min_contig_cov ? "--mincov ${params.min_contig_cov}" : "",
            params.shovill_assembler ? "--assembler ${params.shovill_assembler}" : ""
        ].join(' ')
        
        ext.args2 = [
            params.dragonflye_opts ? params.dragonflye_opts : "",
            params.dragonflye_assembler ? "--assembler ${params.dragonflye_assembler}" : "",
            params.racon_rounds ? "--racon ${params.racon_rounds}" : "",
            params.medaka_rounds ? "--medaka ${params.medaka_rounds}" : "",
            params.medaka_model ? "--model ${params.medaka_model}" : "",
            params.polypolish_rounds ? "--polypolish ${params.polypolish_rounds}" : "",
            params.pilon_rounds ? "--pilon ${params.pilon_rounds}" : "",
            params.no_polish ? "--noPolish" : "",
            params.nanohq ? "--nanohq" : ""
        ].join(' ')
        
        ext.args3 = [
            params.unicycler_mode ? "--mode ${params.unicycler_mode}" : "",
            params.min_component_size ? "--min_component_size ${params.min_component_size}" : "",
            params.min_dead_end_size ? "--min_dead_end_size ${params.min_dead_end_size}" : "",
            params.no_miniasm ? "--no_miniasm" : "",
            params.no_rotate ? "--no_rotate" : ""
        ].join(' ')

        // Environment information
        ext.env = [
            toolName: "bioconda::bactopia-assembler=1.0.4".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/bactopia-assembler:1.0.4--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/bactopia-assembler:1.0.4--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.prefix = { "" }
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "assembler"
    }
}
