// bactopia-lint: ignore MC009,JS003,JS004
params {
    // gtdbtk_classifywf
    force_gtdb = false
    gtdb_debug = false
    gtdb_keep_msa = false
    gtdb_min_af = 0.65
    gtdb_min_perc_aa = 10
    gtdb_tmp = '/tmp'
    gtdb_use_scratch = false
    max_time = 48.h
}

process {
    withName: 'GTDBTK_CLASSIFYWF' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "gtdb"

        // Tool arguments
        ext.args = [
            params.gtdb_use_scratch ? "--scratch_dir ${params.gtdb_tmp}" : "",
            params.gtdb_debug ? "--debug" : "",
            params.force_gtdb ? "--force" : "",
            "--tmpdir ${params.gtdb_tmp}",
            "--min_perc_aa ${params.gtdb_min_perc_aa}",
            "--min_af ${params.gtdb_min_af}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::gtdbtk=2.6.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/gtdbtk:2.6.1--pyh1f0d9b5_2"
        ext.image = "https://depot.galaxyproject.org/singularity/gtdbtk:2.6.1--pyh1f0d9b5_2"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.gtdb_keep_msa = params.gtdb_keep_msa
    }
}
