/*
This file includes default process values for gtdbtk.
*/

process {
    withName: 'GTDBTK_CLASSIFYWF' {
        // Optional arguments
        ext.args = [
            params.gtdb_use_scratch ? "--scratch_dir ${params.gtdb_tmp}" : "",
            params.gtdb_debug ? "--debug" : "",
            params.force_gtdb ? "--force" : "",
            "--tmpdir ${params.gtdb_tmp}",
            "--min_perc_aa ${params.gtdb_min_perc_aa}",
            "--min_af ${params.gtdb_min_af}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::gtdbtk=2.5.2".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/gtdbtk:2.5.2--pyh1f0d9b5_0",
            image: "https://depot.galaxyproject.org/singularity/gtdbtk:2.5.2--pyh1f0d9b5_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "gtdb"
        ext.gtdb_keep_msa = params.gtdb_keep_msa
    }
}
