process {
    withName: 'PASTY' {
        // Optional arguments
        ext.args = {[
            "--min_pident ${params.pasty_min_pident}",
            "--min_coverage ${params.pasty_min_coverage}"
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::pasty=2.2.1"
        ext.singularity = "https://depot.galaxyproject.org/singularity/pasty:2.2.1--hdfd78af_0"
        ext.docker = "quay.io/biocontainers/pasty:2.2.1--hdfd78af_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
