/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // No parameters for this module
}

process {
    withName: 'SSUISSERO' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::ssuissero=1.0.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ssuissero:1.0.1--hdfd78af_1"
        ext.image = "https://depot.galaxyproject.org/singularity/ssuissero:1.0.1--hdfd78af_1"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ssuissero"

        // Version information not provided by tool on CLI
        ext.version = "1.0.1"
    }
}
