/*
This file includes default process configurations
*/

process {
    withName: 'SSUISSERO' {
        // Optional arguments
        
        // Environment information
        ext.conda = "${moduleDir}/environment.yml"
        ext.singularity = 'https://depot.galaxyproject.org/singularity/ssuissero:1.0.1--hdfd78af_1'
        ext.docker = 'quay.io/biocontainers/ssuissero:1.0.1--hdfd78af_1'

        // Misc
        ext.prefix = { "${meta.id}" }
        ext.rundir = "${task.process}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = { "${task.process}".replace(":", "_") }
    }
}
