// Minimal config for module-level testing of KLEBORATE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "kleborate"
        logo_name = "bactopia-tools"
        description = "Genotyping and screening of Klebsiella genome assemblies"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
