// Minimal config for module-level testing of PBPTYPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "pbptyper"
        logo_name = "bactopia-tools"
        description = "Predict Penicillin Binding Protein (PBP) type of Streptococcus pneumoniae assemblies"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
