params {
    // fastani
    fastani_frag_len = 3000
    fastani_kmer = 16
    fastani_min_fraction = 0.2
    fastani_reference = null
    fastani_skip_pairwise = false
}

process {
    withName: 'FASTANI' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "fastani"

        // Tool arguments
        ext.args = [
            "--kmer ${params.fastani_kmer}",
            "--fragLen ${params.fastani_frag_len}",
            "--minFraction ${params.fastani_min_fraction}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::fastani=1.34".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/fastani:1.34--hb66fcc3_7"
        ext.image = "https://depot.galaxyproject.org/singularity/fastani:1.34--hb66fcc3_7"
        ext.condaDir = "${params.condadir}"
    }
}
