// Minimal config for module-level testing of PNEUMOCAT
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "pneumocat"
        logo_name = "bactopia-tools"
        description = "Capsular typing of Streptococcus pneumoniae from Illumina reads"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
