/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'SYLPH_PROFILE' {
        ext {
            /* --------------------------------
               Optional arguments
            -------------------------------- */
            args = [
                "--estimate-unknown ${params.sylph_estimate_unknown}",
                "--min-ani ${params.sylph_min_ani}",
                "--min-kmers ${params.sylph_min_kmers}",
                "--min-correct ${params.sylph_min_correct}",
                "-k ${params.sylph_k}",
                "--min-spacing ${params.sylph_min_spacing}",
                "--subsample-rate ${params.sylph_subsample_rate}",
                params.sylph_opts
            ].join(' ').trim()

            /* --------------------------------
               Environment information
            -------------------------------- */
            conda_tools = "bioconda::sylph=0.8.0"
            conda_name = conda_tools.replace("=", "-").replace(":", "-").replace(" ", "-")
            conda_env = file("${params.condadir}/${conda_name}").exists() ? "${params.condadir}/${conda_name}" : conda_tools

            /* --------------------------------
               Additional parameters
            -------------------------------- */
            prefix = "${meta.id}.${params.wf}"
            rundir = "${task.ext.prefix}.${task.ext.process_name}"
            subdir = ""
            logs_subdir = ""
            process_name = "sylph"
        }
    }
}
