/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'SYLPH_PROFILE' {
        // Optional arguments
        ext.args = [
            params.sylph_estimate_unknown ? "--estimate-unknown" : "",
            "-k ${params.sylph_k}",
            "-c ${params.sylph_subsample_rate}",
            "--min-spacing ${params.sylph_min_spacing}",
            "--minimum-ani ${params.sylph_min_ani}",
            "--min-number-kmers ${params.sylph_min_kmers}",
            "--min-count-correct ${params.sylph_min_correct}",
            params.sylph_opts ? "${params.sylph_opts}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::sylph=0.8.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/sylph:0.8.1--ha6fb395_0"
        ext.image = "https://depot.galaxyproject.org/singularity/sylph:0.8.1--ha6fb395_0"
        ext.condaDir = "${params.condadir}"

        // Additional parameters
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sylph"
    }
}
