/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'SYLPH_PROFILE' {
        // Optional arguments
        ext.args = [
            "--estimate-unknown ${params.sylph_estimate_unknown}",
            "--min-ani ${params.sylph_min_ani}",
            "--min-kmers ${params.sylph_min_kmers}",
            "--min-correct ${params.sylph_min_correct}",
            "-k ${params.sylph_k}",
            "--min-spacing ${params.sylph_min_spacing}",
            "--subsample-rate ${params.sylph_subsample_rate}",
            params.sylph_opts
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::sylph=0.8.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/sylph:0.8.0--hdbdd923_0",
            image: "https://depot.galaxyproject.org/singularity/sylph:0.8.0--hdbdd923_0",
            condaDir: "${params.condadir}",
        ]

        // Additional parameters
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sylph"
    }
}
