params {
    // bactopia_qc
    adapter_k = 23
    adapters = "${projectDir}/data/EMPTY_ADAPTERS"
    ain = 'f'
    bbduk_opts = ""
    fastp_opts = ''
    ftm = 5
    hdist = 1
    ktrim = 'r'
    maq = 10
    maxcor = 1
    mink = 11
    minlength = 35
    nanoplot_opts = ""
    ont_minlength = 1000
    ont_minqual = 0
    phix = "${projectDir}/data/EMPTY_PHIX"
    phix_k = 31
    porechop_opts = ""
    qout = '33'
    qtrim = 'rl'
    sampleseed = 42
    skip_error_correction = false
    skip_qc = false
    skip_qc_plots = false
    tbo = 't'
    tossjunk = 't'
    tpe = 't'
    trimq = 6
    use_bbmap = false
    use_porechop = false
}

process {
    withName: 'QC' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "qc"

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::bactopia-qc=1.0.3".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-qc:1.0.3--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-qc:1.0.3--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.adapter_k = params.adapter_k
        ext.ain = params.ain
        ext.bbduk_opts = params.bbduk_opts
        ext.coverage = params.coverage
        ext.fastp_opts = params.fastp_opts
        ext.ftm = params.ftm
        ext.hdist = params.hdist
        ext.keep_all_files = params.keep_all_files
        ext.ktrim = params.ktrim
        ext.maq = params.maq
        ext.min_basepairs = params.min_basepairs
        ext.min_coverage = params.min_coverage
        ext.min_reads = params.min_reads
        ext.min_proportion = params.min_proportion
        ext.mink = params.mink
        ext.minlength = params.minlength
        ext.nanoplot_opts = params.nanoplot_opts
        ext.ont_minlength = params.ont_minlength
        ext.ont_minqual  = params.ont_minqual
        ext.phix_k = params.phix_k
        ext.porechop_opts = params.porechop_opts
        ext.qout = params.qout
        ext.qtrim = params.qtrim
        ext.sampleseed = params.sampleseed
        ext.skip_error_correction = params.skip_error_correction
        ext.skip_fastq_check = params.skip_fastq_check
        ext.skip_qc = params.skip_qc
        ext.skip_qc_plots = params.skip_qc_plots
        ext.tbo = params.tbo
        ext.tossjunk = params.tossjunk
        ext.tpe = params.tpe
        ext.trimq = params.trimq
        ext.use_bbmap = params.use_bbmap
        ext.use_porechop = params.use_porechop
    }
}
