// Minimal config for module-level testing of MCRONI
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "mcroni"
        logo_name = "bactopia-tools"
        description = "Detect sequence variations in the mcr-1 colistin resistance gene"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
