params {
    // bactopia_sketcher
    no_winner_take_all = false
    screen_i = 0.8
    sketch_size = 10000
    sourmash_scale = 10000
}

process {
    withName: 'SKETCHER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sketcher"

        // Tool arguments
        ext.args = [
            "-s ${params.sketch_size}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        ext.args2 = [
            "-p k=21,k=31,k=51,abund,scaled=${params.sourmash_scale}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        ext.args3 = [
            params.no_winner_take_all ? "" : "-w",
            "-i ${params.screen_i}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::bactopia-sketcher=1.0.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-sketcher:1.0.2--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-sketcher:1.0.2--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
