/*
This file includes default process values for sketcher.
*/

process {
    withName: 'SKETCHER' {
        // Optional arguments
        ext.args = [
            "-s ${params.sketch_size}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        ext.args2 = [
            "-p k=21,k=31,k=51,abund,scaled=${params.sourmash_scale}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        ext.args3 = [
            params.no_winner_take_all ? "" : "-w",
            "-i ${params.screen_i}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::bactopia-sketcher=1.0.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-sketcher:1.0.1--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-sketcher:1.0.1--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "sketcher"
    }
}
