/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // GAMMA
    gamma_db = null
    gamma_percent_identity = 90
    gamma_all_matches = false
    gamma_extended = false
    gamma_write_fasta = false
    gamma_write_gff = false
}

process {
    withName: 'GAMMA' {
        // Optional arguments
        ext.args = [
            params.gamma_write_fasta ? "--fasta" : "",
            params.gamma_write_fasta ? "--gff" : "",
            params.gamma_extended ? "--extended" : "",
            params.gamma_all_matches ? "--all" : "",
            "--percent_identity ${params.gamma_percent_identity}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::gamma=2.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/gamma:2.2--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/gamma:2.2--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = params.run_name
        ext.logs_subdir = ""
        ext.process_name = "gamma"
    }
}
