// Minimal config for module-level testing of SRAHUMANSCRUBBER_SCRUB
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "srahumanscrubber"
        logo_name = "bactopia-tools"
        description = "Scrub human reads from FASTQ files"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
