/*
This file includes default process values for seqsero2.
*/

process {
    withName: 'SEQSERO2' {
        // Optional arguments
        ext.args = [
            "-m ${params.run_mode}",
            params.input_type == "assembly" ? "-t 4" : "-t 2",
            "-b ${params.bwa_mode}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::seqsero2=1.3.1".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/seqsero2:1.3.1--pyhdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/seqsero2:1.3.1--pyhdfd78af_1",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "seqsero2"
    }
}
