/*
This file includes default process configurations
*/

process {
    withName: 'SEQSERO2' {
        // Optional arguments
        ext.args = {[
            "-m ${params.run_mode}",
            "-t ${params.input_type}",
            "-b ${params.bwa_mode}"
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "${moduleDir}/environment.yml"
        ext.singularity = 'https://depot.galaxyproject.org/singularity/seqsero2:1.3.1--pyhdfd78af_1'
        ext.docker = 'quay.io/biocontainers/seqsero2:1.3.1--pyhdfd78af_1'

        // Misc
        ext.prefix = { "${meta.id}" }
        ext.rundir = "${task.process}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = { "${task.process}".replace(":", "_") }
    }
}
