params {
    // iqtree
    iqtree_alrt = 1000 // SH-like approximate likelihood ratio test (SH-aLRT) replicates
    iqtree_asr = false // Ancestral state reconstruction by empirical Bayes
    iqtree_bb = 1000 // Ultrafast bootstrap replicates
    iqtree_model = "HKY"
    iqtree_opts = ""
    skip_phylogeny = false
}

process {
    withName: 'IQTREE' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "iqtree"

        // Tool arguments
        ext.args = [
            params.iqtree_asr ? "-asr" : "",
            "-m ${params.iqtree_model}",
            "-bb ${params.iqtree_bb}",
            "-alrt ${params.iqtree_alrt}",
            "-wbt -wbtl -alninfo ${params.iqtree_opts}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::iqtree=3.1.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/iqtree:3.1.1--hde5307d_1"
        ext.image = "https://depot.galaxyproject.org/singularity/iqtree:3.1.1--hde5307d_1"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.fast_args = "-m MFP -fast"
    }
}
