/*
This file includes default process values for iqtree.
*/

process {
    withName: 'IQTREE' {
        // Optional arguments
        ext.args = [
            params.iqtree_asr ? "-asr" : "",
            "-m ${params.iqtree_model}",
            "-bb ${params.iqtree_bb}",
            "-alrt ${params.iqtree_alrt}",
            "-wbt -wbtl -alninfo ${params.iqtree_opts}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        ext.fast_args = "-m MFP -fast"
        
        // Environment information
        ext.env = [
            toolName: "bioconda::iqtree=2.4.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/iqtree:2.4.0--h503566f_0",
            image: "https://depot.galaxyproject.org/singularity/iqtree:2.4.0--h503566f_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "iqtree"
    }
}
