process {
    withName: 'IQTREE' {
        // Optional arguments
        ext.args = {[
            "-m ${params.iqtree_model}",
            "-bb ${params.bb}",
            "-alrt ${params.alrt}",
            params.asr ? "-asr" : "",
            params.iqtree_opts
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::iqtree=2.4.0"
        ext.singularity = "https://depot.galaxyproject.org/singularity/iqtree:2.4.0--h503566f_0"
        ext.docker = "quay.io/biocontainers/iqtree:2.4.0--h503566f_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
