// Minimal config for subworkflow-level testing of SCRUBBER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "scrubber"
        logo_name = "bactopia-tools"
        description = "Host read removal"
        ext = "fastq"
    }
    wf = params.workflow.name

    // Nohuman params (used when use_srascrubber = false)
    nohuman_db = "${params.test_data_dir}/datasets/nohuman/HPRC.r2"
    download_nohuman = false
    nohuman_save_as_tarball = false
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/srahumanscrubber/initdb/module.config"
includeConfig "../../../modules/srahumanscrubber/scrub/module.config"
includeConfig "../../../modules/nohuman/run/module.config"
includeConfig "../../../modules/nohuman/download/module.config"
includeConfig "../../../modules/deacon/fetch/module.config"
includeConfig "../../../modules/deacon/filter/module.config"
includeConfig "../../../modules/csvtk/concat/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
