// Minimal config for module-level testing of GTDBTK_CLASSIFYWF
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "gtdb"
        logo_name = "bactopia-tools"
        description = "Taxonomic classification of bacterial and archaeal genomes using GTDB-Tk"
        ext = "fna"
    }

    wf = params.workflow.name

    // Max Job Request Parameters
    max_memory = 144.GB
    max_cpus = 32

    // GTDB-Tk specific
    run_name = ""
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
