executor {
    name = 'awsbatch'
    queueSize = 500
}

process {
    executor = 'awsbatch'
    queue = 'nf-batch-spot'
}

aws {
    region = 'us-east-1'

    client {
        uploadStorageClass = 'ONEZONE_IA'
    }

    batch {
        volumes =  '/opt/conda:/mnt/conda'
        cliPath = '/home/ec2-user/conda/bin/aws'
        maxParallelTransfers = 8
        delayBetweenAttempts = 15
        maxTransferAttempts = 3
    }
}
