executor {
    name = 'awsbatch'
}

process {
    executor = 'awsbatch'
    queue = 'nf-batch-spot'
}

aws.region = 'us-east-1'
aws.batch.volumes =  '/opt/conda:/mnt/conda'
aws.batch.cliPath = '/home/ec2-user/conda/bin/aws'
aws.batch.maxParallelTransfers = 8
aws.batch.delayBetweenAttempts = 15
aws.batch.maxTransferAttempts = 3
