process {
    withLabel: 'annotate_genome|make_blastdb|blast' {
        conda = "${params.condadir}/annotate_genome-${container_version}"
    }
    withLabel: 'antimicrobial_resistance' {
        conda = "${params.condadir}/antimicrobial_resistance-${container_version}"
    }
    withLabel: ariba_analysis {
        conda = "${params.condadir}/ariba_analysis-${container_version}"
    }
    withLabel: assemble_genome {
        conda = "${params.condadir}/assemble_genome-${container_version}"
    }
    withLabel: assembly_qc {
        conda = "${params.condadir}/assembly_qc-${container_version}"
    }
    withLabel: 'call_variants|mapping_query' {
        conda = "${params.condadir}/call_variants-${container_version}"
    }
    withLabel: count_31mers {
        conda = "${params.condadir}/count_31mers-${container_version}"
    }
    withLabel: download_references {
       conda = "${params.condadir}/download_references-${container_version}"
    }
    withLabel: 'estimate_genome_size|minmer_sketch|minmer_query' {
        conda = "${params.condadir}/minmers-${container_version}"
    }
    withLabel: 'gather_fastqs' {
        conda = "${params.condadir}/gather_fastqs-${container_version}"
    }
    withLabel: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        conda = "${params.condadir}/qc_reads-${container_version}"
    }
    withLabel: sequence_type {
       conda = "${params.condadir}/sequence_type-${container_version}"
    }
}
