process {
    withName: 'annotate_genome|make_blastdb|blast_query|plasmid_blast' {
        conda = "${params.condadir}/annotate_genome-${manifest.version}"
    }
    withName: 'update_antimicrobial_resistance|antimicrobial_resistance' {
        conda = "${params.condadir}/antimicrobial_resistance-${manifest.version}"
    }
    withName: ariba_analysis {
        conda = "${params.condadir}/ariba_analysis-${manifest.version}"
    }
    withName: assemble_genome {
        conda = "${params.condadir}/assemble_genome-${manifest.version}"
    }
    withName: 'call_variants|call_variants_auto|mapping_query' {
        conda = "${params.condadir}/call_variants-${manifest.version}"
    }
    withName: count_31mers {
        conda = "${params.condadir}/count_31mers-${manifest.version}"
    }
    withName: download_references {
        conda = "${params.condadir}/download_references-${manifest.version}"
    }
    withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
        conda = "${params.condadir}/minmers-${manifest.version}"
    }
    withName: 'gather_fastqs' {
        conda = "${params.condadir}/gather_fastqs-${manifest.version}"
    }
    withName: insertion_sequences {
        conda = "${params.condadir}/insertion_sequences-${manifest.version}"
    }
    withName: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        conda = "${params.condadir}/qc_reads-${manifest.version}"
    }
    withName: sequence_type {
        conda = "${params.condadir}/sequence_type-${manifest.version}"
    }
}
