process {
    withName: 'annotate_genome|make_blastdb|blast_genes|blast_primers|blast_proteins' {
        container = "${docker_repo}/annotate_genome:${manifest.version}"
    }
    withName: 'antimicrobial_resistance' {
        container = "${docker_repo}/antimicrobial_resistance:${manifest.version}"
    }
    withName: ariba_analysis {
        container = "${docker_repo}/ariba_analysis:${manifest.version}"
    }
    withName: assemble_genome {
        container = "${docker_repo}/assemble_genome:${manifest.version}"
    }
    withName: assembly_qc {
        container = "${docker_repo}/assembly_qc:${manifest.version}"
    }
    withName: 'call_variants|call_variants_auto|mapping_query' {
        container = "${docker_repo}/call_variants:${manifest.version}"
    }
    withName: count_31mers {
        container = "${docker_repo}/count_31mers:${manifest.version}"
    }
    withName: download_references {
        container = "${docker_repo}/download_references:${manifest.version}"
    }
    withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
        container = "${docker_repo}/minmers:${manifest.version}"
    }
    withName: 'gather_fastqs' {
        container = "${docker_repo}/gather_fastqs:${manifest.version}"
    }
    withName: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        container = "${docker_repo}/qc_reads:${manifest.version}"
    }
    withName: sequence_type {
        container = "${docker_repo}/sequence_type:${manifest.version}"
    }
}
