process {
    withLabel: 'annotate_genome|make_blastdb|blast' {
        container = "${docker_repo}/annotate_genome:${manifest.version}"
    }
    withLabel: 'antimicrobial_resistance' {
        container = "${docker_repo}/antimicrobial_resistance:${manifest.version}"
    }
    withLabel: assemble_genome {
        container = "${docker_repo}/assemble_genome:${manifest.version}"
    }
    withLabel: assembly_qc {
        container = "${docker_repo}/assembly_qc:${manifest.version}"
    }
    withLabel: 'call_variants|mapping_query' {
        container = "${docker_repo}/call_variants:${manifest.version}"
    }
    withLabel: 'count_31mers|estimate_genome_size|minmer_sketch|minmer_query' {
        container = "${docker_repo}/minmers:${manifest.version}"
    }
    withLabel: 'download_references|gather_samples' {
        container = "${docker_repo}/gather_samples:${manifest.version}"
    }
    withLabel: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        container = "${docker_repo}/qc_reads:${manifest.version}"
    }
    withLabel: 'ariba_analysis|sequence_type' {
        container = "${docker_repo}/sequence_type:${manifest.version}"
    }
}
