// Used to set the output directory of modules
params {
    publish_dir {
        annotate_genome = "annotation"
        antimicrobial_resistance = "antimicrobial-resistance"
        assemble_genome = "assembly"
        assembly_qc = "assembly"
        blast = "blast"
        call_variants = "variants"
        count_31mers = "minmers"

        mapping_query = "mapping"
        minmer_query = "minmers"
        minmer_sketch = "minmers"
        qc_reads = "quality-control"
        sequence_type = "mlst"

        // These produce *-error.txt that should go to the root
        gather_samples = ""
    }
}
