/*
This file includes default values for shared parameters.
*/

params {
    wf = "bactopia"
    list_wfs = false
    outdir = "./"
    run_name = "${params.wf}"
    skip_compression = false
    keep_all_files = false

    //nf-core
    schema_ignore_params = 'conda_help,empty_proteins,empty_tf,envname,help_all,include_tools,min_time,publish_dir,silent,test_data,test_data_dir,verbose,schema_inputs,empty_extra,empty_r2,empty_r1,workflows,available_workflows,is_subworkflow,enable_conda'
    schema_inputs = ['fastqs', 'R1,R2,SE,sample,hybrid', 'R1,R2,sample', 'SE,sample', 'assembly,sample', 'accessions', 'accession']

    // Max Job Request Parameters
    max_retry = 3
    min_time = 60
    max_time = 120
    max_memory = 32
    max_cpus = 4
    max_downloads = 3

    // Nextflow Configuration Parameters
    /* Nextflow config files
    nfconfig - allows you to provide your own config file to Nextflow

    What this means is you can adjust process rules such as max runtimes, cpu and 
        memory usage, etc...

    Most importantly, this means you can create a profile that allows you to better
        use Bactopia in your environment. This will allow you to create a profile 
        for things such as Sun Grid Engine, SLURM, AWS, etc...

    If you provide a config, its loaded after the default configs. So any changes 
        to the defaults in your config will be reflected.

    Links to Nextflow Docs:
        Nextflow Docs: https://www.nextflow.io/docs/latest/config.html#scope-process
        Nextflow Docs: https://www.nextflow.io/docs/latest/config.html#config-profiles
        Nextflow Executors: https://www.nextflow.io/docs/latest/executor.html
    */
    nfconfig = null
    publish_dir_mode = 'copy'
    force = false
    cleanup_workdir = false

    // Nextflow Profile Parameters
    condadir = "${baseDir}/conda/envs"
    registry = "dockerhub"
    singularity_cache = "$HOME/.bactopia/singularity"
    queue = 'general,high-memory'
    disable_scratch = false
    aws_region = 'us-east-1'
    aws_volumes = '/opt/conda:/mnt/conda'
    aws_cli_path = '/home/ec2-user/conda/bin/aws'
    aws_upload_storage_class = 'STANDARD'
    aws_max_parallel_transfers = 8
    aws_delay_between_attempts = 15
    aws_max_transfer_attempts = 3
    aws_max_retry = 4
    aws_ecr_registry = null

    // Generic Parameters
    help = null
    help_all = false
    sleep_time = 5
    validate_params = true

    //nf-core
    monochrome_logs = false
    enable_conda = false
    show_hidden_params = false

    // Parameters to ignore
    envname = null
    include_tools = null
    verbose = null
    silent = null
    conda_help = false

    // Testing
    test_data_dir = 'https://raw.githubusercontent.com/bactopia/bactopia-tests/main/data'
}
