profiles {
    standard {
        includeConfig "${baseDir}/conf/conda.config"
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        includeConfig "${baseDir}/conf/docker.config"
    }

    singularity {
        singularity.enabled = true
        includeConfig "${baseDir}/conf/docker.config"
    }

    slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        includeConfig "${baseDir}/conf/slurm.config"
        includeConfig "${baseDir}/conf/docker.config"
    }

    awsbatch {
        includeConfig "${baseDir}/conf/aws.config"
        includeConfig "${baseDir}/conf/aws-docker.config"
    }
}
