profiles {
    standard {
        conda.enabled           = true
        conda.cacheDir          = "${params.condadir}"
        conda.channels          = ['conda-forge', 'bioconda']

        // disable alternative executors
        apptainer.enabled       = false
        charliecloud.enabled    = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        singularity.enabled     = false
    }

    conda {
        conda.enabled           = true
        conda.cacheDir          = "${params.condadir}"
        conda.channels          = ['conda-forge', 'bioconda']

        // disable alternative executors
        apptainer.enabled       = false
        charliecloud.enabled    = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        singularity.enabled     = false
    }

    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        conda.cacheDir          = "${params.condadir}"
        conda.channels          = ['conda-forge', 'bioconda']

        // disable alternative executors
        apptainer.enabled       = false
        charliecloud.enabled    = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        singularity.enabled     = false
    }

    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.cacheDir      = "${params.singularity_cache}"
        apptainer.registry      = params.registry ?: 'quay.io' 
        apptainer.runOptions    = "${params.container_opts}"

        // disable alternative executors
        charliecloud.enabled    = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
    }

    charliecloud {
        charliecloud.enabled    = true
        charliecloud.registry   = params.registry ?: 'quay.io'

        // disable alternative executors
        apptainer.enabled       = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        singularity.enabled     = false
    }

    docker {
        docker.enabled          = true
        docker.registry         = params.registry ?: 'quay.io'
        docker.runOptions       = '-u $(id -u):$(id -g) -v ${HOME}/.cache:/.cache -v ${HOME}/.config:/.config -v ${PWD}:/.medaka'

        // disable alternative executors
        apptainer.enabled       = false
        charliecloud.enabled    = false
        conda.enabled           = false
        podman.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
    }

    arm {
        docker.enabled          = true
        docker.registry         = params.registry ?: 'quay.io'
        docker.runOptions       = '-u $(id -u):$(id -g) -v ${HOME}/.cache:/.cache -v ${HOME}/.config:/.config -v ${PWD}:/.medaka --platform=linux/amd64'

        // disable alternative executors
        apptainer.enabled       = false
        charliecloud.enabled    = false
        conda.enabled           = false
        podman.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
    }

    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }

    podman {
        podman.enabled          = true
        podman.registry         = params.registry ?: 'quay.io' 

        // disable alternative executors
        apptainer.enabled       = false
        charliecloud.enabled    = false
        conda.enabled           = false
        docker.enabled          = false
        shifter.enabled         = false
        singularity.enabled     = false
    }

    shifter {
        shifter.enabled         = true

        // disable alternative executors
        apptainer.enabled       = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        charliecloud.enabled    = false
        singularity.enabled     = false
    }

    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "${params.singularity_cache}"
        singularity.registry    = params.registry ?: 'quay.io'
        singularity.runOptions  = "${params.container_opts}"

        // disable alternative executors
        apptainer.enabled       = false
        charliecloud.enabled    = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
    }

    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }

    test { includeConfig './test.config' }
}
