profiles {
    standard {
        conda.enabled = true
        conda.createOptions = "-c conda-forge -c bioconda"
        conda.useMamba = params.use_mamba
        conda.cacheDir = "${params.condadir}"
        params.enable_conda = true
        includeConfig "base.config"
    }

    aws {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = "quay.io/bactopia/bactopia:${manifest.version}"
        includeConfig "base.config"
        includeConfig "profiles/aws.config"
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) -v ${HOME}/.cache:/.cache -v ${HOME}/.config:/.config -v ${PWD}:/.medaka'
        includeConfig "base.config"
    }

    arm {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64 -v ${HOME}/.cache:/.cache -v ${HOME}/.config:/.config'
        includeConfig "base.config"
    }

    gcp {
        includeConfig "profiles/gcp.config"
    }

    sge {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${singularity_cache}"
        includeConfig "base.config"
        includeConfig "profiles/sge.config"
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        apptainer.cacheDir = "${singularity_cache}"
        apptainer.engineOptions = "${params.container_opts}"
        includeConfig "base.config"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${singularity_cache}"
        singularity.engineOptions = "${params.container_opts}"
        includeConfig "base.config"
    }

    slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${singularity_cache}"
        includeConfig "base.config"
        includeConfig "profiles/slurm.config"
    }

    test { 
        includeConfig 'profiles/test.config'
    }

    /*
    Custom User Configs.
    */
    arcc {
        includeConfig "base.config"
        includeConfig "profiles/arcc.config"
    }
    arcc_hawk {
        includeConfig "base.config"
        includeConfig "profiles/arcc_hawk.config"
    }
    wsvl {
        includeConfig "base.config"
        includeConfig "profiles/wsvl.config"
    }
}
