process {
    withName: 'annotate_genome|make_blastdb|blast_query|plasmid_blast' {
        container = "docker://bactopia/annotate_genome:1.0.1"
    }
    withName: ariba_analysis {
        container = "docker://bactopia/ariba_analysis:1.0.1"
    }
    withName: assemble_genome {
        container = "docker://bactopia/assemble_genome:1.0.1"
    }
    withName: 'call_variants|call_variants_auto|mapping_query' {
        container = "docker://bactopia/call_variants:1.0.1"
    }
    withName: count_31mers {
        container = "docker://bactopia/count_31mers:1.0.1"
    }
    withName: download_references {
        container = "docker://bactopia/download_references:1.0.1"
    }
    withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
        container = "docker://bactopia/minmers:1.0.1"
    }
    withName: 'gather_fastqs' {
        container = "docker://bactopia/gather_fastqs:1.0.1"
    }
    withName: insertion_sequences {
        container = "docker://bactopia/insertion_sequences:1.0.1"
    }
    withName: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        container = "docker://bactopia/qc_reads:1.0.1"
    }
    withName: sequence_type {
        container = "docker://bactopia/sequence_type:1.0.1"
    }
}
singularity.enabled = true
