singularity.enabled = true

process {
    withName: 'annotate_genome|make_blastdb|blast_genes|blast_primers|blast_proteins|plasmid_blast' {
        container = "library://rpetit3/bactopia/annotate_genome:${manifest.version}"
    }
    withName: 'update_antimicrobial_resistance|antimicrobial_resistance' {
        container = "library://rpetit3/bactopia/antimicrobial_resistance:${manifest.version}"
    }
    withName: ariba_analysis {
        container = "library://rpetit3/bactopia/ariba_analysis:${manifest.version}"
    }
    withName: assemble_genome {
        container = "library://rpetit3/bactopia/assemble_genome:${manifest.version}"
    }
    withName: assembly_qc {
        container = "library://rpetit3/bactopia/assembly_qc:${manifest.version}"
    }
    withName: 'call_variants|call_variants_auto|mapping_query' {
        container = "library://rpetit3/bactopia/call_variants:${manifest.version}"
    }
    withName: count_31mers {
        container = "library://rpetit3/bactopia/count_31mers:${manifest.version}"
    }
    withName: download_references {
        container = "library://rpetit3/bactopia/download_references:${manifest.version}"
    }
    withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
        container = "library://rpetit3/bactopia/minmers:${manifest.version}"
    }
    withName: 'gather_fastqs' {
        container = "library://rpetit3/bactopia/gather_fastqs:${manifest.version}"
    }
    withName: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        container = "library://rpetit3/bactopia/qc_reads:${manifest.version}"
    }
    withName: sequence_type {
        container = "library://rpetit3/bactopia/sequence_type:${manifest.version}"
    }
}
