singularity.enabled = true
singularity.autoMounts = true

process {
    withName: 'annotate_genome|make_blastdb|blast_genes|blast_primers|blast_proteins|plasmid_blast' {
        container = "${params.containerPath}/annotate_genome-${container_version}.simg"
    }
    withName: 'update_antimicrobial_resistance|antimicrobial_resistance' {
        container = "${params.containerPath}/antimicrobial_resistance-${container_version}.simg"
    }
    withName: ariba_analysis {
        container = "${params.containerPath}/ariba_analysis-${container_version}.simg"
    }
    withName: assemble_genome {
        container = "${params.containerPath}/assemble_genome-${container_version}.simg"
    }
    withName: assembly_qc {
        container = "${params.containerPath}/assembly_qc-${container_version}.simg"
    }
    withName: 'call_variants|call_variants_auto|mapping_query' {
        container = "${params.containerPath}/call_variants-${container_version}.simg"
    }
    withName: count_31mers {
        container = "${params.containerPath}/count_31mers-${container_version}.simg"
    }
    withName: download_references {
        container = "${params.containerPath}/download_references-${container_version}.simg"
    }
    withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
        container = "${params.containerPath}/minmers-${container_version}.simg"
    }
    withName: 'gather_fastqs' {
        container = "${params.containerPath}/gather_fastqs-${container_version}.simg"
    }
    withName: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        container = "${params.containerPath}/qc_reads-${container_version}.simg"
    }
    withName: sequence_type {
        container = "${params.containerPath}/sequence_type-${container_version}.simg"
    }
}
