process {
    withName: 'annotate_genome|make_blastdb|blast_query|plasmid_blast' {
        container = "docker://bactopia/annotate_genome"
    }
    withName: ariba_analysis {
        container = "docker://bactopia/ariba_analysis"
    }
    withName: assemble_genome {
        container = "docker://bactopia/assemble_genome"
    }
    withName: 'call_variants|call_variants_auto|mapping_query' {
        container = "docker://bactopia/call_variants"
    }
    withName: count_31mers {
        container = "docker://bactopia/count_31mers"
    }
    withName: download_references {
        container = "docker://bactopia/download_references"
    }
    withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
        container = "docker://bactopia/minmers"
    }
    withName: 'gather_fastqs' {
        container = "docker://rpetit3/ena-dl"
    }
    withName: insertion_sequences {
        container = "docker://bactopia/insertion_sequences"
    }
    withName: 'fastq_status|qc_reads|qc_original_summary|qc_final_summary' {
        container = "docker://bactopia/qc_reads"
    }
    withName: sequence_type {
        container = "docker://bactopia/sequence_type"
    }
}

singularity.enabled = true
