// Test data to be used by Bactopia tests
// Modeled after nf-core/modules setup

params {
    test_data {
        // Sequence accessions 
        'accessions' {
            gcf = "GCF_000292685"
            gcfs = ["GCF_002849995", "GCF_000292685", "GCF_002849975"]
            srx = "SRX1390609"
            srxs = ["SRX1390609", "SRX1390608", "SRX849002"]
        }

        // Illumina HiSeq - Candidatus Portiera aleyrodidarum 
        'illumina' {
            name = "SRR2838702"
            msh = "${params.test_data_dir}/fastq/illumina/SRR2838702.msh"
            sig = "${params.test_data_dir}/fastq/illumina/SRR2838702.sig"
            r1 = "${params.test_data_dir}/fastq/illumina/SRR2838702_R1.fastq.gz"
            r2 = "${params.test_data_dir}/fastq/illumina/SRR2838702_R2.fastq.gz"
            se = "${params.test_data_dir}/fastq/illumina/SRR2838702SE.fastq.gz"
        }

        // Candidatus Portiera aleyrodidarum completed genome (~350kb)
        'reference' {
            name = "GCF_000292685"
            length = "358242"
            blastdb = "${params.test_data_dir}/reference/blastdb"
            faa = "${params.test_data_dir}/reference/GCF_000292685.faa"
            ffn = "${params.test_data_dir}/reference/GCF_000292685.ffn"
            fna = "${params.test_data_dir}/reference/GCF_000292685.fna"
            gbk = "${params.test_data_dir}/reference/GCF_000292685.gbk"
            msh = "${params.test_data_dir}/reference/GCF_000292685.msh"
            genome_size = "${params.test_data_dir}/reference/GCF_000292685-genome-size.txt"
            total_contigs = "${params.test_data_dir}/reference/total_contigs_1"
        }
        
        // datasets
        'datasets' {
            'amrdb' {
                amrfinder = "${params.test_data_dir}/datasets/amrdb/amrfinderdb.tar.gz"
            }
            'ariba' {
                card = "${params.test_data_dir}/datasets/ariba/card.tar.gz"
                vfdb_core = "${params.test_data_dir}/datasets/ariba/vfdb_core.tar.gz"
            }
            'auto_variant' {
                reference = "${params.test_data_dir}/datasets/variants/SRR2838702-GCF_000292685.gbk"
            }
            'blast' {
                genes = "${params.test_data_dir}/datasets/blast/genes"
                proteins = "${params.test_data_dir}/datasets/blast/proteins"
                primers = "${params.test_data_dir}/datasets/blast/primers"
            }
            mapping = "${params.test_data_dir}/datasets/mapping-sequences"
            minmer = "${params.test_data_dir}/datasets/minmer"
            mlst = "${params.test_data_dir}/datasets/mlst"
        }

        // Empty files
        'empty' {
            fna = "${params.test_data_dir}/empty/EMPTY.fna.gz"
            fastq = "${params.test_data_dir}/empty/EMPTY.fastq.gz"
            proteins = "${params.test_data_dir}/empty/EMPTY_PROTEINS"
            prodigal_tf = "${params.test_data_dir}/empty/EMPTY_TF"
        }
    }
}
