// Base directory for test data
// Modeled after nf-core/modules setup

params {
    test_data {
        // Illumina HiSeq - Candidatus Portiera aleyrodidarum 
        illumina_r1 = "${params.test_data_dir}/fastq/illumina/SRR2838702_R1.fastq.gz"
        illumina_r2 = "${params.test_data_dir}/fastq/illumina/SRR2838702_R2.fastq.gz"
        illumina_se = "${params.test_data_dir}/fastq/illumina/SRR2838702SE.fastq.gz"
 
        // Candidatus Portiera aleyrodidarum completed genome (~350kb)
        reference = "GCF_000292685"
        reference_faa = "${params.test_data_dir}/reference/GCF_000292685.faa"
        reference_ffn = "${params.test_data_dir}/reference/GCF_000292685.ffn"
        reference_fna = "${params.test_data_dir}/reference/GCF_000292685.fna"
        reference_gbk = "${params.test_data_dir}/reference/GCF_000292685.gbk"

        //databases
        'databases' {
            'amrdb' {
                amrfinder = "${params.test_data_dir}/databases/amrdb/amrfinderdb.tar.gz"
            }
        }

        // annotate_genome
        total_contigs = "${params.test_data_dir}/bactopia/annotate_genome/total_contigs_1"
        prokka_proteins = "${params.test_data_dir}/bactopia/annotate_genome/EMPTY_PROTEINS"
        prodigal_tf = "${params.test_data_dir}/bactopia/annotate_genome/EMPTY_TF"

        //
    }
}
