// Test data to be used by Bactopia tests
// Modeled after nf-core/modules setup

params {
    is_ci = true
    max_retry = 1
    condadir = System.getenv("BACTOPIA_CONDA")
    singularity_pull_docker_container = true
    test_data_dir = System.getenv("BACTOPIA_TESTS")
    bactopia = params.bactopia_test ? "${params.test_data_dir}/${params.bactopia_test}" : null

    // General inputs
    r1 = params.r1 ? "${params.test_data_dir}/${params.r1}" : null
    r2 = params.r2 ? "${params.test_data_dir}/${params.r2}" : null

    // Database inputs
    ariba_db = params.test_dataset
    bakta_db = "${params.test_data_dir}/${params.test_dataset}"
    blastn_query = "${params.test_data_dir}/${params.test_dataset}"
    blastp_query = "${params.test_data_dir}/${params.test_dataset}"
    blastx_query = "${params.test_data_dir}/${params.test_dataset}"
    checkm2_db = "${params.test_data_dir}/${params.test_dataset}"
    eggnog_db = "${params.test_data_dir}/${params.test_dataset}"
    emmtyper_blastdb = params.test_dataset ? "${params.test_data_dir}/${params.test_dataset}" : null
    fastani_reference = params.test_dataset ? "${params.test_data_dir}/${params.test_dataset}" : null
    gamma_db = "${params.test_data_dir}/${params.test_dataset}"
    gtdb = "${params.test_data_dir}/${params.test_dataset}"
    insertions = "${params.test_data_dir}/${params.test_dataset}"
    kraken2_db = "${params.test_data_dir}/${params.test_dataset}"
    mash_sketch = "${params.test_data_dir}/${params.test_dataset}"
    midas_db = "${params.test_data_dir}/${params.test_dataset}"
    mlst_db = params.test_dataset ? "${params.test_data_dir}/${params.test_dataset}" : null
    mykrobe_species = params.test_dataset
    reference = "${params.test_data_dir}/${params.test_dataset2}"
    scoary_traits = params.test_dataset ? "${params.test_data_dir}/${params.test_dataset}" : null
    snippy_core_mask = params.test_dataset ? "${params.test_data_dir}/${params.test_dataset}" : null
    sylph_db = "${params.test_data_dir}/${params.test_dataset}"
    tblastn_query = "${params.test_data_dir}/${params.test_dataset}"
    tblastx_query = "${params.test_data_dir}/${params.test_dataset}"
}
