// Available Bactopia tools

params {
    workflows {
        'bactopia' {
            config = "conf/params/bactopia.config"
            includes = ["bactopia"]
            is_subworkflow = false
            path = "workflows/bactopia.nf"
            schema = "conf/schema/bactopia.json"
        }
        'staphopia' {
            includes = ["bactopia", "staphtyper"]
            is_subworkflow = false
            path = "workflows/staphopia.nf"
        }
        'staphtyper' {
            config = "subworkflows/local/staphtyper/params.config"
            ext = "fna"
            is_subworkflow = true
            path = "subworkflows/local/bactopia-tools/staphtyper/main.nf"
            schema = "subworkflows/local/staphtyper/params.json"
        }
    }
}
