// Available Bactopia tools

params {
    available_workflows {
        bactopia = ['bactopia', 'staphopia']
        'bactopiatools' {
            subworkflows = ['ariba', 'bakta', 'eggnog', 'gtdb', 'merlin', 'pangenome', 'staphtyper']
            modules = [
                'abricate', 'agrvate', 'amrfinderplus', 'busco', 'checkm', 'ectyper', 'emmtyper', 'fastani', 'gamma',
                'hicap', 'hpsuissero', 'ismapper', 'kleborate', 'kraken2', 'legsta', 'lissero', 'mashdist', 'mashtree',
                'mcroni', 'meningotype', 'mlst', 'mobsuite', 'ngmaster', 'plasmidfinder', 'prokka', 'rgi', 'seqsero2',
                'shigatyper', 'sistr', 'spatyper', 'ssuissero', 'staphopiasccmec', 'tbprofiler'
            ]
        }
    }
    workflows {
        // Named Workflows (Main Bactopia)
        'bactopia' {
            description = "Bactopia is a flexible pipeline for complete analysis of bacterial genomes."
            includes = ["bactopia"]
            is_workflow = true
            modules = ["gather_samples", "qc_reads", "assemble_genome", "assembly_qc", "annotate_genome", "minmer_sketch",
                       "minmer_query", "antimicrobial_resistance", "minmer_query", "blast", "call_variants",
                       "mapping_query", "sequence_type"]
        }
        'staphopia' {
            // Example of a 'wrapper' workflow
            description = "Staphopia is a flexible pipeline for complete analysis of Staphylococcus aureus genomes."
            includes = ["bactopia", "staphtyper"]
            is_workflow = true
        }

        // Named Subworkflows (Bactopia Tools)
        'ariba' {
            description = "Gene identification through local assemblies"
            ext = "fastq"
            modules = ["ariba_getref", "ariba_run"]
        }
        'bakta' {
            description = "Rapid annotation of bacterial genomes & plasmids"
            ext = "fna"
            modules = ["bakta_download", "bakta_run"]
        }
        'eggnog' {
            description = "Functional annotation of proteins using orthologous groups and phylogenies"
            ext = "faa"
            modules = ["eggnog_download", "eggnog_mapper"]
        }
        'fastani' {
            description = "Fast alignment-free computation of whole-genome Average Nucleotide Identity (ANI)"
            ext = "fna"
            path = "modules/nf-core/modules/fastani"
            modules = ["ncbigenomedownload"]
            use_local = "assembly"
        }
        'gtdb' {
            description = "Identify marker genes and assign taxonomic classifications"
            ext = "fna"
            modules = ["gtdbtk_setupdb", "gtdbtk_classifywf"]
        }
        'merlin' {
            description = "MinmER assisted species-specific bactopia tool seLectIoN"
            ext = "fna_fastq"
            modules = ["mashdist", "agrvate", "ectyper", "emmtyper", "hicap", "hpsuissero", "kleborate", "legsta", "lissero", "meningotype", "ngmaster",
                       "seqsero2", "shigatyper", "sistr", "spatyper", "ssuissero", "staphopiasccmec", "tbprofiler"]
        }
        'pangenome' {
            description = "Pangenome analysis with optional core-genome phylogeny"
            ext = "gff"
            modules = ["ncbigenomedownload", "pirate", "roary", "prokka", "iqtree", "clonalframeml", "snpdists", "scoary"]
            use_local = "gff"
        }
        'staphtyper' {
            description = "Includes AgrVATE, SpaTyper and Staphopia SCCmec for Staphylococcus aureus"
            ext = "fna"
            modules = ["agrvate", "spatyper", "staphopiasccmec"]
        }

        // Modules (houses params.json and params.config, where applicable can be subworkflow)
        // local
        'annotate_genome' {
            path = "modules/local/bactopia/annotate_genome"
        }
        'antimicrobial_resistance' {
            path = "modules/local/bactopia/antimicrobial_resistance"
        }
        'assemble_genome' {
            path = "modules/local/bactopia/assemble_genome"
        }
        'assembly_qc' {
            path = "modules/local/bactopia/assembly_qc"
        }
        'blast' {
            path = "modules/local/bactopia/blast"
        }
        'call_variants' {
            path = "modules/local/bactopia/call_variants"
        }
        'gather_samples' {
            path = "modules/local/bactopia/gather_samples"
        }
        'mapping_query' {
            path = "modules/local/bactopia/mapping_query"
        }
        'minmer_query' {
            path = "modules/local/bactopia/minmer_query"
        }
        'minmer_sketch' {
            path = "modules/local/bactopia/minmer_sketch"
        }
        'qc_reads' {
            path = "modules/local/bactopia/qc_reads"
        }
        'sequence_type' {
            path = "modules/local/bactopia/sequence_type"
        }

        // nf-core/modules
        'abricate' {
            description = "Mass screening of contigs for antimicrobial and virulence genes"
            ext = "fna"
            path = "modules/nf-core/modules/abricate/run"
        }
        'agrvate' {
            description = "Rapid identification of Staphylococcus aureus agr locus type and agr operon variants"
            ext = "fna"
            path = "modules/nf-core/modules/agrvate"
        }
        'amrfinderplus' {
            description = "Identify antimicrobial resistance in genes or proteins"
            ext = "fna_faa"
            path = "modules/nf-core/modules/amrfinderplus/run"
        }
        'ariba_getref' {
            path = "modules/nf-core/modules/ariba/getref"
        }
        'ariba_run' {
            path = "modules/nf-core/modules/ariba/run"
        }
        'bakta_download' {
            path = "modules/nf-core/modules/bakta/download"
        }
        'bakta_run' {
            path = "modules/nf-core/modules/bakta/run"
        }
        'busco' {
            description = "Assembly completeness based on evolutionarily informed expectations"
            ext = "fna"
            path = "modules/nf-core/modules/busco"
        }
        'checkm' {
            description = "Assess the assembly quality of your microbial samples"
            ext = "fna"
            path = "modules/nf-core/modules/checkm/lineagewf"
        }
        'clonalframeml' {
            description = "Predict recomination events in bacterial genomes"
            path = "modules/nf-core/modules/clonalframeml"
        }
        'csvtk_concat' {
            path = "modules/nf-core/modules/csvtk/concat"
        }
        'custom_dumpsoftwareversions' {
            path = "modules/nf-core/modules/custom/dumpsoftwareversions"
        }
        'ectyper' {
            description = "In-silico prediction of Escherichia coli serotype"
            ext = "fna"
            path = "modules/nf-core/modules/ectyper"
        }
        'eggnog_download' {
            path = "modules/nf-core/modules/eggnog/download"
        }
        'eggnog_mapper' {
            path = "modules/nf-core/modules/eggnog/mapper"
        }
        'emmtyper' {
            description = "emm-typing of Streptococcus pyogenes assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/emmtyper"
        }
        'gtdbtk_setupdb' {
            path = "modules/nf-core/modules/gtdbtk/setupdb"
        }
        'gtdbtk_classifywf' {
            path = "modules/nf-core/modules/gtdbtk/classifywf"
        }
        'gamma' {
            description = "Identification, classification, and annotation of translated gene matches"
            ext = "fna"
            path = "modules/nf-core/modules/gamma"
        }
        'hicap' {
            description = "Identify cap locus serotype and structure in your Haemophilus influenzae assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/hicap"
        }
        'hpsuissero' {
            description = "Rapid Haemophilus parasuis Serotyping of assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/hpsuissero"
        }
        'iqtree' {
            description = "Phylogeny from a multiple sequence alignment using the maxium likelihood algorithm."
            path = "modules/nf-core/modules/iqtree"
        }
        'ismapper' {
            description = "Identify insertion sites positions in bacterial genomes"
            ext = "fastq"
            path = "modules/nf-core/modules/ismapper"
        }
        'kleborate' {
            description = "Screen for MLST, sub-species, and other Klebsiella related genes of interest"
            ext = "fna"
            path = "modules/nf-core/modules/kleborate"
        }
        'kraken2' {
            description = "Taxonomic classification of sequence reads"
            ext = "fastq"
            path = "modules/nf-core/modules/kraken2"
        }
        'legsta' {
            description = "Typing of Legionella pneumophila assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/legsta"
        }
        'lissero' {
            description = "Serogroup typing prediction for Listeria monocytogenes"
            ext = "fna"
            path = "modules/nf-core/modules/lissero"
        }
        'mashdist' {
            description = "Calculate Mash distances between sequences"
            ext = "fna"
            path = "modules/nf-core/modules/mash/dist"
        }
        'mashtree' {
            description = "Create a trees using Mash distance"
            ext = "fna"
            path = "modules/nf-core/modules/mashtree"
        }
        'mcroni' {
            description = "Sequence variation in mobilized colistin resistance (mcr-1) genes"
            ext = "fna"
            path = "modules/nf-core/modules/mcroni"
        }
        'meningotype' {
            description = "Serotyping of Neisseria meningitidis"
            ext = "fna"
            path = "modules/nf-core/modules/meningotype"
        }
        'mlst' {
            description = "Scan contig files against PubMLST typing schemes"
            ext = "fna"
            path = "modules/nf-core/modules/mlst"
        }
        'mobsuite' {
            description = "Reconstruct and annotate plasmids in bacterial assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/mobsuite/recon"
        }
        'ncbigenomedownload' {
            description = "Quickly download assemblies from NCBI's Assembly database"
            path = "modules/nf-core/modules/ncbigenomedownload"
        }
        'ngmaster' {
            description = "Multi-antigen sequence typing for Neisseria gonorrhoeae"
            ext = "fna"
            path = "modules/nf-core/modules/ngmaster"
        }
        'pirate' {
            description = "Pangenome toolbox for bacterial genomes"
            ext = "gff"
            path = "modules/nf-core/modules/pirate"
        }
        'plasmidfinder' {
            description = "Plasmid identification from assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/plasmidfinder"
        }
        'prokka' {
            description = "Whole genome annotation of small genomes (bacterial, archeal, viral)"
            ext = "fna"
            path = "modules/nf-core/modules/prokka"
        }
        'rgi' {
            description = "Predict antibiotic resistance from assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/rgi/main"
        }
        'roary' {
            description = "Rapid large-scale prokaryote pangenome analysis"
            ext = "gff"
            path = "modules/nf-core/modules/roary"
        }
        'scoary' {
            description = "GWAS analysis using pangenome outputs"
            ext = "csv"
            path = "modules/nf-core/modules/scoary"
        }
        'seqsero2' {
            description = "Salmonella serotype prediction from reads or assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/seqsero2"
        }
        'shigatyper' {
            description = "Shigella serotype from Illumina or Oxford Nanopore reads"
            ext = "fastq"
            path = "modules/nf-core/modules/shigatyper"
        }
        'sistr' {
            description = "Serovar prediction of Salmonella assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/sistr"
        }
        'snpdists' {
            description = "Pairwise SNP distance matrix from a FASTA sequence alignment"
            ext = "fna"
            path = "modules/nf-core/modules/snpdists"
        }
        'spatyper' {
            description = "Computational method for finding spa types in Staphylococcus aureus"
            ext = "fna"
            path = "modules/nf-core/modules/spatyper"
        }
        'staphopiasccmec' {
            description = "Primer based SCCmec typing of Staphylococcus aureus genomes"
            ext = "fna"
            path = "modules/nf-core/modules/staphopiasccmec"
        }
        'ssuissero' {
            description = "Rapid Streptococcus suis Serotyping of assemblies"
            ext = "fna"
            path = "modules/nf-core/modules/ssuissero"
        }
        'tbprofiler' {
            description = "Detect resistance and lineages of Mycobacterium tuberculosis genomes"
            ext = "fastq"
            path = "modules/nf-core/modules/tbprofiler/profile"
        }
    }
}
