/*
This file includes default values for shared parameters.
*/

params {
    // Assembly QC Parameters
    checkm_unique = 10
    checkm_multi = 10
    aai_strain = 0.9
    checkm_length = 0.7
    full_tree = null
    skip_pseudogene_correction = null
    ignore_thresholds = null
    checkm_ali = null
    checkm_nt = null
    force_domain = null
    no_refinement = null
    individual_markers = null
    skip_adj_correction = null
    skip_checkm = false
    contig_thresholds = '0,1000,10000,100000,250000,1000000'
    plots_format = 'pdf'
}
