// Minimal config for module-level testing of AGRVATE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "agrvate"
        logo_name = "bactopia-tools"
        description = "Determine the agr locus type and operon variants in Staphylococcus aureus"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
