/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // kleborate
    kleborate_opts = ''
    kleborate_preset = 'kpsc'
}

process {
    withName: 'KLEBORATE' {
        // Optional arguments
        ext.args = [
            "--preset ${params.kleborate_preset}",
            params.kleborate_opts ? "${params.kleborate_opts}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::kleborate=3.2.4".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/kleborate:3.2.4--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/kleborate:3.2.4--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "kleborate"
    }
}
