/*
This file includes default process values for kleborate.
*/

process {
    withName: 'KLEBORATE' {
        // Optional arguments
        ext.args = [
            "--preset ${params.kleborate_preset}",
            params.kleborate_opts ? "${params.kleborate_opts}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::kleborate=3.1.3".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/kleborate:3.1.3--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/kleborate:3.1.3--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "kleborate"
    }
}
