params {
    // blast_tblastx
    tblastx_max_target_seqs = 2000
    tblastx_opts = ""
    tblastx_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    tblastx_qcov_hsp_perc = 50
    tblastx_query = null
    tblastx_use_genes = false
}

process {
    withName: 'BLAST_TBLASTX' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tblastx"

        // Tool arguments
        ext.args = [
            "-outfmt '6 ${params.tblastx_outfmt}'",
            "-qcov_hsp_perc ${params.tblastx_qcov_hsp_perc}",
            "-max_target_seqs ${params.tblastx_max_target_seqs}",
            params.tblastx_opts
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::blast=2.17.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/blast:2.17.0--h66d330f_0"
        ext.image = "https://depot.galaxyproject.org/singularity/blast:2.17.0--h66d330f_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.use_genes = params.tblastx_use_genes
        ext.outfmt = params.tblastx_outfmt
    }
}
