/*
This file includes default process values for blast tblastx.
*/

process {
    withName: 'BLAST_TBLASTX' {
        // Optional arguments
        ext.args = [
            "-outfmt \"6 ${params.tblastx_outfmt}\"",
            params.tblastx_qcov_hsp_perc ? "-qcov_hsp_perc ${params.tblastx_qcov_hsp_perc}" : "",
            params.tblastx_max_target_seqs ? "-max_target_seqs ${params.tblastx_max_target_seqs}" : "",
            params.tblastx_opts ? "${params.tblastx_opts}" : ""
        ].join(' ')

        // Environment information
        ext.env = [
            toolName: "bioconda::blast=2.16.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/blast:2.16.0--hc155240_2",
            image: "https://depot.galaxyproject.org/singularity/blast:2.16.0--hc155240_2",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tblastx"
    }
}
