// main script name
manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '4.0.0'
    nextflowVersion = '>=25.04.6'
}

params {
    workflow {
        name = "kleborate"
        logo_name = "bactopia-tools"
        description = "Screen Klebsiella for MLST, sub-species, and genes of interest"
        ext = "fna"
    }
}

// Feature Flags
nextflow.enable.strict = true

// Version
params.bactopia_version = '4.0.0'

// Includes
params.bactopia_cache = env("BACTOPIA_CACHEDIR") ? "${env('BACTOPIA_CACHEDIR')}" : "${env('HOME')}/.bactopia"
includeConfig "../../../conf/params.config"
includeConfig "../../../conf/params/bactopia-tools.config"

// Module specific config
includeConfig "../../../modules/csvtk/concat/module.config"
includeConfig "../../../modules/kleborate/module.config"

// Set output directory
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode
workflow.output.overwrite = params.force ? true : 'standard'

// Set up run directory
params.singularity_cache = env("NXF_SINGULARITY_CACHEDIR") ? "${env('NXF_SINGULARITY_CACHEDIR')}" : "${params.singularity_cache}"
params.run_timestamp = new java.util.Date().format('yyyyMMdd-HHmmss')
params.rundir = params.is_ci ? "bactopia-runs/${params.run_name}" : "bactopia-runs/${params.run_name}-${params.run_timestamp}"
params.infodir = "${params.outdir}/${params.rundir}/nf-reports"

// Load nf-core custom profiles from different Institutions
includeConfig !env('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load Bactopia custom profiles from different institutions.
// Uncomment in the event a bactopia specific profile is added
//includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/bactopia.config" : "/dev/null"

// Base Config
includeConfig "../../../conf/base.config"

// Profiles
includeConfig "../../../conf/profiles.config"

// Reporting configuration
timeline {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-trace.txt"
    fields = ['task_id','hash','native_id','process','tag','name','status','exit','module','container','cpus','time','disk','memory','attempt','start','complete','duration','realtime','queue','%cpu','%mem','rss','vmem']
}

dag {
    enabled = true
    overwrite = true
    file = "${params.infodir}/${params.workflow.name}-dag.svg"
}

// Plugins
plugins {
    id 'nf-bactopia@1.1.0'
}

bactopia {
    parametersSchema = "${projectDir}/nextflow_schema.json"
}
