// Minimal config for module-level testing of MASHTREE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "mashtree"
        logo_name = "bactopia-tools"
        description = "Rapid alignment-free phylogenomic tree construction"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
