manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing Illumina sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '1.6.0'
    nextflowVersion = '>=19'
}


profiles {

    conda {
        process {
            withName: qc_original_summary {
                    conda = "${baseDir}/../../../../conda/envs/qc_reads-1.7.x"}
                }
          }

    docker {
            process {
            withName: qc_original_summary {
                    container = "ghcr.io/bactopia/qc_reads:1.6.0"}

                    }
            }

    test {
        process {
            echo = true
    withName: qc_original_summary {
        cpus = 2
        queue = 'long'
                    }

        		}
        env {
            VERSION = "1.6.0"
            outdir = "test_output"
            sample = "TEST_SAMPLE"
            final_sample_type = "paired-end"
   	        single_end = "false"
            run_type = "fastqs"
        }
    }
}
