/*
This file includes default process values for hpsuissero.
*/

process {
    withName: 'HPSUISSERO' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.env = [
            toolName: "bioconda::hpsuissero=1.0.1".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/hpsuissero:1.0.1--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/hpsuissero:1.0.1--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "hpsuissero"
        ext.version = "1.0.1"
    }
}
