params {
    // staphscan
    staphscan_modules = ""
}

process {
    withName: 'STAPHSCAN' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "staphscan"

        // Tool arguments
        ext.args = [
            params.staphscan_modules ? "--modules ${params.staphscan_modules}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::staphscan=0.3.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/staphscan:0.3.1--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/staphscan:0.3.1--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
