params {
    // Mashtree
    mtree_trunclength = 250
    mtree_sortorder = 'ABC'
    mtree_genomesize = 5000000
    mtree_mindepth = 5
    mtree_kmerlength = 21
    mtree_sketchsize = 10000
    mtree_save_sketches = false
}

process {
    withName: 'MASHTREE' {
        // Optional arguments
        ext.args = [
            "--truncLength ${params.mtree_trunclength}",
            "--sort-order ${params.mtree_sortorder}",
            "--genomesize ${params.mtree_genomesize}",
            "--mindepth ${params.mtree_mindepth}",
            "--kmerlength ${params.mtree_kmerlength}",
            "--sketch-size ${params.mtree_sketchsize}",
            params.save_sketches ? "--save-sketches sketches/" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::mashtree=1.4.6".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/mashtree:1.4.6--pl5321h031d066_0"
        ext.image = "https://depot.galaxyproject.org/singularity/mashtree:1.4.6--pl5321h031d066_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mashtree"
    }
}
