params {
    // mashtree
    mashtree_genomesize = 5000000
    mashtree_kmerlength = 21
    mashtree_mindepth = 5
    mashtree_save_sketches = false
    mashtree_sketchsize = 10000
    mashtree_sortorder = 'ABC'
    mashtree_trunclength = 250
}

process {
    withName: 'MASHTREE' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mashtree"

        // Tool arguments
        ext.args = [
            "--truncLength ${params.mashtree_trunclength}",
            "--sort-order ${params.mashtree_sortorder}",
            "--genomesize ${params.mashtree_genomesize}",
            "--mindepth ${params.mashtree_mindepth}",
            "--kmerlength ${params.mashtree_kmerlength}",
            "--sketch-size ${params.mashtree_sketchsize}",
            params.save_sketches ? "--save-sketches sketches/" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::mashtree=1.4.6".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/mashtree:1.4.6--pl5321h87e0c26_4"
        ext.image = "https://depot.galaxyproject.org/singularity/mashtree:1.4.6--pl5321h87e0c26_4"
        ext.condaDir = "${params.condadir}"
    }
}
