/*
This file includes default process values for mashtree.
*/

process {
    withName: 'MASHTREE' {
        // Optional arguments
        ext.args = [
            "--trunclength ${params.trunclength}",
            "--sortorder ${params.sortorder}",
            "--genomesize ${params.genomesize}",
            "--mindepth ${params.mindepth}",
            "--kmerlength ${params.kmerlength}",
            "--sketchsize ${params.sketchsize}",
            params.save_sketches ? "--tempdir sketches" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::mashtree=1.4.6".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/mashtree:1.4.6--pl5321h031d066_0",
            image: "https://depot.galaxyproject.org/singularity/mashtree:1.4.6--pl5321h031d066_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mashtree"
    }
}
