process {
    withName: 'MASHTREE' {
        // Optional arguments
        ext.args = {[
            "--trunclength ${params.trunclength}",
            "--sortorder ${params.sortorder}",
            "--genomesize ${params.genomesize}",
            "--mindepth ${params.mindepth}",
            "--kmerlength ${params.kmerlength}",
            "--sketchsize ${params.sketchsize}",
            params.save_sketches ? "--tempdir sketches" : ""
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::mashtree=1.4.6"
        ext.singularity = "https://depot.galaxyproject.org/singularity/mashtree:1.4.6--pl5321h031d066_0"
        ext.docker = "quay.io/biocontainers/mashtree:1.4.6--pl5321h031d066_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
