/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    csvtk_concat_opts = ""
}

// bactopia-lint: ignore MC007
process {
    withName: 'CSVTK_CONCAT' {
        ext.args = [
            "${params.csvtk_concat_opts}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::csvtk=0.31.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/csvtk:0.31.0--h9ee0642_0"
        ext.image = "https://depot.galaxyproject.org/singularity/csvtk:0.31.0--h9ee0642_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "run"
    }
}
