/*
This file includes default process values for csvtk/concat.
*/

process {
    withName: 'CSVTK_CONCAT' {
        // Environment information
        ext.args = ""

        ext.env = [
            toolName: "bioconda::csvtk=0.31.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/csvtk:0.31.0--h9ee0642_0",
            image: "https://depot.galaxyproject.org/singularity/csvtk:0.31.0--h9ee0642_0",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
    }
}
