params {
    // bactopia_gather
    attempts = 3
    max_genome_size = 18040666
    min_basepairs = 2241820
    min_coverage = 10
    min_genome_size = 100000
    min_proportion = 0.5
    min_reads = 7472
    no_cache = false
    skip_fastq_check = false
    use_ena = false
}

process {
    withName: 'GATHER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "gather"

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::bactopia-gather=1.1.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-gather:1.1.1--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-gather:1.1.1--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.coverage = params.coverage
        ext.max_retry = params.max_retry
        ext.min_basepairs = params.min_basepairs
        ext.min_proportion = params.min_proportion
        ext.min_reads = params.min_reads
        ext.no_cache = params.no_cache
        ext.sampleseed = params.sampleseed
        ext.skip_compression = params.skip_compression
        ext.skip_fastq_check = params.skip_fastq_check
        ext.use_ena = params.use_ena
    }
}
