/*
This file includes default values for shared parameters.
*/

params {
    //  Gather Samples Parameters
    /*
        The default value for min_basepairs is based on having a minimum of 20x coverage
        of Nasuia deltocephalinicola (https://en.wikipedia.org/wiki/Nasuia_deltocephalinicola).
        At the time (2019-08-07), it had the smallest genome of all bacteria, clocking in at
        112,091 nucleotides. At 20x, the minimum basepairs required is only ~2Mbp.

        Please, consider this parameter as a technical parameter to prevent downstream
        analyses from failing due to very low coverage. You will need to determine if the
        coverage of processed samples is sufficient or not.

        The default value for min_reads is min_basepairs / 300 . The value of 300 was selected
        based on it being the longest available read length of an Illumina product (MiSeq).

        The default value for max_genome_size was set by adding 2Mbp to the Minicystis rosea
        (https://www.ncbi.nlm.nih.gov/assembly/GCF_001931535.1) genome size (16,040,666 bp).

        The default value for min_genome_size was based on the above Nasuia deltocephalinicola
        genome size (112,091 bp).

        These two parameters are only applied if the genome size is estimated using Mash.
    */
    skip_fastq_check = false
    min_basepairs = 2241820
    min_reads = 7472
    min_coverage = 10
    min_proportion = 0.5
    min_genome_size = 100000
    max_genome_size = 18040666
    attempts = 3
    use_ena = false
    no_cache = false
}
