/*
This file includes default process values for gather.
*/

process {
    withName: 'GATHER' {
        // Optional arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::bactopia-gather=1.0.4".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-gather:1.0.4--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-gather:1.0.4--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "gather"

        // WF specific parameters
        ext.coverage = params.coverage
        ext.max_retry = params.max_retry
        ext.min_basepairs = params.min_basepairs
        ext.min_proportion = params.min_proportion
        ext.min_reads = params.min_reads
        ext.no_cache = params.no_cache
        ext.sampleseed = params.sampleseed
        ext.skip_compression = params.skip_compression
        ext.skip_fastq_check = params.skip_fastq_check
        ext.use_ena = params.use_ena
    }
}
