params {
    // kraken2
    kraken2_confidence = 0.0
    kraken2_db = null
    kraken2_keep_filtered_reads = false
    kraken2_memory_mapping = false
    kraken2_minimum_base_quality = 0
    kraken2_minimum_hit_groups = 2
    kraken2_quick_mode = false
    kraken2_report_minimizer_data = false
    kraken2_report_zero_counts = false
    kraken2_use_mpa_style = false
    kraken2_use_names = false
}

process {
    withName: 'KRAKEN2' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "kraken2"

        // Tool arguments
        ext.args = [
            params.kraken2_quick_mode ? "--quick" : "",
            params.kraken2_use_mpa_style ? "--use-mpa-style" : "",
            params.kraken2_report_zero_counts ? "--report-zero-counts" : "",
            params.kraken2_report_minimizer_data ? "--report-minimizer-data" : "",
            params.kraken2_use_names ? "--use-names" : "",
            params.kraken2_memory_mapping ? "--memory-mapping" : "",
            "--confidence ${params.kraken2_confidence}",
            "--minimum-hit-groups ${params.kraken2_minimum_hit_groups}",
            "--minimum-base-quality ${params.kraken2_minimum_base_quality}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::bactopia-teton=1.1.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-teton:1.1.2--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.2--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.keep_filtered_reads = params.kraken2_keep_filtered_reads
    }
}
