process {
    withName: 'KRAKEN2' {
        // Optional arguments
        ext.args = {[
            params.quick_mode ? "--quick" : "",
            "--confidence ${params.confidence}",
            "--minimum-base-quality ${params.minimum_base_quality}",
            params.use_mpa_style ? "--use-mpa-style" : "",
            params.report_zero_counts ? "--report-zero-counts" : "",
            params.report_minimizer_data ? "--report-minimizer-data" : "",
            params.use_names ? "--use-names" : "",
            params.memory_mapping ? "--memory-mapping" : "",
            "--minimum-hit-groups ${params.minimum_hit_groups}"
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::bactopia-teton=1.1.1"
        ext.singularity = "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.1--hdfd78af_0"
        ext.docker = "quay.io/biocontainers/bactopia-teton:1.1.1--hdfd78af_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
        ext.keep_filtered_reads = params.keep_filtered_reads
    }
}
