/*
This file includes default process values for kraken2.
*/

process {
    withName: 'KRAKEN2' {
        // Optional arguments
        ext.args = [
            params.quick_mode ? "--quick" : "",
            "--confidence ${params.confidence}",
            "--minimum-base-quality ${params.minimum_base_quality}",
            params.use_mpa_style ? "--use-mpa-style" : "",
            params.report_zero_counts ? "--report-zero-counts" : "",
            params.report_minimizer_data ? "--report-minimizer-data" : "",
            params.use_names ? "--use-names" : "",
            params.memory_mapping ? "--memory-mapping" : "",
            "--minimum-hit-groups ${params.minimum_hit_groups}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::bactopia-teton=1.1.1".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/bactopia-teton:1.1.1--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.1--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "kraken2"
        ext.keep_filtered_reads = params.keep_filtered_reads
    }
}
