/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // ISMapper
    reference = null            // bactopia-lint: ignore MC009,JS004
    insertions = null           // bactopia-lint: ignore MC009,JS004
    ismapper_min_clip = 10
    ismapper_max_clip = 30
    ismapper_cutoff = 6
    ismapper_novel_gap_size = 15
    ismapper_min_range = 0.9
    ismapper_max_range = 1.1
    ismapper_merging = 100
    ismapper_all = null
    ismapper_minqual = 30
}

process {
    withName: 'ISMAPPER' {
        // Optional arguments
        ext.args = [
            params.ismapper_all ? "-all" : "",
            "--min_clip ${params.ismapper_min_clip}",
            "--max_clip ${params.ismapper_max_clip}",
            "--cutoff ${params.ismapper_cutoff}",
            "--novel_gap_size ${params.ismapper_novel_gap_size}",
            "--min_range ${params.ismapper_min_range}",
            "--max_range ${params.ismapper_max_range}",
            "--merging ${params.ismapper_merging}",
            "--T ${params.ismapper_minqual}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::ismapper=2.0.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ismapper:2.0.2--pyhdfd78af_1"
        ext.image = "https://depot.galaxyproject.org/singularity/ismapper:2.0.2--pyhdfd78af_1"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.logs_use_prefix = true
        ext.process_name = "ismapper"
    }
}
