/*
This file includes default parameter values.
*/

params {
    // ISMapper
    use_mamba = false
    reference = null
    insertions = null
    ismap_min_clip = 10
    ismap_max_clip = 30
    ismap_cutoff = 6
    ismap_novel_gap_size = 15
    ismap_min_range = 0.9
    ismap_max_range = 1.1
    ismap_merging = 100
    ismap_all = null
    ismap_minqual = 30
}
