/*
This file includes default process values for ismapper.
*/

process {
    withName: 'ISMAPPER' {
        // Optional arguments
        ext.args = [
            params.ismap_all ? "-all" : "",
            "--min_clip ${params.ismap_min_clip}",
            "--max_clip ${params.ismap_max_clip}",
            "--cutoff ${params.ismap_cutoff}",
            "--novel_gap_size ${params.ismap_novel_gap_size}",
            "--min_range ${params.ismap_min_range}",
            "--max_range ${params.ismap_max_range}",
            "--merging ${params.ismap_merging}",
            "--T ${params.ismap_minqual}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::ismapper=2.0.2".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/ismapper:2.0.2--pyhdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/ismapper:2.0.2--pyhdfd78af_1",
            condaDir: "${params.condadir}",
        ]

        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.logs_use_prefix = true
        ext.process_name = "ismapper"
    }
}
