// Minimal config for module-level testing of ISMAPPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "ismapper"
        logo_name = "bactopia-tools"
        description = "Identify insertion sites and orientation of mobile genetic elements"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
