/*
This file includes default process values for agrvate.
*/

process {
    withName: 'AGRVATE' {
        // Optional arguments
        ext.args = params.agrvate_typing_only ? "--typing_only" : ""

        // Environment information
        ext.toolName = "bioconda::agrvate=1.0.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/agrvate:1.0.2--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/agrvate:1.0.2--hdfd78af_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "agrvate"
    }
}
