// Minimal config for subworkflow-level testing of GENOMEDL
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "genomedl"
        logo_name = "bactopia-tools"
        description = "Download genome assemblies from NCBI Datasets"
        ext = "fna"
    }
    wf = params.workflow.name
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/genomedl/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
