// Minimal config for module-level testing of GAMMA
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "gamma"
        logo_name = "bactopia-tools"
        description = "Identification, classification, and annotation of translated gene matches"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
