manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing Illumina sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '1.6.0'
    nextflowVersion = '>=19'
}


profiles {
    conda {
        process {
            withName: blast_genes {
                    conda = "${baseDir}/../../../conda/envs/annotate_genome-1.7.x"}
                }
          }

    docker {
            process {
            withName: blast_genes {
                    container = "ghcr.io/bactopia/annotate_genome:1.6.0"}

                    }
            }

    test {
        process {
            withName: blast_genes {
                cpus = 2
                queue = 'long'
                            }
                }
        env {
            BLAST_GENE_FASTAS = ["genes"]
            VERSION = "1.6.0"
            outdir = "test_output"
            sample = "SRR2838702"
            final_sample_type = "paired-end"
            single_end = false
            run_type = "fastqs"
        }

    }
}
