// Minimal config for module-level testing of SHIGATYPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "shigatyper"
        logo_name = "bactopia-tools"
        description = "Shigella serotype from Illumina or Oxford Nanopore reads"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
