/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // phyloFlash
    phyloflash_allow_multiple_16s = false
}

process {
    withName: 'PHYLOFLASH' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::phyloflash=3.4.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/phyloflash:3.4.2--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/phyloflash:3.4.2--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "phyloflash"

        // WF specific parameters
        ext.allow_multiple_16s = params.phyloflash_allow_multiple_16s
    }
}
