process {
    withName: 'PHYLOFLASH' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.conda = "bioconda::phyloflash=3.4.2"
        ext.singularity = "https://depot.galaxyproject.org/singularity/phyloflash:3.4.2--hdfd78af_0"
        ext.docker = "quay.io/biocontainers/phyloflash:3.4.2--hdfd78af_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
