params {
    // mlst
    mlst_db = ""
    mlst_mincov = 10
    mlst_minid = 95
    mlst_minscore = 50
    mlst_nopath = false
    mlst_scheme = ""
}

process {
    withName: 'MLST' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mlst"

        // Tool arguments
        ext.args = [
            params.mlst_nopath ? "--nopath" : "",
            params.mlst_scheme ? "--scheme ${params.mlst_scheme}" : "",
            "--minid ${params.mlst_minid}",
            "--mincov ${params.mlst_mincov}",
            "--minscore ${params.mlst_minscore}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::mlst=2.32.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/mlst:2.32.2--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/mlst:2.32.2--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
