/*
This file includes default process values for mlst.
*/

process {
    withName: 'MLST' {
        // Optional arguments
        ext.args = [
            params.nopath ? "--nopath" : "",
            params.scheme ? "--scheme ${params.scheme}" : "",
            "--minid ${params.minid}",
            "--mincov ${params.mincov}",
            "--minscore ${params.minscore}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::mlst=2.23.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/mlst:2.23.0--hdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/mlst:2.23.0--hdfd78af_1",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mlst"
    }
}
