/*
This file includes default process values for mlst.
*/

process {
    withName: 'MLST' {
        // Optional arguments
        ext.args = [
            params.mlst_nopath ? "--nopath" : "",
            params.mlst_scheme ? "--scheme ${params.mlst_scheme}" : "",
            "--minid ${params.mlst_minid}",
            "--mincov ${params.mlst_mincov}",
            "--minscore ${params.mlst_minscore}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::mlst=2.23.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/mlst:2.23.0--hdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/mlst:2.23.0--hdfd78af_1",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "mlst"
    }
}
