// Minimal config for module-level testing of ROARY
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "roary"
        logo_name = "bactopia-tools"
        description = "Rapid large-scale prokaryote pan genome analysis"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
