/*
This file includes default values for shared parameters.
*/

params {
    // BLAST Parameters
    tblastn_query = null
    tblastn_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    tblastn_opts = ""
    tblastn_qcov_hsp_perc = 50
    tblastn_max_target_seqs = 2000
    tblastn_use_genes = false
}
