params {
    outdir = "output/"
    publish_dir_mode = "copy"
}

process {
  cpus = 2
  memory = 3.GB
  time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    docker.enabled = true
    docker.userEmulation = true
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
  nextflowVersion = '!>=21.04.0'
}