params {
    test_data {
        // Illumina HiSeq - Candidatus Portiera aleyrodidarum 
        illumina_r1 = "/tests/data/fastq/illumina/SRR2838702_R1.fastq.gz"
        illumina_r2 = "/tests/data/fastq/illumina/SRR2838702_R2.fastq.gz"
        illumina_se = "/tests/data/fastq/illumina/SRR2838702SE.fastq.gz"
 
        // Candidatus Portiera aleyrodidarum completed genome
        reference = "GCF_000292685"
        reference_fna = "/tests/data/reference/GCF_000292685.fna"
        reference_gbk = "/tests/data/reference/GCF_000292685.gbk"
    }
}