/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'STECFINDER' {
        ext {
            /* --------------------------------
               Optional arguments
            -------------------------------- */
            args = [
                params.stecfinder_hits ? "--print_hits" : "",
                "--cutoff ${params.stecfinder_cutoff}",
                "--length ${params.stecfinder_length}",
                "--ipaH_length ${params.stecfinder_ipah_length}",
                "--ipaH_depth ${params.stecfinder_ipah_depth}",
                "--stx_length ${params.stecfinder_stx_length}",
                "--stx_depth ${params.stecfinder_stx_depth}",
                "--O_length ${params.stecfinder_o_length}",
                "--O_depth ${params.stecfinder_o_depth}",
                "--H_length ${params.stecfinder_h_length}",
                "--H_depth ${params.stecfinder_h_depth}"
            ].join(' ').trim()

            /* --------------------------------
               Environment information
            -------------------------------- */
            conda_tools = "bioconda::stecfinder=1.1.2"
            conda_name = conda_tools.replace("=", "-").replace(":", "-").replace(" ", "-")
            conda_env = file("${params.condadir}/${conda_name}").exists() ? "${params.condadir}/${conda_name}" : conda_tools

            /* --------------------------------
               Additional parameters
            -------------------------------- */
            prefix = "${meta.id}.${params.wf}"
            rundir = "${task.ext.prefix}.${task.ext.process_name}"
            subdir = ""
            logs_subdir = ""
            process_name = "stecfinder"
        }
    }
}
