/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'STECFINDER' {
        // Optional arguments
        ext.args = [
            params.stecfinder_use_reads  ? "-r" : "",
            params.stecfinder_hits ? "--hits" : "",
            "--cutoff ${params.stecfinder_cutoff}",
            "--length ${params.stecfinder_length}",
            "--ipaH_length ${params.stecfinder_ipah_length}",
            "--ipaH_depth ${params.stecfinder_ipah_depth}",
            "--stx_length ${params.stecfinder_stx_length}",
            "--stx_depth ${params.stecfinder_stx_depth}",
            "--o_length ${params.stecfinder_o_length}",
            "--o_depth ${params.stecfinder_o_depth}",
            "--h_length ${params.stecfinder_h_length}",
            "--h_depth ${params.stecfinder_h_depth}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::stecfinder=1.1.2".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/stecfinder:1.1.2--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/stecfinder:1.1.2--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        // Additional parameters
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "stecfinder"

        // WF specific parameters
        ext.stecfinder_use_reads = params.stecfinder_use_reads
    }
}
