// Minimal config for module-level testing of KRAKEN2
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "kraken2"
        logo_name = "bactopia-tools"
        description = "Taxonomic classification and host filtering of sequence reads"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
