/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // BLAST Parameters
    tblastn_query = null
    tblastn_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    tblastn_opts = ""
    tblastn_qcov_hsp_perc = 50
    tblastn_max_target_seqs = 2000
    tblastn_use_genes = false
}

process {
    withName: 'BLAST_TBLASTN' {
        // Optional arguments
        ext.args = [
            "-outfmt '6 ${params.tblastn_outfmt}'",
            "-qcov_hsp_perc ${params.tblastn_qcov_hsp_perc}",
            "-max_target_seqs ${params.tblastn_max_target_seqs}",
            params.tblastn_opts
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::blast=2.17.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/blast:2.17.0--h66d330f_0"
        ext.image = "https://depot.galaxyproject.org/singularity/blast:2.17.0--h66d330f_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tblastn"
        ext.use_genes = params.tblastn_use_genes
        ext.outfmt = params.tblastn_outfmt
    }
}
