/*
This file includes default process values for blast tblastn.
*/

process {
    withName: 'BLAST_TBLASTN' {
        // Optional arguments
        ext.args = [
            "-outfmt \"6 ${params.tblastn_outfmt}\"",
            params.tblastn_qcov_hsp_perc ? "-qcov_hsp_perc ${params.tblastn_qcov_hsp_perc}" : "",
            params.tblastn_max_target_seqs ? "-max_target_seqs ${params.tblastn_max_target_seqs}" : "",
            params.tblastn_opts ? "${params.tblastn_opts}" : ""
        ].join(' ')

        // Environment information
        ext.env = [
            toolName: "bioconda::blast=2.16.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/blast:2.16.0--hc155240_2",
            image: "https://depot.galaxyproject.org/singularity/blast:2.16.0--hc155240_2",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tblastn"
    }
}
