// Minimal config for module-level testing of GENOTYPHI_PARSE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "genotyphi"
        logo_name = "bactopia-tools"
        description = "Parse Mykrobe results to genotype Salmonella Typhi"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
