params {
    // Bactopia
    bactopia_results = null
    max_time = 120
    max_memory = 32
    cpus = 4
    outdir = '.'
    compress = false
    keep_all_files = false
    help = null
    help_all = null
    version = null
    infodir = "${params.outdir}/bactopia-info"
    nfdir = false
    overwrite = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
}
