params {
    // Bactopia
    bactopia = null
    prefix = "fastani"
    max_time = 120
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    force = false
    publish_mode = 'copy'
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    exclude = null
    include = null
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    cleanup_workdir = false

    // bactopia tools helper
    force_rebuild = null
    skip_conda = null
    verbose = null
    silent = null
    
    // RefSeq Downloads
    species = null
    accession = null
    accessions = null
    limit = null

    // User Reference
    reference = null

    // FastANI
    kmer = 16
    fragLen = 3000
    minFraction = 0.2
    skip_pairwise = false
}
