/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // PhiSpy
    phispy_number = 5
    phispy_mincontigsize = 5000
    phispy_windowsize = 30
    phispy_nonprophage_genegaps = 10
    phispy_phage_genes = 1
    phispy_randomforest_trees = 500
    phispy_opts = ""
}

process {
    withName: 'PHISPY' {
        // Optional arguments
        ext.args = [
            "--number ${params.phispy_number}",
            "--min_contig_size ${params.phispy_mincontigsize}",
            "--window_size ${params.phispy_windowsize}",
            "--nonprophage_genegaps ${params.phispy_nonprophage_genegaps}",
            "--phage_genes ${params.phispy_phage_genes}",
            "--randomforest_trees ${params.phispy_randomforest_trees}",
            "${params.phispy_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::phispy=4.2.21".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/phispy:4.2.21--py312hf731ba3_8"
        ext.image = "https://depot.galaxyproject.org/singularity/phispy:4.2.21--py312hf731ba3_8"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "phispy"
    }
}
