/*
This file includes default process values for phispy.
*/

process {
    withName: 'PHISPY' {
        // Optional arguments
        ext.args = [
            "--number ${params.phispy_number}",
            "--min_contig_size ${params.phispy_mincontigsize}",
            "--window_size ${params.phispy_windowsize}",
            "--nonprophage_genegaps ${params.phispy_nonprophage_genegaps}",
            "--phage_genes ${params.phispy_phage_genes}",
            "--randomforest_trees ${params.phispy_randomforest_trees}",
            "${params.phispy_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::phispy=4.2.21".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/phispy:4.2.21--py310h0dbaff4_2"
        ext.image = "https://depot.galaxyproject.org/singularity/phispy:4.2.21--py310h0dbaff4_2"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "phispy"
    }
}
