process {
    withName: 'PHISPY' {
        // Optional arguments
        ext.args = {[
            "--number ${params.phispy_number}",
            "--mincontigsize ${params.phispy_mincontigsize}",
            "--windowsize ${params.phispy_windowsize}",
            "--nonprophage_genegaps ${params.phispy_nonprophage_genegaps}",
            "--phage_genes ${params.phispy_phage_genes}",
            "--randomforest_trees ${params.phispy_randomforest_trees}",
            params.phispy_opts
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::phispy=4.2.21"
        ext.singularity = "https://depot.galaxyproject.org/singularity/phispy:4.2.21--py310h0dbaff4_2"
        ext.docker = "quay.io/biocontainers/phispy:4.2.21--py310h0dbaff4_2"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
