params {
    // midas_download
    download_midas = false
    midas_db = null
    midas_save_as_tarball = false
}

process {
    withName: 'MIDAS_DOWNLOAD' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "midas_download"
        publishDir = [[
            path: params.midas_db,
            mode: params.publish_dir_mode,
            overwrite: true
        ]]

        // Tool arguments
        ext.args = [
            params.no_check_certificate ? "--no-check-certificate" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::gnu-wget=1.18".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/gnu-wget:1.18--hb829ee6_10"
        ext.image = "https://depot.galaxyproject.org/singularity/gnu-wget:1.18--hb829ee6_10"
        ext.condaDir = "${params.condadir}"

        // Module-specific parameters
        ext.save_as_tarball = params.midas_save_as_tarball
    }
}
