/*
This file includes default parameter values.
*/

params {
    // Gubbins
    gubbins_iterations = 5
    gubbins_min_snps = 3
    gubbins_min_window_size = 100
    gubbins_max_window_size = 10000
    gubbins_filter_percentage = 25.0
    gubbins_remove_identical_sequences = false
    skip_recombination = false
    gubbins_opts = ""
}
