/*
This file includes default process values for gubbins.
*/

process {
    withName: 'GUBBINS' {
        // Optional arguments
        ext.args = [
            params.remove_identical_sequences ? "--remove-identical-sequences" : "",
            "--iterations ${params.iterations}",
            "--min-snps ${params.min_snps}",
            "--min-window-size ${params.min_window_size}",
            "--max-window-size ${params.max_window_size}",
            "--filter-percentage ${params.filter_percentage }",
            "${params.gubbin_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::gubbins=3.4".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/gubbins:3.4--py39pl5321he4a0461_0",
            image: "https://depot.galaxyproject.org/singularity/gubbins:3.4--py39pl5321he4a0461_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "gubbins"
    }
}
