process {
    withName: 'GUBBINS' {
        // Optional arguments
        ext.args = {[
            "--iterations ${params.iterations}",
            "--min-snps ${params.min_snps}",
            "--min-window-size ${params.min_window_size}",
            "--max-window-size ${params.max_window_size}",
            "--filter-percentage ${params.filter_percentage}",
            params.remove_identical_sequences ? "--remove-identical-sequences" : "",
            params.skip_recombination ? "--no-recombination-detection" : "",
            params.gubbin_opts
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::gubbins=3.4"
        ext.singularity = "https://depot.galaxyproject.org/singularity/gubbins:3.4--py39pl5321he4a0461_0"
        ext.docker = "quay.io/biocontainers/gubbins:3.4--py39pl5321he4a0461_0"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
