// Minimal config for module-level testing of STAPHOPIASCCMEC
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "staphopiasccmec"
        logo_name = "bactopia-tools"
        description = "Primer based SCCmec typing of S. aureus genomes"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
