// Minimal config for module-level testing of RGI_HEATMAP
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "rgi"
        logo_name = "bactopia-tools"
        description = "Create heatmaps of resistance gene presence/absence"
        ext = "fna"
    }

    wf = params.workflow.name

    // RGI heatmap parameters (referenced in module.config)
    rgi_frequency = false
    rgi_category = null
    rgi_cluster = null
    rgi_display = "plain"
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
