/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // snp-dists
    snpdists_a = false // Count all differences not just [AGTC]
    snpdists_b = false // Keep top left corner cell
    snpdists_csv = false // Output CSV instead of TSV
    snpdists_k = false // Keep case, don't uppercase all letters
}

process {
    withName: 'SNPDISTS' {
        // Optional arguments
        ext.args = [
            params.snpdists_a ? "-a" : "",
            params.snpdists_b ? "-b" : "",
            params.snpdists_csv ? "-c" : "",
            params.snpdists_k ? "-k" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::snp-dists=1.2.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/snp-dists:1.2.0--hf7e9397_0"
        ext.image = "https://depot.galaxyproject.org/singularity/snp-dists:1.2.0--hf7e9397_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "snpdists"
    }
}
