/*
This file includes default parameter values.
*/

params {
    // snp-dists
    snpdists_a = false // Count all differences not just [AGTC]
    snpdists_b = false // Keep top left corner cell
    snpdists_csv = false // Output CSV instead of TSV
    snpdists_k = false // Keep case, don't uppercase all letters
}
