/*
This file includes default process configurations
*/

process {
    withName: 'SNPDISTS' {
        // Optional arguments
        ext.args = {[
            params.a ? "-a" : "",
            params.b ? "-b" : "",
            params.csv ? "-c" : "",
            params.k ? "-k" : ""
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "${moduleDir}/environment.yml"
        ext.singularity = 'https://depot.galaxyproject.org/singularity/snp-dists:0.8.2--h7132678_1'
        ext.docker = 'quay.io/biocontainers/snp-dists:0.8.2--h7132678_1'

        // Misc
        ext.prefix = { "${meta.id}" }
        ext.rundir = "${task.process}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = { "${task.process}".replace(":", "_") }
    }
}
