manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing Illumina sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '1.6.0'
    nextflowVersion = '>=19'
}


profiles {
    conda {
        process {
            withName: assemble_genome {
                    conda = "${baseDir}/../../../conda/envs/assemble_genome-1.7.x"}
                }
          }

    docker {
            process {
            withName: assemble_genome {
                    container = "ghcr.io/bactopia/assemble_genome:1.6.0"}

                    }
            }

    test {
        process.ext.template = {"${task.process}.sh"}
        process {
            echo = true
            withName: assemble_genome {
                cpus = 2
                memory = "8 GB"
                queue = 'long'
                }

                }
        env {
            VERSION = "1.6.0"
            outdir = "test_output"
            sample = "TEST_SAMPLE"
            final_sample_type = "paired-end"
            single_end = "false"
            run_type = "fastqs"
        }

    }
}
