params {
    // Bactopia
    bactopia = null
    prefix = "TOOL_NAME"
    max_time = 120
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    force = false
    sleep_time = 5
    exclude = null
    include = null
    publish_mode = 'copy'
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    cleanup_workdir = false
    registry = "dockerhub"
    singularity_cache = "$HOME/.bactopia/singularity"
    queue = 'general'
    disable_scratch = false

    // AWS Batch
    aws_region = 'us-east-1'
    aws_volumes = '/opt/conda:/mnt/conda'
    aws_cliPath = '/home/ec2-user/conda/bin/aws'
    aws_uploadStorageClass = 'STANDARD'
    aws_maxParallelTransfers = 8
    aws_delayBetweenAttempts = 15
    aws_maxTransferAttempts = 3
    aws_max_retry = 4
    aws_ecr_registry = null

    // bactopia tools helper
    force_rebuild = null
    skip_conda = null
    verbose = null
    silent = null
}
