// Minimal config for module-level testing of BACTOPIA_SAMPLESHEET (teton)
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "teton"
        logo_name = "bactopia-tools"
        description = "Predict genome size and route samples based on taxonomic classification"
        ext = "fna"
    }

    wf = params.workflow.name
    outdir = "bactopia"
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
