/*
This file includes default parameter values.
*/

params {
    // Kraken2
    kraken2_db = null
    kraken2_quick_mode = false
    kraken2_confidence = 0.0
    kraken2_minimum_base_quality = 0
    kraken2_use_mpa_style = false
    kraken2_report_zero_counts = false
    kraken2_report_minimizer_data = false
    kraken2_use_names = false
    kraken2_memory_mapping = false
    kraken2_minimum_hit_groups = 2
    kraken2_remove_filtered_reads = false
    kraken2_keep_raw_output = false
    bracken_read_length = 0
    bracken_level = "S"
    bracken_threshold = 0
    skip_krona = false
}
