process {
    // Defaults
    cpus = {check_max(1, 'cpus' )}
    memory = {check_max(8.GB * task.attempt, 'memory' )}
    time = {check_max( 120.m * task.attempt, 'time' )}
    errorStrategy = 'retry'
    maxRetries = 2

    withName: 'download_eggnogdb' {
        cpus = {check_max(Math.min(1, params.cpus), 'cpus')}
    }

    withName: 'eggnog_mapper' {
        cpus = {check_max(params.cpus, 'cpus')}
    }
}
