params {
    // Bactopia
    bactopia = null
    prefix = "emapper"
    max_time = 240
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    infodir = "${params.outdir}/bactopia-info"
    publish_mode = 'copy'
    force = false
    sleep_time = 5
    exclude = null
    include = null
    publish_mode = 'copy'
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    cleanup_workdir = false
    registry = "dockerhub"
    singularity_cache = "$HOME/.bactopia/singularity"
    queue = 'high-memory'
    disable_scratch = false

    // AWS Batch
    aws_region = 'us-east-1'
    aws_volumes = '/opt/conda:/mnt/conda'
    aws_cli_path = '/home/ec2-user/conda/bin/aws'
    aws_upload_storage_class = 'STANDARD'
    aws_max_parallel_transfers = 8
    aws_delay_between_attempts = 15
    aws_max_transfer_attempts = 3
    aws_max_retry = 4
    aws_ecr_registry = null

    // bactopia tools helper
    force_rebuild = null
    skip_conda = null
    verbose = null
    silent = null

    // eggNOG Mapper
    eggnog = null
    download_eggnog = false

    // Annotation Options
    tax_scope = null
    target_orthologs = null
    go_evidence = null

    // HMM search_options
    hmm_maxhits = null
    hmm_evalue = null
    hmm_score = null
    hmm_maxseqlen = null
    hmm_qcov = null
    Z = null

    // diamond search_options
    use_diamond = false
    matrix = null
    gapopen = null
    gapextend = null
    query_cover = null
    subject_cover = null

    // Seed ortholog search options
    seed_ortholog_evalue = null
    seed_ortholog_score = null

    // Output options
    no_refine = false
    no_annot = false
    no_search = false
    no_file_comments = false
    keep_mapping_files = false

    // Predict orthologs options
    target_taxa = null
    predict_output_format = null
}
