params {
    // Bactopia
    bactopia = null
    prefix = "emapper"
    max_time = 120
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    infodir = "${params.outdir}/bactopia-info"
    publish_mode = 'copy'
    force = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    exclude = null
    include = null
    publish_mode = 'copy'
    nfconfig = null

    // eggNOG Mapper
    eggnog = null
    download_eggnog = false

    // Annotation Options
    tax_scope = null
    target_orthologs = null
    go_evidence = null

    // HMM search_options
    hmm_maxhits = null
    hmm_evalue = null
    hmm_score = null
    hmm_maxseqlen = null
    hmm_qcov = null
    Z = null

    // diamond search_options
    use_diamond = false
    matrix = null
    gapopen = null
    gapextend = null
    query_cover = null
    subject_cover = null

    // Seed ortholog search options
    seed_ortholog_evalue = null
    seed_ortholog_score = null

    // Output options
    no_refine = false
    no_annot = false
    no_search = false
    no_file_comments = false
    keep_mapping_files = false

    // Predict orthologs options
    target_taxa = null
    predict_output_format = null
}

