params {
    // Bactopia
    bactopia = null
    prefix = "emapper"
    max_time = 120
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    infodir = "${params.outdir}/bactopia-info"
    publish_mode = 'copy'
    force = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    exclude = null
    include = null
    publish_mode = 'copy'
    nfconfig = null

    // eggNOG Mapper
    database = 'bact'
    dbtype = 'hmmdb'
    eggnog = null
    download_eggnog = false

    // Annotation Options
    tax_scope = 'auto'
    target_orthologs = 'all'
    go_evidence = 'non-electronic'

    // HMM search_options
    hmm_maxhits = 1
    hmm_evalue = 0.001
    hmm_score = 20
    hmm_maxseqlen = 5000
    hmm_qcov = null
    Z = 40000000

    // diamond search_options
    use_diamond = false
    matrix = null
    gapopen = null
    gapextend = null
    query_cover = 0
    subject_cover = 0

    // Seed ortholog search options
    seed_ortholog_evalue = 0.001
    seed_ortholog_score = 60

    // Output options
    no_refine = false
    no_annot = false
    no_search = false
    no_file_comments = false
    keep_mapping_files = false

    // Predict orthologs options
    target_taxa = 'all'
    predict_output_format = 'per_species'
}

