profiles {
    standard {
        process.conda = "${params.condadir}"
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        process.container = "${docker_repo}/tools-${manifest.name}:${container_version}"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${singularity_cache}"
        process.container = "docker://${docker_repo}/tools-${manifest.name}:${container_version}"
    }

    slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${singularity_cache}"
        process {
            container = "docker://${docker_repo}/tools-${manifest.name}:${container_version}"
            executor = 'slurm'
            queue = 'high-memory'
            scratch = true
            time = 120.m
        }
    }

    awsbatch {
        executor {
            name = 'awsbatch'
            awscli = '/home/ec2-user/miniconda/bin/aws'
        }

        process {
            executor = 'awsbatch'
            queue = 'nextflow-large'
            memory = "64 GB"
        }
    }
}
