profiles {
    standard {
        process.conda = "${baseDir}/environment.yml"
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        process.container = "bactopia/tools-${manifest.name}:${manifest.container_version}"
    }

    singularity {
        singularity.enabled = true
        process.container = "library://rpetit3/bactopia/tools-${manifest.name}:${manifest.container_version}"
    }

    slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            container = "${params.containerPath}/tools-${manifest.name}-${manifest.container_version}.simg"
            executor = 'slurm'
            queue = 'high-memory'
            scratch = true
            time = 30.m
        }
    }

    awsbatch {
        executor {
            name = 'awsbatch'
            awscli = '/home/ec2-user/miniconda/bin/aws'
        }

        process {
            executor = 'awsbatch'
            queue = 'nextflow-large'
            memory = "64 GB"
        }
    }
}
