// Minimal config for subworkflow-level testing of QC
nextflow.preview.types = true
nextflow.enable.strict = true

params {
    workflow {
        name = "qc"
        logo_name = "bactopia-tools"
        description = "Automated quality control, error correction, and read subsampling"
        ext = "fna"
    }

    bactopia_version = '4.0.0'
    bactopia_cache = System.getenv("BACTOPIA_CACHEDIR") ?: "${System.getenv('HOME')}/.bactopia"
    condadir = "${params.bactopia_cache}/conda"
    wf = params.workflow.name
    merge_folder = "merged-results"
    test_data_dir = System.getenv("BACTOPIA_TESTS") ?: ""
    is_ci = true

    // Max Job Request Parameters
    max_retry = 1
    max_time = 2.h
    max_memory = 8.GB
    max_cpus = 2

    // Nextflow Profile Parameters
    registry = "quay.io"
    singularity_cache = "${params.bactopia_cache}/singularity"
    singularity_pull_docker_container = false
    container_opts = ""

    // Module-specific defaults
    adapter_k = 23
    ain = false
    bbduk_opts = ""
    coverage = 0
    fastp_opts = ""
    ftm = 5
    hdist = 1
    keep_all_files = false
    ktrim = "r"
    maq = 20
    min_basepairs = 2241820
    min_coverage = 10
    min_proportion = 0.5
    min_reads = 7472
    mink = 11
    minlength = 35
    nanoplot_opts = ""
    ont_minlength = 1000
    ont_minqual = 0
    phix_k = 31
    porechop_opts = ""
    qout = "33"
    qtrim = "rl"
    sampleseed = 42
    skip_compression = false
    skip_error_correction = false
    skip_fastq_check = false
    skip_qc = false
    skip_qc_plots = false
    tbo = false
    tossjunk = false
    tpe = false
    trimq = 6
    use_bbmap = false
    use_porechop = false
}

includeConfig "../../../../modules/bactopia/qc/module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"

plugins {
    id 'nf-bactopia@2.0.1'
}
