/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // GTDB-Tk
    gtdb = null
    gtdb_save_as_tarball = false
    download_gtdb = false
}

process {
    withName: 'GTDBTK_DOWNLOAD' {
        publishDir = [[
            path: params.gtdb,
            mode: params.publish_dir_mode,
            overwrite: true
        ]]

        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::gtdbtk=2.6.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/gtdbtk:2.6.1--pyh1f0d9b5_2"
        ext.image = "https://depot.galaxyproject.org/singularity/gtdbtk:2.6.1--pyh1f0d9b5_2"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "gtdbtk"
        ext.gtdb_save_as_tarball = params.gtdb_save_as_tarball
    }
}

