// Minimal config for module-level testing of CSVTK_CONCAT
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "csvtk"
        logo_name = "bactopia-tools"
        description = "Concatenate multiple CSV or TSV files into a single table"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
