params {
    // hicap
    //hicap_database_dir = null // TODO: Remove when Path? is fixed
    //hicap_model_fp = null     // TODO: Remove when Path? is fixed
    hicap_full_sequence = false
    hicap_gene_coverage = 0.8
    hicap_gene_identity = 0.7
    hicap_broken_gene_length = 60
    hicap_broken_gene_identity = 0.8
    hicap_debug = false
}

process {
    withName: 'HICAP' {
        // Optional arguments
        ext.args = [
            params.hicap_debug ? "--debug" : "",
            params.hicap_full_sequence  ? "--full_sequence " : "",
            "--gene_coverage ${params.hicap_gene_coverage}",
            "--gene_identity ${params.hicap_gene_identity}",
            "--broken_gene_length ${params.hicap_broken_gene_length}",
            "--broken_gene_identity ${params.hicap_broken_gene_identity}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::hicap=1.0.4".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/hicap:1.0.4--pyhdfd78af_1"
        ext.image = "https://depot.galaxyproject.org/singularity/hicap:1.0.4--pyhdfd78af_1"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "hicap"
    }
}
