/*
This file includes default parameter values.
*/

params {
    // hicap
    //hicap_database_dir = null // TODO: Remove when Path? is fixed
    //hicap_model_fp = null     // TODO: Remove when Path? is fixed
    hicap_full_sequence = false
    hicap_gene_coverage = 0.8
    hicap_gene_identity = 0.7
    hicap_broken_gene_length = 60
    hicap_broken_gene_identity = 0.8
    hicap_debug = false
}
