process {
    withName: 'HICAP' {
        // Optional arguments
        ext.args = {[
            params.full_sequence ? "--full_sequence" : "",
            "--gene_coverage ${params.gene_coverage}",
            "--gene_identity ${params.gene_identity}",
            "--broken_gene_length ${params.broken_gene_length}",
            "--broken_gene_identity ${params.broken_gene_identity}"
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::hicap=1.0.4"
        ext.singularity = "https://depot.galaxyproject.org/singularity/hicap:1.0.4--pyhdfd78af_1"
        ext.docker = "quay.io/biocontainers/hicap:1.0.4--pyhdfd78af_1"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
