// Minimal config for module-level testing of LEGSTA
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "legsta"
        logo_name = "bactopia-tools"
        description = "In silico Sequence Based Typing (SBT) of Legionella pneumophila"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
