/*
This file includes default parameter values.
*/

params {
    // BUSCO
    busco_lineage = "bacteria_odb10"
    busco_evalue = "1e-03"
    busco_limit = 3
    metaeuk_parameters = ""
    metaeuk_rerun_parameters = ""
    use_augustus = false
    augustus_parameters = ""
    augustus_species = ""
    augustus_long = false
    run_name = "${params.wf}-${params.busco_lineage}"
}
