/*
This file includes default parameter values.
*/

params {
    // eggnog-mapper db download
    eggnog_db = null
    eggnog_save_as_tarball = false
    download_eggnog = false
    eggnog_skip_diamond = false
    eggnog_install_hmm = false
    eggnog_install_mmseq = false
    eggnog_install_pfam = false
    eggnog_hmmer_taxid = 2
}
