/*
This file includes default parameter values.
*/

params {
    // eggnog-mapper db download
    eggnog_db = null
    eggnog_save_as_tarball = false
    download_eggnog = false
    skip_diamond = false
    install_hmm = false
    install_mmseq = false
    install_pfam = false
    hmmer_taxid = 2
}
