/*
This file includes default process values for eggnog.
*/

process {
    withName: 'EGGNOG_DOWNLOAD' {
        publishDir = [[
            path: params.eggnog_db, 
            mode: params.publish_dir_mode, 
            overwrite: true
        ]]

        // Optional arguments
        ext.args = [
            params.skip_diamond ? "-D" : "",
            params.install_hmm ? "-H -d ${params.hmmer_taxid} " : "",
            params.install_mmseq ? "-M" : "",
            params.install_pfam ? "-P" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        
        // Environment information
        ext.env = [
            toolName: "bioconda::eggnog-mapper=2.1.12".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/eggnog-mapper:2.1.12--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/eggnog-mapper:2.1.12--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "eggnog"
        ext.eggnog_save_as_tarball = params.eggnog_save_as_tarball
    }
}
