/*
This file includes default parameter values.
*/

params {
    // PIRATE
    steps = '50,60,70,80,90,95,98'	// % identity thresholds to use for pangenome construction
    features = 'CDS' //	choose features to use for pangenome construction. Multiple may be entered, separated by a comma
    para_off = false // switch off paralog identification [default: off]
    z = false // retain all intermediate files
    pan_opt = '' // Allows the params below to be given as a string
}
