params {
    // Bactopia
    bactopia = null
    prefix = "mashtree"
    max_time = 120
    max_memory = 32
    cpus = 1
    outdir = './'
    help = null
    version = null
    force = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    exclude = null
    include = null
    publish_mode = 'copy'
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    cleanup_workdir = false

    // RefSeq Downloads
    species = null
    accession = null
    accessions = null
    limit = null

    // User Reference
    reference = null

    // Mashtree
    trunclength = 250
    sortorder = 'ABC'
    genomesize = 5000000
    mindepth = 5
    kmerlength = 21
    sketchsize = 10000
}
