// Minimal config for module-level testing of GIGATYPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "gigatyper"
        logo_name = "bactopia-tools"
        description = "Run all available MLST schemes for a species against an assembly"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
