// Minimal config for subworkflow-level testing of STXTYPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "stxtyper"
        logo_name = "bactopia-tools"
        description = "Identify and type Stx operons from assembled genomic sequences"
        ext = "fna"
    }
    wf = params.workflow.name
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/stxtyper/module.config"
includeConfig "../../../modules/csvtk/concat/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
