// Minimal config for module-level testing of CLONALFRAMEML
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "clonalframeml"
        logo_name = "bactopia-tools"
        description = "Inference of recombination in bacterial genomes"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
