// Minimal config for module-level testing of ASSEMBLER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "assembler"
        logo_name = "bactopia-tools"
        description = "Assemble bacterial genomes using short read, long read, or hybrid strategies"
        ext = "fna"
    }

    wf = params.workflow.name

    // Max Job Request Parameters
    max_cpus = 12

    // Module-specific defaults
    skip_compression = false
    keep_all_files = false
    reassemble = false
    min_genome_size = 0
    max_genome_size = 18000000
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
