params {
    // midas_species
    midas_aln_cov = 0.75
    midas_debug = false
    midas_opts = ""
    midas_word_size = 28
}

process {
    withName: 'MIDAS_SPECIES' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "midas"

        // Tool arguments
        ext.args = [
            "--word_size ${params.midas_word_size}",
            "--aln_cov ${params.midas_aln_cov}",
            params.midas_debug ? "" : "--remove_temp",
            "${params.midas_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::midas=1.3.2=pyh7cba7a3_7".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/midas:1.3.2--pyh7cba7a3_7"
        ext.image = "https://depot.galaxyproject.org/singularity/midas:1.3.2--pyh7cba7a3_7"
        ext.condaDir = "${params.condadir}"
    }
}
