/*
This file includes default process values for midas.
*/

process {
    withName: 'MIDAS_SPECIES' {
        // Optional arguments
        ext.args = [
            "--word_size ${params.midas_word_size}",
            "--aln_cov ${params.midas_aln_cov}",
            params.midas_debug ? "" : "--remove_temp",
            "${params.midas_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::midas=1.3.2=pyh7cba7a3_7".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/midas:1.3.2--pyh7cba7a3_7",
            image: "https://depot.galaxyproject.org/singularity/midas:1.3.2--pyh7cba7a3_7",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "midas"
    }
}
