process {
    withName: 'MIDAS_SPECIES' {
        // Optional arguments
        ext.args = {[
            "--word_size ${params.midas_word_size}",
            "--aln_cov ${params.midas_aln_cov}",
            params.midas_debug ? "--debug" : "",
            params.midas_opts
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::midas=1.3.2=pyh7cba7a3_7"
        ext.singularity = "https://depot.galaxyproject.org/singularity/midas:1.3.2--pyh7cba7a3_7"
        ext.docker = "quay.io/biocontainers/midas:1.3.2--pyh7cba7a3_7"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
