process {
    withName: 'annotate_genome|make_blastdb|blast_query|plasmid_blast' {
        container = "bactopia/annotate_genome"
    }
    withName: ariba_analysis {
        container = "bactopia/ariba_analysis"
    }
    withName: assemble_genome {
        container = "bactopia/assemble_genome"
    }
    withName: 'call_variants|call_variants_auto|mapping_query' {
        container = "bactopia/call_variants"
    }
    withName: count_31mers {
        container = "bactopia/count_31mers"
    }
    withName: download_references {
        container = "bactopia/download_references"
    }
    withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
        container = "bactopia/minmers"
    }
    withName: insertion_sequences {
        container = "bactopia/insertion_sequences"
    }
    withName: 'qc_reads|qc_original_summary|qc_final_summary' {
        container = "bactopia/qc_reads"
    }
    withName: sequence_type {
        container = "bactopia/sequence_type"
    }
}
docker.enabled = true
