/*
This file includes default values for all Bactopia parameters.
*/

params {
    // Bactopia
    genome_size = null
    max_cpus = 1
    cpus = 1
    outdir = '.'
    fastqs = null
    dataset = null
    species = null
    available_datasets = null
    example_fastqs = null
    check_fastqs = null
    keep_cache = false
    help = null
    help_all = null
    version = null

    // process qc_reads
    coverage = '100'
    adapters = null
    ktrim = 'r'
    adapter_k = 23
    mink = 11
    hdist = 1
    tpe = 't'
    tbo = 't'
    phix = null
    phix_k = 31
    qtrim = 'rl'
    trimq = 6
    minlength = 35
    maq = 20
    qout = 33
    tossjunk = 't'
    ftm = 5
    xmx = '8g'
    maxcor = 1
    sampleseed = 42

    // process assemble_genome
    shovill_ram = 32
    assembler = 'skesa'
    min_contig_len = 500
    min_contig_cov = 2
    contig_namefmt = 'contig%05d'
    shovill_opts = null
    shovill_kmers = null
    trim = null
    nostitch = null
    nocorr = null

    // process count_31mers
    keep_singletons = false

    // process annotate_genome
    centre = 'Bactopia'
    addgenes = true
    addmrna = false
    rawproduct = null
    cdsrnaolap = null
    prokka_evalue = '1e-09'
    prokka_coverage = '80'
    norrna = null
    notrna = null
    rnammer = null

    // process minmer_sketch
    mash_sketch = 10000
    sourmash_scale = 10000

    // process minmer_query
    screen_w = true
    screen_i = 0.8

    // process ariba_analysis
    nucmer_min_id = 90
    nucmer_min_len = 20
    nucmer_breaklen = 200
    assembly_cov = 50
    min_scaff_depth = 10
    spades_options = null
    assembled_threshold = 0.95
    gene_nt_extend = 30
    unique_threshold = 0.03

    // process call_variants
    snippy_ram = 8
    mapqual = 60
    basequal = 13
    mincov = 10
    minfrac = 0
    minqual = 100
    maxsoft = 10
    bwaopt = null
    fbopt = null

    // process insertion_sequences
    min_clip = 10
    max_clip = 30
    cutoff = 6
    novel_gap_size = 15
    min_range = 0.9
    max_range = 1.1
    merging = 100
    ismap_all = null
    ismap_minqual = 30

    // process blast_query
    perc_identity = 50
    qcov_hsp_perc = 50
    max_target_seqs = 2000
    outfmt = '6 qseqid qlen qstart qend sseqid slen sstart send length evalue bitscore pident nident mismatch gaps qcovs qcovhsp'

    // process mapping_query
    bwa_mem_opts = null
    bwa_aln_opts = null
    bwa_samse_opts = null
    bwa_sampe_opts = null
    bwa_n = 9999
}
