/*
This file includes default values for all Bactopia parameters.
*/

params {
    // Bactopia
    outdir = null
    fastqs = null
    database = null
    available_databases = null
    example_fastqs = null
    check_fastqs = null
    keep_cache = false
    help = null
    full_usage = null
    version = null

    // process qc_reads
    max_cpus = 1
    cpus = 1
    genome_size = null
    coverage = '100'
    adapters = null
    ktrim = 'r'
    adapter_k = 23
    mink = 11
    hdist = 1
    tpe = 't'
    tbo = 't'
    phix = null
    phix_k = 31
    qtrim = 'rl'
    trimq = 6
    minlength = 35
    maq = 20
    qout = 33
    tossjunk = 't'
    ftm = 5
    xmx = '8g'
    maxcor = 1
    sampleseed = 42

    // process assemble_genome
    assembler = 'skesa'
}
