/*

*/
profiles {
    conda {
        process {
            withName: qc_reads {
                conda = "${baseDir}/conda/qc_reads.yml"
            }
            withName: assembly {
                conda = "${baseDir}/conda/assembly.yml"
            }
        }
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }
}
