/*

*/
profiles {
    conda {
        process {
            withName: annotate_genome {
                conda = "${baseDir}/conda/annotate_genome.yml"
            }
            withName: ariba_analysis {
                conda = "${baseDir}/conda/ariba_analysis.yml"
            }
            withName: assemble_genome {
                conda = "${baseDir}/conda/assemble_genome.yml"
            }
            withName: call_variants {
                conda = "${baseDir}/conda/call_variants.yml"
            }
            withName: count_31mers {
                conda = "${baseDir}/conda/count_31mers.yml"
            }
            withName: 'estimate_genome_size|minmer_sketch|minmer_query' {
                conda = "${baseDir}/conda/minmers.yml"
            }
            withName: insertion_sequences {
                conda = "${baseDir}/conda/insertion_sequences.yml"
            }
            withName: plasmid_blast {
                conda = "${baseDir}/conda/annotate_genome.yml"
            }
            withName: qc_reads {
                conda = "${baseDir}/conda/qc_reads.yml"
            }
            withName: sequence_type {
                conda = "${baseDir}/conda/sequence_type.yml"
            }
        }
    }

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled = true
    }
}
