params {
    // nohuman_download
    download_nohuman = false
    nohuman_db = null
    nohuman_db_version = ""
    nohuman_save_as_tarball = false
}

process {
    withName: 'NOHUMAN_DOWNLOAD' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "nohuman_download"
        ext.nohuman_save_as_tarball = params.nohuman_save_as_tarball
        publishDir = [[
            path: params.nohuman_db,
            mode: params.publish_dir_mode,
            overwrite: true
        ]]

        // Tool arguments
        ext.args = [
            params.nohuman_db_version ? "--db-version ${params.nohuman_db_version}" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::bactopia-teton=1.1.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-teton:1.1.2--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.2--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
