/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // TBProfiler Collate
    tbprofiler_itol = false
    tbprofiler_full = false
    tbprofiler_all_variants = false
    tbprofiler_mark_missing = false
}

process {
    withName: 'TBPROFILER_COLLATE' {
        // Optional arguments
        ext.args = [
            params.tbprofiler_itol ? "--itol" : "",
            params.tbprofiler_full ? "--full" : "",
            params.tbprofiler_all_variants ? "--all_variants" : "",
            params.tbprofiler_mark_missing ? "--mark_missing" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::tb-profiler=6.6.6".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/tb-profiler:6.6.6--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/tb-profiler:6.6.6--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"

        // Additional parameters
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tbprofiler-collate"
    }
}
