/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'TBPROFILER_COLLATE' {
        // Optional arguments
        ext.args = [
            params.tb_itol ? "--itol" : "",
            params.tb_full ? "--full" : "",
            params.tb_all_variants ? "--all_variants" : "",
            params.tb_mark_missing ? "--mark_missing" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.env = [
            toolName: "bioconda::tb-profiler=6.6.5".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/tb-profiler:6.6.5--pyhdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/tb-profiler:6.6.5--pyhdfd78af_1",
            condaDir: "${params.condadir}",
        ]

        // Additional parameters
        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "tbprofiler-collate"
    }
}
