/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'TBPROFILER_COLLATE' {
        ext {
            /* --------------------------------
               Optional arguments
            -------------------------------- */
            args = [
                params.itol ? "--itol" : "",
                params.full ? "--full" : "",
                params.all_variants ? "--all_variants" : "",
                params.mark_missing ? "--mark_missing" : ""
            ].join(' ').trim()

            /* --------------------------------
               Environment information
            -------------------------------- */
            conda_tools = "bioconda::tb-profiler=6.6.3"
            conda_name = conda_tools.replace("=", "-").replace(":", "-").replace(" ", "-")
            conda_env = file("${params.condadir}/${conda_name}").exists() ? "${params.condadir}/${conda_name}" : conda_tools

            /* --------------------------------
               Additional parameters
            -------------------------------- */
            prefix = "${meta.id}.${params.wf}"
            rundir = "${task.ext.prefix}.${task.ext.process_name}"
            subdir = ""
            logs_subdir = ""
            process_name = "tbprofiler"
        }
    }
}
