params {
    // deacon_filter
    deacon_abs_threshold = 2
    deacon_deplete = true
    deacon_opts = ""
    deacon_prefix_length = 0
    deacon_rel_threshold = 0.01
}

process {
    withName: 'DEACON_FILTER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "deacon"

        // Tool arguments
        ext.args = [
            params.deacon_deplete ? "-d" : "",
            params.deacon_abs_threshold != 2 ? "-a ${params.deacon_abs_threshold}" : "",
            params.deacon_rel_threshold != 0.01 ? "-r ${params.deacon_rel_threshold}" : "",
            params.deacon_prefix_length > 0 ? "-p ${params.deacon_prefix_length}" : "",
            params.deacon_opts ? "${params.deacon_opts}" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::bactopia-teton=1.1.4".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-teton:1.1.4--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.4--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
