/*
This file includes default values for shared parameters.
*/

params {
    is_subworkflow = false

    // Generic Parameters
    available_datasets = null
    example_fastqs = null

    // Parameters to ignore
    empty_r1 = "${baseDir}/data/EMPTY_R1"
    empty_r2 = "${baseDir}/data/EMPTY_R2"
    empty_extra = "${baseDir}/data/EMPTY_EXTRA"
    empty_proteins = "${baseDir}/data/EMPTY_PROTEINS"
    empty_tf = "${baseDir}/data/EMPTY_TF"

    // Input Parameters
    fastqs = null
    R1 = null
    R2 = null
    SE = null
    sample = null
    ont = false
    hybrid = false
    accessions = null
    accession = null
    assembly = null
    reassemble = false

    // Dataset Parameters
    datasets = null
    species = null

    // Optional Parameters
    coverage = 100
    genome_size = "0"
    skip_compression = false
    keep_all_files = false

    // Max Job Request Parameters
    max_retry = 3
    min_time = 60
    max_time = 120
    max_memory = 32
    max_cpus = 4
}
