/*
This file includes default values for shared parameters.
*/

params {
    is_subworkflow = false

    // Parameters to ignore
    empty_r1 = "${baseDir}/data/EMPTY_R1"
    empty_r2 = "${baseDir}/data/EMPTY_R2"
    empty_extra = "${baseDir}/data/EMPTY_EXTRA"
    empty_proteins = "${baseDir}/data/EMPTY_PROTEINS"
    empty_tf = "${baseDir}/data/EMPTY_TF"
    empty_adapters = "${baseDir}/data/EMPTY_ADAPTERS"
    empty_phix = "${baseDir}/data/EMPTY_PHIX"

    // Input Parameters
    samples = null
    check_samples = false
    r1 = null
    r2 = null
    se = null
    sample = null
    ont = null
    hybrid = false
    short_polish = false
    accessions = null
    accession = null
    assembly = null
    reassemble = false

    // Dataset Parameters
    species = null
    ask_merlin = false

    // Optional Parameters
    coverage = 100
    genome_size = 0
    species = null
    use_bakta = false

    // Max Job Request Parameters
    max_retry = 3
    min_time = 60
    max_time = 120
    max_memory = 32
    max_cpus = 4
}
