/*
This file includes default values for shared parameters.
*/

params {
    // Optional Parameters
    coverage = 0
    genome_size = "1"

    //  Gather Samples Parameters
    enable_fastq_check = false
    skip_fastq_check = params.enable_fastq_check ? false : true

    // QC Reads
    enable_error_correction = false
    skip_error_correction = params.enable_fastq_check ? false : true

    schema_ignore_params = "${params.schema_ignore_params},skip_fastq_check,skip_error_correction,ask_merlin,species,datasets,reassemble,assembly,short_polish,hybrid,available_datasets"

}
