/*
This file includes default values for shared parameters.
*/

params {
    // Parameters to ignore
    empty_path = "${projectDir}/../../data/empty"

    // Input Parameters
    samples = null
    check_samples = false
    r1 = null
    r2 = null
    se = null
    sample = null
    ont = null
    hybrid = false
    short_polish = false
    accessions = null
    accession = null
    assembly = null
    reassemble = false

    // Dataset Parameters
    species = "Staphylococcus aureus"

    // Optional Parameters
    coverage = 100
    genome_size = 2800000
    use_bakta = false

    // Max Job Request Parameters
    max_retry = 3
    max_time = 2.h
    max_memory = 64.GB
    max_cpus = 4

    // Params to ignore
    schema_ignore_params = "${params.schema_ignore_params},bactopia"
}
