/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // clermonTyping
    clermontyping_threshold = 0
}

process {
    withName: 'CLERMONTYPING' {
        // Optional arguments
        ext.args = [
            "--threshold ${params.clermontyping_threshold}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::clermontyping=24.02".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/clermontyping:24.02--py312hdfd78af_1"
        ext.image = "https://depot.galaxyproject.org/singularity/clermontyping:24.02--py312hdfd78af_1"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "clermontyping"
    }
}
