params {
    // srahumanscrubber_scrub
    use_srascrubber = false
}

process {
    withName: 'SRAHUMANSCRUBBER_SCRUB' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "srahumanscrubber"

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::bactopia-teton=1.1.3".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-teton:1.1.3--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.3--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
