/*
This file includes default process values for srahumanscrubber/scrub.
*/

process {
    withName: 'SRAHUMANSCRUBBER_SCRUB' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::bactopia-teton=1.1.1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/bactopia-teton:1.1.1--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/bactopia-teton:1.1.1--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "srahumanscrubber"
    }
}
