params {
    // staphopiasccmec
    staphopiasccmec_hamming = false
}

process {
    withName: 'STAPHOPIASCCMEC' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "staphopiasccmec"

        // Tool arguments
        ext.args = params.staphopiasccmec_hamming ? "--hamming" : ""
        ext.args = [
            params.staphopiasccmec_hamming ? "--hamming" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::staphopia-sccmec=1.0.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/staphopia-sccmec:1.0.0--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/staphopia-sccmec:1.0.0--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
