/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'STAPHOPIASCCMEC' {
        // Optional arguments
        ext.args = params.staphopia_hamming ? "--hamming" : ""

        // Environment information
        ext.env = [
            toolName: "bioconda::staphopia-sccmec=1.0.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/staphopia-sccmec:1.0.0--hdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/staphopia-sccmec:1.0.0--hdfd78af_1",
            condaDir: "${params.condadir}",
        ]

        // Additional parameters
        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "staphopiasccmec"
    }
}
