/*
This file includes default values for the process-specific parameters.
*/

process {
    withName: 'STAPHOPIASCCMEC' {
        ext {
            /* --------------------------------
               Optional arguments
            -------------------------------- */
            args = params.hamming ? "--hamming" : ""

            /* --------------------------------
               Environment information
            -------------------------------- */
            conda_tools = "bioconda::staphopia-sccmec=1.0.0"
            conda_name = conda_tools.replace("=", "-").replace(":", "-").replace(" ", "-")
            conda_env = file("${params.condadir}/${conda_name}").exists() ? "${params.condadir}/${conda_name}" : conda_tools

            /* --------------------------------
               Additional parameters
            -------------------------------- */
            prefix = "${meta.id}.${params.wf}"
            rundir = "${task.ext.prefix}.${task.ext.process_name}"
            subdir = ""
            logs_subdir = ""
            process_name = "staphopiasccmec"
        }
    }
}
