/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // BLAST Parameters
    blastp_query = null
    blastp_outfmt = "sseqid qseqid pident qlen slen length nident positive mismatch gapopen gaps qstart qend sstart send evalue bitscore"
    blastp_opts = ""
    blastp_qcov_hsp_perc = 50
    blastp_max_target_seqs = 2000
}

process {
    withName: 'BLAST_BLASTP' {
        // Optional arguments
        ext.args = [
            "-outfmt '6 ${params.blastp_outfmt}'",
            "-qcov_hsp_perc ${params.blastp_qcov_hsp_perc}",
            "-max_target_seqs ${params.blastp_max_target_seqs}",
            params.blastp_opts
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::blast=2.16.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/blast:2.16.0--hc155240_2"
        ext.image = "https://depot.galaxyproject.org/singularity/blast:2.16.0--hc155240_2"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "blastp"
        ext.outfmt = params.blastp_outfmt
    }
}
