/*
This file includes default process values for blast blastp.
*/

process {
    withName: 'BLAST_BLASTP' {
        // Optional arguments
        ext.args = [
            "-outfmt \"6 ${params.blastp_outfmt}\"",
            params.blastp_qcov_hsp_perc ? "-qcov_hsp_perc ${params.blastp_qcov_hsp_perc}" : "",
            params.blastp_max_target_seqs ? "-max_target_seqs ${params.blastp_max_target_seqs}" : "",
            params.blastp_opts ? "${params.blastp_opts}" : ""
        ].join(' ')

        // Environment information
        ext.env = [
            toolName: "bioconda::blast=2.16.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/blast:2.16.0--hc155240_2",
            image: "https://depot.galaxyproject.org/singularity/blast:2.16.0--hc155240_2",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "blastp"
        ext.outfmt = params.blastp_outfmt
    }
}
