/*
This file includes default values for shared parameters.
*/

params {
    // Call Variants Parameters
    mapqual = 60
    basequal = 13
    mincov = 10
    minfrac = 0
    minqual = 100
    maxsoft = 10
    bwaopt = null
    fbopt = null
    random_tie_break = false
    enable_auto_variants = false
}
