// Minimal config for module-level testing of PLASMIDFINDER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "plasmidfinder"
        logo_name = "bactopia-tools"
        description = "Identify plasmid replicon types in bacterial sequences and assemblies"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
