// Minimal config for module-level testing of PASTY
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "pasty"
        logo_name = "bactopia-tools"
        description = "Predict O-antigen serogroup of Pseudomonas aeruginosa isolates"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
