/*
This file includes default parameter values.
*/

params {
    // Kraken2
    kraken2_db = null
    quick_mode = false
    confidence = 0.0
    minimum_base_quality = 0
    use_mpa_style = false
    report_zero_counts = false
    report_minimizer_data = false
    use_names = false
    memory_mapping = false
    minimum_hit_groups = 2
}
