// Minimal config for module-level testing of PROKKA
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "prokka"
        logo_name = "bactopia-tools"
        description = "Annotate prokaryotic genomes"
        ext = "fna"
    }

    // Under nf-test, projectDir is this tests/ directory
    bactopia_dir = "${projectDir}/../../.."
    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
