// Minimal config for module-level testing of FASTANI
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "fastani"
        logo_name = "bactopia-tools"
        description = "Compute whole-genome Average Nucleotide Identity"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
