// Minimal config for module-level testing of SPATYPER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "spatyper"
        logo_name = "bactopia-tools"
        description = "Finding spa types in Staphylococcus aureus"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
