// Minimal config for module-level testing of BLAST_BLASTX
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "blastx"
        logo_name = "bactopia-tools"
        description = "Search a protein database using a translated nucleotide query"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
