params {
    // No parameters
}

process {
    withName: 'SHIGAPASS' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "shigapass"

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::shigapass=1.5.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/shigapass:1.5.0--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/shigapass:1.5.0--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
