/*
This file includes default process values for shigapass.
*/

process {
    withName: 'SHIGAPASS' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.env = [
            toolName: "bioconda::shigapass=1.5.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/shigapass:1.5.0--hdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/shigapass:1.5.0--hdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "shigapass"
    }
}
