/*
This file includes default process values for shigapass.
*/

process {
    withName: 'SHIGAPASS' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::shigapass=1.5.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/shigapass:1.5.0--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/shigapass:1.5.0--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "shigapass"
    }
}
