// Minimal config for subworkflow-level testing of PANAROO
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "panaroo"
        logo_name = "bactopia-tools"
        description = "Pan-genome analysis with error correction"
        ext = "gff"
    }
    wf = params.workflow.name
}

// Load module configs for processes in this subworkflow
includeConfig "../../../modules/panaroo/run/module.config"

// Base config (container resolution + resource labels)
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
