<style type="text/css">
    .countBox {
        width: 150px;
        height: 150px;
        border-radius: 10%;
        background: #512DA8;
        font-size: 35px;
        color: #fff;
        text-align: center;
        line-height: 150px;
        margin: 20px;
        padding: 0em;
    }
</style>