{% extends "base.j2" %}

{% block head %}
  <title>Bactopia Summary</title>
  {% include "head.j2" %}
{% endblock head %}

{% block content %}
  {% include "content/navbar.j2" %}
  {% include "content/overview.j2" %}
  {% include "content/plots.j2" %}
  {% include "content/exclusions.j2" %}
{% endblock content %}

{% block javascript %}
  {% include "javascript.j2" %}
{% endblock javascript %}
