/*
This file includes default values to simplify Bactopia runs on ARCCA HAWK.

Some SCW users may need to add accessible params as bactopia arguments:

params.slurm_opts replacement argument:
 --slurm_opts '--account scw1234 --qos=maxjobs1234'

params.singularity_cache overwrite argument:
 --singularity_cache /home/scw1234/.nextflow/bactopia/singularitycache/

Contact boostrom@cf.ac.uk if help is required with these arguments.
Contact arcca@cf.ac.uk to manage your SLURM QOS.
*/

params {
    config_profile_name = 'ARCCA_HAWK'
    config_profile_description = 'Advanced Research Computing at Cardiff (ARCCA) - HAWK cluster'
    config_profile_contact = 'Ian Boostrom, or more realistically (@rpetit3) c/o (@incoherentian)'
    config_profile_url = 'https://www.cardiff.ac.uk/advanced-research-computing/research/collaboration'
    slurm_queue = 'htc'
    slurm_opts = '--account scw1773 --qos=maxjobs1500'
    singularity_cache = '/home/scw1940/.nextflow/bactopia/singularitycache/'
    slurm_use_scratch = false
}

process {
  executor = 'slurm'
  queue = "${params.slurm_queue}"
  scratch = params.slurm_use_scratch
  clusterOptions = "${params.slurm_opts}"
  beforeScript = 'module load singularity-ce/3.11.4'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.singularity_cache}"
}
