process {
    container = "${docker_repo}/bactopia:${manifest.version}"

    withLabel: assemble_genome {
        container = "quay.io/biocontainers/bactopia-assembler:1.0.0--hdfd78af_0"
    }
    withLabel: 'minmer_sketch|minmer_query' {
        container = "quay.io/biocontainers/bactopia-sketcher:1.0.0--hdfd78af_0"
    }

    withLabel: 'gather_samples' {
        container = "quay.io/biocontainers/bactopia-gather:1.0.0--hdfd78af_0"
    }

    withLabel: 'qc_reads' {
        container = "quay.io/biocontainers/bactopia-qc:1.0.0--hdfd78af_0"
    }
}
