/*
This file includes default values for SLURM parameters.
*/

params {
    sge_opts = ""
    sge_penv = 'smp'
    sge_queue = 'all.q'
    sge_queue_size = 100
}

process {
    executor = 'sge'
    penv = "${params.sge_penv}"
    queue = "${params.sge_queue}"
    time = (params.max_time).m
    clusterOptions = "${params.sge_opts}"
}

executor {
    queueSize = params.sge_queue_size
    pollInterval = '15 sec'
}
