/*
This file includes default values for SLURM parameters.
*/

params {
    slurm_queue = 'general,high-memory'
    slurm_opts = ''
    slurm_use_scratch = false
}

process {
  executor = 'slurm'
  queue = "${params.slurm_queue}"
  scratch = params.slurm_use_scratch
  time = (params.max_time).m
  clusterOptions = "${params.slurm_opts}"
}
