params {
    //config_profile_name        = 'Test profile'
    //config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6

    // Inputs
    R1 = 'https://github.com/bactopia/bactopia-tests/raw/main/data/species/portiera/illumina/SRR2838702_R1.fastq.gz'
    R2 = 'https://github.com/bactopia/bactopia-tests/raw/main/data/species/portiera/illumina/SRR2838702_R2.fastq.gz'
    genome_size = 358242
    sample = 'SRR2838702'
}