/*
This file includes default values for WSVL.
*/

params {
    config_profile_name = 'WSVL'
    config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
    config_profile_contact = 'Robert A. Petit III (@rpetit3)'
    config_profile_url = 'http://www.uwyo.edu/arcc/'

    slurm_queue = 'teton,moran'
    slurm_opts = '--account vetsci_class'
    singularity_pull_docker_container = true
    singularity_cache = '/project/vetsci_class/bactopia/singularity/'
    slurm_use_scratch = false
}

process {
  executor = 'slurm'
  queue = "${params.slurm_queue}"
  scratch = params.slurm_use_scratch
  time = (params.max_time).m
  clusterOptions = "${params.slurm_opts}"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.singularity_cache}"
}
