// Minimal config for module-level testing of BRACKEN
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "bracken"
        logo_name = "bactopia-tools"
        description = "Taxonomic classification and abundance estimation"
        ext = "fna"
    }

    wf = params.workflow.name

    // Max Job Request Parameters
    max_cpus = 12
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
