params {
    // gigatyper
    gigatyper_species = ""
}

process {
    withName: 'GIGATYPER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "gigatyper"

        // Tool arguments
        ext.args = [
            params.gigatyper_species ? "--species ${params.gigatyper_species}" : "",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::gigatyper=1.0.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/gigatyper:1.0.0--hdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/gigatyper:1.0.0--hdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
