// Minimal config for module-level testing of SYLPH_PROFILE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "sylph"
        logo_name = "bactopia-tools"
        description = "Profile metagenome samples against a database using Sylph"
        ext = "fna"
    }

    wf = params.workflow.name

    // Max Job Request Parameters
    max_cpus = 12
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
