/*
This file includes default process values for shigatyper.
*/

process {
    withName: 'SHIGATYPER' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::shigatyper=2.0.5".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/shigatyper:2.0.5--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/shigatyper:2.0.5--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "shigatyper"
    }
}
