// Minimal config for module-level testing of ABRICATE_SUMMARY
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "abricate"
        logo_name = "bactopia-tools"
        description = "Summarize Abricate screening results"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../../run/module.config"
includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
