params {
    // No parameters
}

process {
    withName: 'PNEUMOCAT' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "pneumocat"

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::pneumocat=1.2.1 bioconda::bowtie2==2.3.5".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/pneumocat:1.2.1--0"
        ext.image = "https://depot.galaxyproject.org/singularity/pneumocat:1.2.1--0"
        ext.condaDir = "${params.condadir}"
    }
}
