/*
This file includes default process configurations
*/

process {
    withName: 'PNEUMOCAT' {
        // Optional arguments
        
        // Environment information
        ext.conda = "${moduleDir}/environment.yml"
        ext.singularity = 'https://depot.galaxyproject.org/singularity/pneumocat:1.2.1--pyhdfd78af_2'
        ext.docker = 'quay.io/biocontainers/pneumocat:1.2.1--pyhdfd78af_2'

        // Misc
        ext.prefix = { "${meta.id}" }
        ext.rundir = "${task.process}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = { "${task.process}".replace(":", "_") }
    }
}
