/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // CheckM2 Download
    checkm2_db = null
    download_checkm2 = false
}

process {
    withName: 'CHECKM2_DOWNLOAD' {
        // Customize the publish directory
        publishDir = [[
            path: params.checkm2_db,
            mode: params.publish_dir_mode,
            overwrite: true
        ]]

        // Optional arguments
        ext.args = ""

        // Environment information
        ext.toolName = "conda-forge::aria2=1.36.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/aria2:1.36.0"
        ext.image = "https://depot.galaxyproject.org/singularity/aria2:1.36.0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "checkm2_download"
    }
}
