params {
    // No parameters
}

process {
    withName: 'ARIBA_GETREF' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ariba_getref"
        storeDir = params.datasets_cache

        // Tool arguments
        ext.args = ""

        // Environment information
        ext.toolName = "bioconda::ariba=2.14.7".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ariba:2.14.7--py39h746d604_0"
        ext.image = "https://depot.galaxyproject.org/singularity/ariba:2.14.7--py39h746d604_0"
        ext.condaDir = "${params.condadir}"
    }
}
