// Minimal config for module-level testing of SNIPPY_CORE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "snippy"
        logo_name = "bactopia-tools"
        description = "Core-SNP alignment from Snippy outputs"
        ext = "fna"
    }

    wf = params.workflow.name
    run_name = "snippy"

    // Module-specific defaults
    skip_compression = false
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
