process {
    // Defaults
    cpus = {check_max(1, 'cpus' )}
    memory = {check_max(16.GB * task.attempt, 'memory' )}
    time = {check_max((params.min_time).m, 'time' )}
    errorStrategy = 'retry'
    maxRetries = 1

    withName: gtdb {
        memory = {check_max(64.GB * task.attempt, 'memory' )}
        cpus = {check_max( params.cpus, 'cpus' )}
    }
}
