profiles {
    standard {
        process.conda = "${baseDir}/environment.yml"
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u \$(id -u):\$(id -g) -v ${params.gtdb}:${params.gtdb}'
        process.container = "bactopia/tools-${manifest.name}:${container_version}"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind ${params.gtdb}"
        process.container = "library://rpetit3/bactopia/tools-${manifest.name}:${container_version}"
    }

    slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = "--bind ${params.gtdb}"
        process {
            container = "${params.containerPath}/tools-${manifest.name}-${container_version}.simg"
            executor = 'slurm'
            queue = 'high-memory'
            scratch = true
            time = 720.m
        }
    }

    awsbatch {
        executor {
            name = 'awsbatch'
            awscli = '/home/ec2-user/miniconda/bin/aws'
        }

        process {
            executor = 'awsbatch'
            queue = 'nextflow-large'
            memory = "64 GB"
        }
    }
}
