params {
    // Bactopia
    bactopia = null
    prefix = 'core-genome'
    max_time = 2880
    max_memory = 64
    cpus = 1
    outdir = './'
    help = null
    version = null
    infodir = "${params.outdir}/bactopia-info"
    publish_mode = 'copy'
    force = false
    containerPath = "/opt/bactopia/singularity"
    sleep_time = 5
    skip_phylogeny = false
    include = null
    exclude = null
    nfconfig = null

    // RefSeq Assemblies
    species = null
    accession = null
    prokka_evalue = '1e-09'
    prokka_coverage = '80'
    only_completed = false

    // PIRATE
    steps = '50,60,70,80,90,95,98'	// % identity thresholds to use for pangenome construction
    features = 'CDS' //	choose features to use for pangenome construction. Multiple may be entered, separated by a comma
    nucl = false // CDS are not translated to AA sequence [default: off]
    para_off = false // switch off paralog identification [default: off]
    keep_all_files = false // retain all intermediate files

    // PIRATE Advanced
    perc = 98 // single % identity threshold to use for pangenome 
    cd_low = 98 // cdhit lowest percentage id
    cd_step = 0.5 // cdhit step size
    evalue = '1E-6' // e-value used for blast hit filtering
    use_diamond = false // use diamond instead of BLAST - incompatible with --nucleotide
    split_diamond = false // split diamond files into batches for processing 
    hsp_len = 0 // remove BLAST hsps that are < hsp_len proportion of query length
    mcl_inflation = 1.5 // mcl inflation value

    // ClonalFrameML
    skip_clonalframe = false
    emsim = 100
    clonal_opts = ""

    // IQ-TREE
    m = "MFP" // automatically determines best-fit model for your data
    bb = 1000 // Ultrafast bootstrap replicates
    alrt = 1000 // SH-like approximate likelihood ratio test (SH-aLRT) replicates
    asr = false // Ancestral state reconstruction by empirical Bayes
    iqtree_opts = ""

    // snp-dists
    a = false // Count all differences not just [AGTC]
    b = false // Keep top left corner cell
    c = false // Output CSV instead of TSV
    k = false // Keep case, don't uppercase all letters
}
