params {
    // Bactopia
    bactopia = null
    prefix = 'core-genome'
    min_time = 2880
    max_time = 4320
    max_memory = 64
    cpus = 1
    outdir = './'
    help = null
    version = null
    infodir = "${params.outdir}/bactopia-info"
    publish_mode = 'copy'
    force = false
    sleep_time = 5
    skip_phylogeny = false
    include = null
    exclude = null
    nfconfig = null
    condadir = "${baseDir}/conda/envs"
    cleanup_workdir = false
    registry = "dockerhub"
    singularity_cache = "$HOME/.bactopia/singularity"
    queue = 'long,high-memory'
    disable_scratch = false

    // AWS Batch
    aws_region = 'us-east-1'
    aws_volumes = '/opt/conda:/mnt/conda'
    aws_cli_path = '/home/ec2-user/conda/bin/aws'
    aws_upload_storage_class = 'STANDARD'
    aws_max_parallel_transfers = 8
    aws_delay_between_attempts = 15
    aws_max_transfer_attempts = 3
    aws_max_retry = 4
    aws_ecr_registry = null
    
    // bactopia tools helper
    force_rebuild = null
    skip_conda = null
    verbose = null
    silent = null

    // RefSeq Assemblies
    assembly = null
    assembly_pattern = "*.fna"
    species = null
    accession = null
    accessions = null
    limit = null
    prokka_evalue = '1e-09'
    prokka_coverage = '80'
    only_completed = false

    // PIRATE
    steps = '50,60,70,80,90,95,98'	// % identity thresholds to use for pangenome construction
    features = 'CDS' //	choose features to use for pangenome construction. Multiple may be entered, separated by a comma
    nucl = false // CDS are not translated to AA sequence [default: off]
    para_off = false // switch off paralog identification [default: off]
    z = false // retain all intermediate files
    pan_opt = '' // Allows the params below to be given as a string

    // ClonalFrameML
    skip_clonalframe = false
    emsim = 100
    clonal_opts = ""

    // IQ-TREE
    m = "MFP" // automatically determines best-fit model for your data
    bb = 1000 // Ultrafast bootstrap replicates
    alrt = 1000 // SH-like approximate likelihood ratio test (SH-aLRT) replicates
    asr = false // Ancestral state reconstruction by empirical Bayes
    iqtree_opts = ""

    // snp-dists
    a = false // Count all differences not just [AGTC]
    b = false // Keep top left corner cell
    c = false // Output CSV instead of TSV
    k = false // Keep case, don't uppercase all letters
}
