/*
This file includes default parameter values.
*/

params {
    // TBProfiler
    call_whole_genome = false
    mapper = "bwa"
    caller = "freebayes"
    calling_params = ""
    tb_min_depth = 10
    tb_af = 0.1
    tb_reporting_af = 0.1
    coverage_fraction_threshold = 0
    suspect = false
    no_flagstat = false
    no_delly = false
}
