params {
    // emmtyper
    emmtyper_align_diff = 5
    emmtyper_cluster_distance = 500
    emmtyper_culling_limit = 5
    emmtyper_gap = 2
    emmtyper_max_size = 2000
    emmtyper_min_good = 15
    emmtyper_min_perfect = 15
    emmtyper_mismatch = 5
    emmtyper_percid = 95
    emmtyper_wf = "blast"
}

process {
    withName: 'EMMTYPER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "emmtyper"

        // Tool arguments
        ext.args = [
            "--workflow ${params.emmtyper_wf}",
            "--cluster-distance ${params.emmtyper_cluster_distance}",
            "--percent-identity ${params.emmtyper_percid}",
            "--culling-limit ${params.emmtyper_culling_limit}",
            "--mismatch ${params.emmtyper_mismatch}",
            "--align-diff ${params.emmtyper_align_diff}",
            "--gap ${params.emmtyper_gap}",
            "--min-perfect ${params.emmtyper_min_perfect}",
            "--min-good ${params.emmtyper_min_good}",
            "--max-size ${params.emmtyper_max_size}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::emmtyper=0.2.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/emmtyper:0.2.0--py_0"
        ext.image = "https://depot.galaxyproject.org/singularity/emmtyper:0.2.0--py_0"
        ext.condaDir = "${params.condadir}"
    }
}
