/*
This file includes default parameter values.
*/

params {
    // emmtyper
    emmtyper_wf = "blast"
    //emmtyper_blastdb = null   // TODO: Remove when Path? is fixed
    emmtyper_cluster_distance = 500
    emmtyper_percid = 95
    emmtyper_culling_limit = 5
    emmtyper_mismatch = 5
    emmtyper_align_diff = 5
    emmtyper_gap = 2
    emmtyper_min_perfect = 15
    emmtyper_min_good = 15
    emmtyper_max_size = 2000
}
