/*
This file includes default process values for emmtyper.
*/

process {
    withName: 'EMMTYPER' {
        // Optional arguments
        ext.args = [
            "--workflow ${params.emmtyper_wf}",
            "--cluster-distance ${params.cluster_distance}",
            "--percent-identity ${params.percid}",
            "--culling-limit ${params.culling_limit}",
            "--mismatch ${params.mismatch}",
            "--align-diff ${params.align_diff}",
            "--gap ${params.gap}",
            "--min-perfect ${params.min_perfect}",
            "--min-good ${params.min_good}",
            "--max-size ${params.max_size}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::emmtyper=0.2.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/emmtyper:0.2.0--py_0",
            image: "https://depot.galaxyproject.org/singularity/emmtyper:0.2.0--py_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "emmtyper"
    }
}
