/*
This file includes default process values for emmtyper.
*/

process {
    withName: 'EMMTYPER' {
        // Optional arguments
        ext.args = [
            "--workflow ${params.emmtyper_wf}",
            "--cluster-distance ${params.emmtyper_cluster_distance}",
            "--percent-identity ${params.emmtyper_percid}",
            "--culling-limit ${params.emmtyper_culling_limit}",
            "--mismatch ${params.emmtyper_mismatch}",
            "--align-diff ${params.emmtyper_align_diff}",
            "--gap ${params.emmtyper_gap}",
            "--min-perfect ${params.emmtyper_min_perfect}",
            "--min-good ${params.emmtyper_min_good}",
            "--max-size ${params.emmtyper_max_size}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::emmtyper=0.2.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/emmtyper:0.2.0--py_0"
        ext.image = "https://depot.galaxyproject.org/singularity/emmtyper:0.2.0--py_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "emmtyper"
    }
}
