// Minimal config for module-level testing of CLERMONTYPING
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "clermontyping"
        logo_name = "bactopia-tools"
        description = "Determine the phylogroup of Escherichia coli isolates"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
