params {
    // csvtk_join
    csvtk_join_opts = ""
}

// bactopia-lint: ignore MC007
process {
    withName: 'CSVTK_JOIN' {
        ext.wf = params.wf
        ext.scope = "run"

        // Tool arguments
        ext.args = [
            "${params.csvtk_join_opts}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::csvtk=0.31.0".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/csvtk:0.31.0--h9ee0642_0"
        ext.image = "https://depot.galaxyproject.org/singularity/csvtk:0.31.0--h9ee0642_0"
        ext.condaDir = "${params.condadir}"
    }
}
