/*
This file includes default process values for csvtk/join.
*/

process {
    withName: 'CSVTK_JOIN' {
        // Environment information
        ext.args = [
            "${params.csvtk_join_opts}",
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        ext.env = [
            toolName: "bioconda::csvtk=0.31.0".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/csvtk:0.31.0--h9ee0642_0",
            image: "https://depot.galaxyproject.org/singularity/csvtk:0.31.0--h9ee0642_0",
            condaDir: "${params.condadir}",
        ]

        ext.wf = params.wf
        ext.rundir = params.rundir
    }
}
