manifest {
    author = 'Robert A. Petit III'
    name = 'bactopia'
    homePage = 'https://github.com/bactopia/bactopia'
    description = 'An extensive workflow for processing Illumina sequencing of bacterial genomes.'
    mainScript = 'main.nf'
    version = '1.6.0'
    nextflowVersion = '>=19'
}


profiles {

    conda {
        process {
            withName: call_variants_auto {
                    conda = "${baseDir}/../../../conda/envs/call_variants-1.7.x"}
                }
          }

    docker {
            process {
            withName: call_variants_auto {
                    container = "ghcr.io/bactopia/call_variants:1.6.0"}

                    }
            }

    test {

        process {
    withName: call_variants_auto {
                cpus = 2
                memory = "10 GB"
        queue = 'long'
            }

        }
        env {
            VERSION = "1.6.0"
            outdir = "test_output"
            sample = "SRR2838702"
            final_sample_type = "paired-end"
            single_end = false
            run_type = "fastqs"
        }

    }
}
