params {
    // plasmidfinder
    plasmidfinder_mincov = 0.60
    plasmidfinder_threshold = 0.90
}

process {
    withName: 'PLASMIDFINDER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "plasmidfinder"

        // Tool arguments
        ext.args = [
            "-l ${params.plasmidfinder_mincov}",
            "-t ${params.plasmidfinder_threshold}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::plasmidfinder=2.1.6=py310hdfd78af_1".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/plasmidfinder:2.1.6--py310hdfd78af_1"
        ext.image = "https://depot.galaxyproject.org/singularity/plasmidfinder:2.1.6--py310hdfd78af_1"
        ext.condaDir = "${params.condadir}"
    }
}
