process {
    withName: 'PLASMIDFINDER' {
        // Optional arguments
        ext.args = {[
            "--mincov ${params.pf_mincov}",
            "--threshold ${params.pf_threshold}"
        ].join(' ').trim()}
        
        // Environment information
        ext.conda = "bioconda::plasmidfinder=2.1.6=py310hdfd78af_1"
        ext.singularity = "https://depot.galaxyproject.org/singularity/plasmidfinder:2.1.6--py310hdfd78af_1"
        ext.docker = "quay.io/biocontainers/plasmidfinder:2.1.6--py310hdfd78af_1"
        
        ext.prefix = { params.prefix ? params.prefix : "${params.wf == 'bactopia' ? meta.id : meta.name}" }
        ext.rundir = "${params.rundir}"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = params.is_workflow ? params.wf : params.process_name
    }
}
