/*
This file includes default process values for shigeifinder.
*/

process {
    withName: 'SHIGEIFINDER' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.env = [
            toolName: "bioconda::shigeifinder=1.3.5".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/shigeifinder:1.3.5--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/shigeifinder:1.3.5--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]
        
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "shigeifinder"
    }
}
