/*
This file includes default process values for shigeifinder.
*/

process {
    withName: 'SHIGEIFINDER' {
        // Optional arguments
        ext.args = ""
        
        // Environment information
        ext.toolName = "bioconda::shigeifinder=1.3.5".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/shigeifinder:1.3.5--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/shigeifinder:1.3.5--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "shigeifinder"
    }
}
