/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // CheckM
    checkm_unique = 10
    checkm_multi = 10
    checkm_aai_strain = 0.9
    checkm_length = 0.7
    checkm_full_tree = null
    checkm_ignore_thresholds = null
    checkm_ali = null
    checkm_nt = null
    checkm_force_domain = null
    checkm_no_refinement = null
    checkm_individual_markers = null
    checkm_skip_adj_correction = null
    checkm_skip_pseudogene_correction = null
}

process {
    withName: 'CHECKM_LINEAGEWF' {
        // Optional arguments
        ext.args = [
            params.checkm_full_tree ? "" : "--reduced_tree",
            params.checkm_ali ? "--ali" : "",
            params.checkm_nt ? "--nt" : "",
            params.checkm_force_domain ? "--force_domain" : "",
            params.checkm_no_refinement ? "--no_refinement" : "",
            params.checkm_individual_markers ? "--individual_markers" : "",
            params.checkm_skip_adj_correction ? "--skip_adj_correction" : "",
            params.checkm_skip_pseudogene_correction ? "--skip_pseudogene_correction" : "",
            params.ignore_thresholds ? "--ignore_thresholds" : "",
            "--unique ${params.checkm_unique}",
            "--multi ${params.checkm_multi}",
            "--aai_strain ${params.checkm_aai_strain }",
            "--length ${params.checkm_length}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::checkm-genome=1.2.3".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/checkm-genome:1.2.3--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/checkm-genome:1.2.3--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"

        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "checkm"
    }
}
