params {
    // CheckM
    checkm_unique = 10
    checkm_multi = 10
    checkm_aai_strain = 0.9
    checkm_length = 0.7
    checkm_full_tree = null
    checkm_ignore_thresholds = null
    checkm_ali = null
    checkm_nt = null
    checkm_force_domain = null
    checkm_no_refinement = null
    checkm_individual_markers = null
    checkm_skip_adj_correction = null
    checkm_skip_pseudogene_correction = null
}
