/*
This file includes default process values for checkm lineagewf.
*/

process {
    withName: 'CHECKM_LINEAGEWF' {
        // Optional arguments
        ext.args = [
            "--unique ${params.checkm_unique}",
            "--multi ${params.checkm_multi}",
            "--aai_strain ${params.aai_strain}",
            "--length ${params.checkm_length}",
            params.full_tree ? "--full_tree" : "",
            params.ignore_thresholds ? "--ignore_thresholds" : "",
            params.checkm_ali ? "--ali" : "",
            params.checkm_nt ? "--nt" : "",
            params.force_domain ? "--force_domain" : "",
            params.no_refinement ? "--no_refinement" : "",
            params.individual_markers ? "--individual_markers" : "",
            params.skip_adj_correction ? "--skip_adj_correction" : "",
            params.skip_pseudogene_correction ? "--skip_pseudogene_correction" : ""
        ].join(' ')

        // Environment information
        ext.env = [
            toolName: "bioconda::checkm-genome=1.2.3".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "quay.io/biocontainers/checkm-genome:1.2.3--pyhdfd78af_0",
            image: "https://depot.galaxyproject.org/singularity/checkm-genome:1.2.3--pyhdfd78af_0",
            condaDir: "${params.condadir}",
        ]

        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "checkm"
    }
}
