/*
This file includes default parameter values.
*/

params {
    // Roary
    o = "clustered_proteins" // clusters output filename [clustered_proteins]
    n = false // fast core gene alignment with MAFFT
    i = 95 // minimum percentage identity for blastp [95]
    cd = 99 // percentage of isolates a gene must be in to be core [99]
    g = 50000 // maximum number of clusters [50000]
    s = false // dont split paralogs
    ap = false // allow paralogs in core alignment
    iv = "1.5"
}
