params {
    // eggnog_mapper
    eggnog_genepred = "search"
    eggnog_mode = "diamond"
    eggnog_opts = ""
}

process {
    withName: 'EGGNOG_MAPPER' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "eggnog"

        // Tool arguments
        ext.args = [
            "--genepred ${params.eggnog_genepred}",
            "-m ${params.eggnog_mode}",
            "${params.eggnog_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::eggnog-mapper=2.1.13".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/eggnog-mapper:2.1.13--pyhdfd78af_2"
        ext.image = "https://depot.galaxyproject.org/singularity/eggnog-mapper:2.1.13--pyhdfd78af_2"
        ext.condaDir = "${params.condadir}"
    }
}
