/*
Bactopia Module Configuration

Defines parameter defaults, the container images, resource labels, and other settings
for the process defined in this directory.
*/

params {
    // eggnog-mapper
    eggnog_genepred = "search"
    eggnog_mode = "diamond"
    eggnog_opts = ""
}

process {
    withName: 'EGGNOG_MAPPER' {
        // Optional arguments
        ext.args = [
            "--genepred ${params.eggnog_genepred}",
            "-m ${params.eggnog_mode}",
            "${params.eggnog_opts}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.toolName = "bioconda::eggnog-mapper=2.1.12".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/eggnog-mapper:2.1.12--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/eggnog-mapper:2.1.12--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
        
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "eggnog"
    }
}
