/*
This file includes default process values for ngmaster.
*/

process {
    withName: 'NGMASTER' {
        // Optional arguments
        ext.args = [
            params.ngm_csv ? "--csv" : ""
        ].join(' ').replaceAll("\\s{2,}", " ").trim()
        
        // Environment information
        ext.env = [
            toolName: "bioconda::ngmaster=0.5.8".replace("=", "-").replace(":", "-").replace(" ", "-"),
            docker: "biocontainers/ngmaster:0.5.8--pyhdfd78af_1",
            image: "https://depot.galaxyproject.org/singularity/ngmaster:0.5.8--pyhdfd78af_1",
            condaDir: "${params.condadir}",
        ]
        
        ext.wf = params.wf
        ext.rundir = params.rundir
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ngmaster"
    }
}
