/*
This file includes default values for shared parameters.
*/

params {
    // Seqeunce Type Parameters
    mlst_nucmer_min_id = 90
    mlst_nucmer_min_len = 20
    mlst_nucmer_breaklen = 200
    mlst_assembly_cov = 50
    mlst_min_scaff_depth = 10
    mlst_spades_options = null
    mlst_ariba_no_clean = false
}
