// Minimal config for module-level testing of GUBBINS
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../conf/test_base.config"

params {
    workflow {
        name = "gubbins"
        logo_name = "bactopia-tools"
        description = "Detect recombination and construct a recombination-free phylogeny"
        ext = "fna"
    }

    wf = params.workflow.name

    // Max Job Request Parameters
    max_cpus = 4
}

includeConfig "../module.config"
includeConfig "../../../conf/base.config"
includeConfig "../../../conf/profiles.config"
