// Minimal config for module-level testing of SKETCHER
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "sketcher"
        logo_name = "bactopia-tools"
        description = "Create genomic sketches and perform rapid taxonomic classification"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
