// Minimal config for module-level testing of SKETCHER
nextflow.preview.types = true
nextflow.enable.strict = true

params {
    workflow {
        name = "sketcher"
        logo_name = "bactopia-tools"
        description = "Create genomic sketches and perform rapid taxonomic classification"
        ext = "fna"
    }

    bactopia_version = '4.0.0'
    bactopia_cache = System.getenv("BACTOPIA_CACHEDIR") ?: "${System.getenv('HOME')}/.bactopia"
    condadir = "${params.bactopia_cache}/conda"
    wf = params.workflow.name
    merge_folder = "merged-results"
    test_data_dir = System.getenv("BACTOPIA_TESTS") ?: ""
    is_ci = true

    // Max Job Request Parameters
    max_retry = 1
    max_time = 2.h
    max_memory = 8.GB
    max_cpus = 2

    // Nextflow Profile Parameters
    registry = "quay.io"
    singularity_cache = "${params.bactopia_cache}/singularity"
    singularity_pull_docker_container = false
    container_opts = ""
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
