process {
    // Defaults
    cpus = {check_max(1, 'cpus' )}
    memory = {check_max(16.GB * task.attempt, 'memory' )}
    time = {check_max( 720.m * task.attempt, 'time' )}
    errorStrategy = 'retry'
    maxRetries = 0

    withName: 'pangenome|start_tree|final_tree' {
        cpus = {check_max(params.cpus, 'cpus')}
    }
}
